Repository NeiruBugz/play-later-v2: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    prettier:
      glob: "*.{js,jsx,ts,tsx,json,css,md}"
      run: |
        FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\n' ' ')
        if [ -n "$FILES" ]; then
          cd savepoint-app && pnpm exec prettier --write --cache $FILES
        fi
      stage_fixed: true
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: |
        FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\n' ' ')
        if [ -n "$FILES" ]; then
          cd savepoint-app && pnpm exec eslint --fix $FILES
        fi
      stage_fixed: true
    typecheck:
      run: cd savepoint-app && pnpm typecheck

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

feat(gaming-journal): create journal entry (BE)
  .awos/commands/implement.md
  .awos/commands/tasks.md
  context/product/roadmap.md
  context/spec/004-gaming-journal/functional-spec.md
  context/spec/004-gaming-journal/tasks.md
  context/spec/004-gaming-journal/technical-considerations.md
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.integration.test.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.ts
  savepoint-app/data-access-layer/services/journal/journal-service.ts
  savepoint-app/data-access-layer/services/journal/journal-service.unit.test.ts
  savepoint-app/features/journal/schemas.ts
  savepoint-app/features/journal/server-actions/create-journal-entry.server-action.test.ts
  savepoint-app/features/journal/server-actions/create-journal-entry.ts
Due: prettier, eslint

feat(gaming-journal): implement find journal entry
  context/product/roadmap.md
  context/spec/004-gaming-journal/tasks.md
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.integration.test.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.ts
  savepoint-app/data-access-layer/services/journal/journal-service.ts
  savepoint-app/data-access-layer/services/journal/journal-service.unit.test.ts
  savepoint-app/features/journal/server-actions/create-journal-entry.server-action.test.ts
Due: prettier, eslint

feat(gaming-journal): implement Update Journal Entry
  context/spec/004-gaming-journal/tasks.md
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.integration.test.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.ts
  savepoint-app/data-access-layer/services/journal/journal-service.ts
  savepoint-app/data-access-layer/services/journal/journal-service.unit.test.ts
  savepoint-app/features/journal/schemas.ts
  savepoint-app/features/journal/server-actions/update-journal-entry.server-action.test.ts
  savepoint-app/features/journal/server-actions/update-journal-entry.ts
Due: prettier, eslint

feat(gaming-journal): implement delete journal entry functionality
  context/spec/004-gaming-journal/tasks.md
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.integration.test.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.ts
  savepoint-app/data-access-layer/services/journal/journal-service.ts
  savepoint-app/data-access-layer/services/journal/journal-service.unit.test.ts
  savepoint-app/features/journal/schemas.ts
  savepoint-app/features/journal/server-actions/delete-journal-entry.server-action.test.ts
  savepoint-app/features/journal/server-actions/delete-journal-entry.ts
Due: prettier, eslint

refactor(journal): improve logging and code formatting in journal service and tests
  savepoint-app/data-access-layer/repository/journal/journal-repository.integration.test.ts
  savepoint-app/data-access-layer/services/journal/journal-service.ts
  savepoint-app/data-access-layer/services/journal/journal-service.unit.test.ts
  savepoint-app/features/journal/schemas.ts
  savepoint-app/features/journal/server-actions/create-journal-entry.server-action.test.ts
  savepoint-app/features/journal/server-actions/create-journal-entry.ts
  savepoint-app/features/journal/server-actions/delete-journal-entry.ts
  savepoint-app/features/journal/server-actions/update-journal-entry.server-action.test.ts
  savepoint-app/features/journal/server-actions/update-journal-entry.ts
  savepoint-app/features/library/ui/library-filters.tsx
  savepoint-app/features/manage-library-entry/use-cases/add-game-to-library.integration.test.ts
  savepoint-app/shared/components/game-card/game-card.types.ts
  savepoint-app/shared/components/ui/alert.tsx
  savepoint-app/shared/components/ui/badge.tsx
  savepoint-app/shared/components/ui/button.tsx
  savepoint-app/shared/components/ui/card.tsx
  savepoint-app/shared/components/ui/empty-state.tsx
  savepoint-app/shared/components/ui/progress-ring.tsx
  savepoint-app/shared/components/ui/skeleton.tsx
Due: prettier, eslint

feat(related-games): implement categorization and UI for related games
  .awos/commands/tasks.md
  .gemini/commands/awos/architecture.toml
  .gemini/commands/awos/implement.toml
  .gemini/commands/awos/product.toml
  .gemini/commands/awos/roadmap.toml
  .gemini/commands/awos/spec.toml
  .gemini/commands/awos/tasks.toml
  .gemini/commands/awos/tech.toml
  .gemini/extensions/e2e-testing-expert/e2e-testing-expert-persona.md
  .gemini/extensions/e2e-testing-expert/gemini-extension.json
  .gemini/extensions/kotlin-expert/gemini-extension.json
  .gemini/extensions/kotlin-expert/kotlin-expert-persona.md
  .gemini/extensions/nextjs-backend-expert/gemini-extension.json
  .gemini/extensions/nextjs-backend-expert/nextjs-backend-expert-persona.md
  .gemini/extensions/nextjs-ui-expert/gemini-extension.json
  .gemini/extensions/nextjs-ui-expert/nextjs-ui-expert-persona.md
  .gemini/extensions/python-expert/gemini-extension.json
  .gemini/extensions/python-expert/python-expert-persona.md
  .gemini/extensions/react-expert/gemini-extension.json
  .gemini/extensions/react-expert/react-expert-persona.md
  .gemini/extensions/testing-expert/gemini-extension.json
  .gemini/extensions/testing-expert/testing-expert-persona.md
  .github/agents/kotlin-expert.agent.md
  .github/agents/python-expert.agent.md
  .github/agents/react-expert.agent.md
  .github/prompts/architecture.prompt.md
  .github/prompts/implement.prompt.md
  .github/prompts/product.prompt.md
  .github/prompts/roadmap.prompt.md
  .github/prompts/spec.prompt.md
  .github/prompts/tasks.prompt.md
  .github/prompts/tech.prompt.md
  context/spec/005-related-games-categorization/functional-spec.md
  context/spec/005-related-games-categorization/tasks.md
  context/spec/005-related-games-categorization/technical-considerations.md
  savepoint-app/features/journal/server-actions/get-games-by-ids.ts
  savepoint-app/features/journal/server-actions/get-journal-entries.ts
  savepoint-app/features/journal/ui/journal-timeline-server.tsx
  savepoint-app/shared/lib/rich-text.ts
Due: prettier, eslint

fix errors
  savepoint-app/features/journal/server-actions/create-journal-entry.server-action.test.ts
  savepoint-app/features/journal/server-actions/get-games-by-ids.ts
  savepoint-app/features/journal/server-actions/get-journal-entries.ts
  savepoint-app/features/journal/server-actions/update-journal-entry.server-action.test.ts
  savepoint-app/features/journal/ui/game-selector.tsx
  savepoint-app/features/journal/ui/journal-entry-card.test.tsx
  savepoint-app/features/journal/ui/journal-entry-card.tsx
  savepoint-app/features/journal/ui/journal-entry-detail.test.tsx
  savepoint-app/features/journal/ui/journal-entry-detail.tsx
  savepoint-app/features/journal/ui/journal-entry-form.test.tsx
  savepoint-app/features/journal/ui/journal-entry-form.tsx
  savepoint-app/features/journal/ui/journal-timeline-client.test.tsx
  savepoint-app/features/journal/ui/journal-timeline-client.tsx
  savepoint-app/features/journal/ui/journal-timeline-server.tsx
  savepoint-app/features/journal/ui/journal-timeline.test.tsx
  savepoint-app/shared/components/rich-text-editor.test.tsx
  savepoint-app/shared/lib/rich-text.ts
  savepoint-app/shared/types/index.ts
  savepoint-app/shared/types/statistics.ts
Due: prettier, eslint

feat(related-games): refactor related games feature to use collections
  savepoint-app/app/games/[slug]/page.tsx
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/data-access-layer/services/igdb/types.ts
  savepoint-app/features/browse-related-games/ui/index.ts
  savepoint-app/features/browse-related-games/ui/related-games-client.tsx
  savepoint-app/features/browse-related-games/ui/related-games-client.types.ts
  savepoint-app/features/browse-related-games/ui/related-games-server.tsx
  savepoint-app/features/browse-related-games/ui/related-games-server.types.ts
  savepoint-app/shared/types/igdb.ts
Due: prettier, eslint

feat(gaming-journal): remove functional specification and tasks for gaming journal feature
  context/spec/004-gaming-journal/functional-spec.md
  context/spec/004-gaming-journal/tasks.md
  context/spec/004-gaming-journal/technical-considerations.md
  context/spec/005-related-games-categorization/functional-spec.md
  context/spec/005-related-games-categorization/tasks.md
  context/spec/005-related-games-categorization/technical-considerations.md
Due: prettier

fix: add missing collections property to test fixtures and clean up exports
  savepoint-app/data-access-layer/services/game-detail/game-detail-service.integration.test.ts
  savepoint-app/data-access-layer/services/igdb/types.ts
  savepoint-app/features/browse-related-games/index.ts
Due: prettier, eslint

style: fix formatting issues
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/data-access-layer/services/igdb/types.ts
  savepoint-app/features/library/ui/library-filters.tsx
  savepoint-app/features/manage-library-entry/use-cases/add-game-to-library.integration.test.ts
  savepoint-app/shared/components/game-card/game-card.types.ts
  savepoint-app/shared/components/ui/alert.tsx
  savepoint-app/shared/components/ui/badge.tsx
  savepoint-app/shared/components/ui/button.tsx
  savepoint-app/shared/components/ui/card.tsx
  savepoint-app/shared/components/ui/empty-state.tsx
  savepoint-app/shared/components/ui/progress-ring.tsx
  savepoint-app/shared/components/ui/skeleton.tsx
Due: prettier, eslint

fix(e2e): update environment configuration for local development
  .github/workflows/e2e.yml
  savepoint-app/data-access-layer/services/igdb/queries.ts
  savepoint-app/e2e/auth-returning.spec.ts
  savepoint-app/e2e/global-setup.ts
  savepoint-app/e2e/global-teardown.ts
Due: prettier, eslint

refactor(igdb-service): enhance validation and schema definitions
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/schemas/output.ts
  savepoint-app/e2e/global-setup.ts
  savepoint-app/e2e/global-teardown.ts
Due: prettier, eslint

refactor(game-search): enhance game data structure and improve integration tests
  savepoint-app/data-access-layer/handlers/game-search/game-search-handler.integration.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/queries.ts
Due: prettier, eslint

Refactor IGDB service with schema validation and query builders (#149)
  .github/workflows/e2e.yml
  savepoint-app/data-access-layer/handlers/game-search/game-search-handler.integration.test.ts
  savepoint-app/data-access-layer/services/game-detail/game-detail-service.integration.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/queries.ts
  savepoint-app/data-access-layer/services/igdb/schemas/index.ts
  savepoint-app/data-access-layer/services/igdb/schemas/input.ts
  savepoint-app/data-access-layer/services/igdb/schemas/output.ts
  savepoint-app/data-access-layer/services/igdb/types.ts
  savepoint-app/e2e/auth-returning.spec.ts
  savepoint-app/e2e/global-setup.ts
  savepoint-app/e2e/global-teardown.ts
  savepoint-app/features/browse-related-games/index.ts
  savepoint-app/features/library/ui/library-filters.tsx
  savepoint-app/features/manage-library-entry/use-cases/add-game-to-library.integration.test.ts
  savepoint-app/shared/components/game-card/game-card.types.ts
  savepoint-app/shared/components/ui/alert.tsx
  savepoint-app/shared/components/ui/badge.tsx
  savepoint-app/shared/components/ui/button.tsx
  savepoint-app/shared/components/ui/card.tsx
  savepoint-app/shared/components/ui/empty-state.tsx
  savepoint-app/shared/components/ui/progress-ring.tsx
  savepoint-app/shared/components/ui/skeleton.tsx
Due: prettier, eslint

feat(journal): integrate GameService for fetching game data in journal components
  savepoint-app/app/(protected)/journal/[id]/page.tsx
  savepoint-app/data-access-layer/repository/game/game-repository.ts
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/data-access-layer/services/game/game-service.ts
  savepoint-app/data-access-layer/services/game/index.ts
  savepoint-app/data-access-layer/services/igdb/queries.ts
  savepoint-app/data-access-layer/services/igdb/types.ts
  savepoint-app/data-access-layer/services/index.ts
  savepoint-app/features/journal/schemas.ts
  savepoint-app/features/journal/ui/game-selector.tsx
  savepoint-app/features/journal/ui/journal-entry-card.tsx
  savepoint-app/features/journal/ui/journal-entry-form.test.tsx
  savepoint-app/features/journal/ui/journal-entry-form.tsx
  savepoint-app/features/journal/ui/journal-timeline-server.tsx
  savepoint-app/features/journal/ui/journal-timeline.tsx
  savepoint-app/shared/components/rich-text-editor.test.tsx
  savepoint-app/shared/types/igdb.ts
  savepoint-app/test/setup/common-mocks.ts
Due: prettier, eslint

feat(journal): add DOMPurify for content sanitization in journal entries
  pnpm-lock.yaml
  savepoint-app/features/journal/ui/journal-entry-detail.tsx
  savepoint-app/features/journal/ui/journal-entry-form.tsx
  savepoint-app/features/journal/ui/journal-timeline-client.tsx
  savepoint-app/features/journal/ui/journal-timeline-server.tsx
  savepoint-app/package.json
Due: prettier, eslint

style(journal): format code for improved readability
  savepoint-app/features/journal/ui/journal-entry-detail.tsx
  savepoint-app/features/journal/ui/journal-timeline-client.tsx
  savepoint-app/features/journal/ui/journal-timeline-server.tsx
Due: prettier, eslint

feat(journal): enhance error handling in JournalTimelineClient
  savepoint-app/features/journal/ui/journal-timeline-client.tsx
  savepoint-app/prisma/migrations/20251211192825_add_game_relationships_and_franchise/migration.sql
  savepoint-app/prisma/schema.prisma
Due: prettier, eslint

feat(igdb): enhance game data handling for sparse and minimal fields
  savepoint-app/data-access-layer/services/game-detail/game-detail-service.integration.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/schemas/output.ts
  savepoint-app/data-access-layer/services/igdb/types.ts
  savepoint-app/features/journal/ui/game-selector.tsx
  savepoint-app/features/journal/ui/journal-entry-detail.tsx
  savepoint-app/prisma/migrations/20251209105237_add_game_relationships_and_franchise/migration.sql
  savepoint-app/prisma/migrations/20251211192825_add_game_relationships_and_franchise/migration.sql
  savepoint-app/prisma/schema.prisma
  savepoint-app/shared/types/igdb.ts
  savepoint-app/test/fixtures/igdb/game-minimal-data.json
  savepoint-app/test/fixtures/igdb/game-sparse-data.json
  savepoint-app/test/fixtures/igdb/similar-games-sparse.json
Due: prettier, eslint

feat(migration): add foreign key constraints for Review and JournalEntry tables
  savepoint-app/prisma/migrations/20251212061128_add_fk_for_review_and_journal/migration.sql
Due: none

feat(tests): implement waitForGameInDatabase utility for improved game retrieval in integration tests
  savepoint-app/data-access-layer/services/game-detail/game-detail-service.integration.test.ts
Due: prettier, eslint

Update dependencies and improve input validation error handling
  pnpm-lock.yaml
  savepoint-app/data-access-layer/handlers/library/get-library-handler.ts
  savepoint-app/data-access-layer/handlers/platform/get-platforms-handler.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/data-access-layer/services/igdb/schemas/input.ts
  savepoint-app/data-access-layer/services/library/library-service.ts
  savepoint-app/features/auth/server-actions/sign-in.ts
  savepoint-app/features/auth/server-actions/sign-up.ts
  savepoint-app/features/browse-related-games/server-actions/load-more-franchise-games.ts
  savepoint-app/features/manage-library-entry/server-actions/delete-library-item.ts
  savepoint-app/features/manage-library-entry/server-actions/update-library-status-action.ts
  savepoint-app/features/profile/server-actions/update-profile.server-action.test.ts
  savepoint-app/features/profile/server-actions/update-profile.ts
  savepoint-app/features/setup-profile/server-actions/check-username-availability.ts
  savepoint-app/features/setup-profile/server-actions/complete-profile-setup.ts
  savepoint-app/package.json
  savepoint-app/shared/lib/server-action/create-server-action.ts
  savepoint-app/shared/types/collection.ts
Due: prettier, eslint

Update dependencies and improve test configurations
  package.json
  pnpm-lock.yaml
  savepoint-app/app/api/games/search/route.test.ts
  savepoint-app/data-access-layer/handlers/library/get-library-handler.unit.test.ts
  savepoint-app/e2e/library.spec.ts
  savepoint-app/e2e/pages/library.page.ts
  savepoint-app/features/auth/server-actions/sign-up.server-action.test.ts
  savepoint-app/features/browse-related-games/use-cases/get-franchise-games.unit.test.ts
  savepoint-app/features/game-detail/use-cases/get-game-details.unit.test.ts
  savepoint-app/features/journal/server-actions/create-journal-entry.server-action.test.ts
  savepoint-app/features/journal/server-actions/delete-journal-entry.server-action.test.ts
  savepoint-app/features/journal/server-actions/update-journal-entry.server-action.test.ts
  savepoint-app/features/manage-library-entry/server-actions/delete-library-item.server-action.test.ts
  savepoint-app/features/manage-library-entry/use-cases/add-game-to-library.unit.test.ts
  savepoint-app/features/manage-library-entry/use-cases/get-platforms-for-library-modal.unit.test.ts
  savepoint-app/features/profile/server-actions/update-profile.server-action.test.ts
  savepoint-app/package.json
  savepoint-app/test/setup/client-setup.ts
  savepoint-app/vitest.config.ts
  savepoint-app/vitest.coverage.config.ts
Due: prettier, eslint

Refactor test configurations and improve mock implementations
  savepoint-app/shared/components/rich-text-editor.test.tsx
  savepoint-app/vitest.config.ts
  savepoint-app/vitest.coverage.config.ts
Due: prettier, eslint

Refactor S3 client handling and improve test configurations
  savepoint-app/features/setup-profile/server-actions/upload-avatar.integration.test.ts
  savepoint-app/shared/lib/storage/avatar-storage.integration.test.ts
  savepoint-app/shared/lib/storage/avatar-storage.ts
  savepoint-app/shared/lib/storage/avatar-storage.unit.test.ts
  savepoint-app/shared/lib/storage/s3-client.ts
  savepoint-app/test/setup/integration.ts
  savepoint-app/vitest.config.ts
  savepoint-app/vitest.coverage.config.ts
Due: prettier, eslint

Refactor test files and improve code formatting
  savepoint-app/shared/lib/storage/avatar-storage.unit.test.ts
  savepoint-app/test/setup/integration.ts
  savepoint-app/vitest.coverage.config.ts
Due: prettier, eslint

scaffold lambda
  lambdas-py/.env.example
  lambdas-py/.gitignore
  lambdas-py/.python-version
  lambdas-py/README.md
  lambdas-py/pyproject.toml
  lambdas-py/src/lambdas/__init__.py
  lambdas-py/src/lambdas/clients/__init__.py
  lambdas-py/src/lambdas/config.py
  lambdas-py/src/lambdas/errors.py
  lambdas-py/src/lambdas/handlers/__init__.py
  lambdas-py/src/lambdas/handlers/hello.py
  lambdas-py/src/lambdas/logging.py
  lambdas-py/src/lambdas/models/__init__.py
  lambdas-py/src/lambdas/services/__init__.py
  lambdas-py/tests/__init__.py
  lambdas-py/tests/conftest.py
  lambdas-py/tests/integration/__init__.py
  lambdas-py/tests/unit/__init__.py
  lambdas-py/tests/unit/test_hello_handler.py
  lambdas-py/uv.lock
Due: prettier

feat(steam-import-pipeline): implement Steam library import pipeline
  context/spec/005-steam-import-pipeline/functional-spec.md
  context/spec/005-steam-import-pipeline/tasks.md
  context/spec/005-steam-import-pipeline/technical-considerations.md
  lambdas-py/pyproject.toml
  lambdas-py/src/lambdas/clients/igdb.py
  lambdas-py/src/lambdas/clients/s3.py
  lambdas-py/src/lambdas/clients/steam.py
  lambdas-py/src/lambdas/handlers/__init__.py
  lambdas-py/src/lambdas/handlers/igdb_enrichment.py
  lambdas-py/src/lambdas/handlers/steam_import.py
  lambdas-py/src/lambdas/logging.py
  lambdas-py/src/lambdas/models/igdb.py
  lambdas-py/src/lambdas/models/steam.py
  lambdas-py/src/lambdas/services/__init__.py
  lambdas-py/src/lambdas/services/classifier.py
  lambdas-py/tests/conftest.py
  lambdas-py/tests/unit/test_classifier.py
  lambdas-py/tests/unit/test_igdb_client.py
  lambdas-py/tests/unit/test_igdb_enrichment_handler.py
  lambdas-py/tests/unit/test_s3_client.py
  lambdas-py/tests/unit/test_steam_client.py
  lambdas-py/tests/unit/test_steam_import_handler.py
  lambdas-py/uv.lock
Due: prettier

fix(lambdas-py): address PR #148 CodeRabbit review comments
  context/spec/001-architecture-consistency-refactoring/functional-spec.md
  context/spec/001-architecture-consistency-refactoring/tasks.md
  context/spec/001-architecture-consistency-refactoring/technical-considerations.md
  context/spec/005-steam-import-pipeline/tasks.md
  infra/modules/secrets/main.tf
  infra/modules/secrets/variables.tf
  lambdas-py/src/lambdas/handlers/database_import.py
  lambdas-py/src/lambdas/services/database.py
  lambdas-py/tests/integration/conftest.py
  lambdas-py/tests/integration/test_database_integration.py
  lambdas-py/tests/integration/test_full_pipeline_integration.py
  lambdas-py/tests/integration/test_igdb_client_integration.py
  lambdas-py/tests/integration/test_steam_client_integration.py
  lambdas-py/tests/unit/services/test_database.py
  lambdas-py/tests/unit/test_s3_client.py
Due: prettier

refactor(infrastructure): update secret management to use AWS CLI for sensitive values
  infra/envs/dev/main.tf
  infra/envs/dev/variables.tf
  infra/envs/prod/main.tf
  infra/envs/prod/variables.tf
  infra/modules/secrets/main.tf
  infra/modules/secrets/variables.tf
  lambdas-py/README.md
  lambdas-py/src/lambdas/clients/igdb.py
Due: prettier

feat(lambdas-py): enhance game data handling and logging improvements
  infra/modules/lambda-imports-bucket/main.tf
  infra/modules/secrets/variables.tf
  lambdas-py/.env.integration.example
  lambdas-py/.gitignore
  lambdas-py/README.md
  lambdas-py/pyproject.toml
  lambdas-py/src/lambdas/clients/igdb.py
  lambdas-py/src/lambdas/clients/s3.py
  lambdas-py/src/lambdas/clients/steam.py
  lambdas-py/src/lambdas/handlers/database_import.py
  lambdas-py/src/lambdas/handlers/hello.py
  lambdas-py/src/lambdas/handlers/igdb_enrichment.py
  lambdas-py/src/lambdas/logging.py
  lambdas-py/src/lambdas/services/database.py
  lambdas-py/tests/conftest.py
  lambdas-py/tests/integration/README.md
  lambdas-py/tests/integration/conftest.py
  lambdas-py/tests/integration/test_igdb_client_integration.py
  lambdas-py/tests/unit/services/test_database.py
  lambdas-py/tests/unit/test_database_import_handler.py
  lambdas-py/uv.lock
Due: prettier

feat(lambdas-py): enhance secret management in configuration and handlers
  lambdas-py/pyproject.toml
  lambdas-py/src/lambdas/config.py
  lambdas-py/src/lambdas/handlers/igdb_enrichment.py
  lambdas-py/src/lambdas/handlers/steam_import.py
  lambdas-py/src/lambdas/services/database.py
  lambdas-py/tests/integration/conftest.py
  lambdas-py/tests/integration/test_full_pipeline_integration.py
  lambdas-py/tests/unit/services/test_database.py
  lambdas-py/tests/unit/test_igdb_enrichment_handler.py
  lambdas-py/tests/unit/test_steam_import_handler.py
Due: none

fix(lambdas-py): improve error handling for Steam API timeouts and enhance async event loop management
  lambdas-py/src/lambdas/clients/steam.py
  lambdas-py/src/lambdas/handlers/igdb_enrichment.py
  lambdas-py/tests/unit/test_steam_client.py
Due: none

refactor(tests): update cleanup_db_test_data to yield before test execution and add S3 key extraction utility
  lambdas-py/tests/integration/conftest.py
  lambdas-py/tests/integration/test_full_pipeline_integration.py
Due: none

feat(tests): introduce technical specification for testing infrastructure improvements
  context/spec/002-testing-infrastructure-improvements/technical-considerations.md
  context/spec/005-steam-import-pipeline/functional-spec.md
  context/spec/005-steam-import-pipeline/tasks.md
  context/spec/005-steam-import-pipeline/technical-considerations.md
Due: prettier
