Repository NeiruBugz/play-later-v2: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: "FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\\n' ' ')\nif [ -n \"$FILES\" ]; then\n  cd savepoint-app && pnpm exec prettier --write --cache $FILES\nfi\n"
  stage_fixed: true

eslint:
  run: "FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\\n' ' ')\nif [ -n \"$FILES\" ]; then\n  cd savepoint-app && pnpm exec eslint --fix $FILES\nfi\n"
  stage_fixed: true

♻️ refactor(dal): steam — typed throws + 403 override pattern (slice 11)
  savepoint-app/app/api/steam/auth/callback/route.ts
  savepoint-app/data-access-layer/handlers/map-error.ts
  savepoint-app/data-access-layer/handlers/steam-import/fetch-steam-games.handler.ts
  savepoint-app/data-access-layer/handlers/steam-import/steam-connect.handler.ts
  savepoint-app/data-access-layer/services/steam/__tests__/errors.unit.test.ts
  savepoint-app/data-access-layer/services/steam/errors.ts
  savepoint-app/data-access-layer/services/steam/steam-openid-service.ts
  savepoint-app/data-access-layer/services/steam/steam-openid-service.unit.test.ts
  savepoint-app/data-access-layer/services/steam/steam-service.ts
  savepoint-app/data-access-layer/services/steam/steam-service.unit.test.ts
  savepoint-app/features/steam-import/server-actions/__tests__/disconnect-steam.server-action.test.ts
  savepoint-app/features/steam-import/server-actions/disconnect-steam.ts
Due: prettier, eslint

♻️ refactor(dal): igdb — typed throws + retire switch-on-code (slice 12)
  savepoint-app/data-access-layer/handlers/igdb/igdb-handler.ts
  savepoint-app/data-access-layer/handlers/igdb/igdb-handler.unit.test.ts
  savepoint-app/data-access-layer/handlers/platform/get-platforms-for-library-modal.ts
  savepoint-app/data-access-layer/services/igdb/errors.ts
  savepoint-app/data-access-layer/services/igdb/igdb-discovery.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-edge-cases.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-matcher.ts
  savepoint-app/data-access-layer/services/igdb/igdb-matcher.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-search.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/data-access-layer/services/igdb/index.ts
  savepoint-app/data-access-layer/services/igdb/types.ts
  savepoint-app/data-access-layer/services/index.ts
  savepoint-app/features/browse-related-games/ui/related-games.tsx
  savepoint-app/features/game-detail/use-cases/get-game-details.ts
  savepoint-app/features/game-detail/use-cases/get-game-details.unit.test.ts
  savepoint-app/features/manage-library-entry/server-actions/library-actions.integration.test.ts
  savepoint-app/features/manage-library-entry/server-actions/quick-add-to-library-action.integration.test.ts
  savepoint-app/features/manage-library-entry/use-cases/add-game-to-library.integration.test.ts
  savepoint-app/features/manage-library-entry/use-cases/add-game-to-library.ts
  savepoint-app/features/manage-library-entry/use-cases/add-game-to-library.unit.test.ts
  savepoint-app/features/manage-library-entry/use-cases/get-platforms-for-library-modal.unit.test.ts
  savepoint-app/features/steam-import/use-cases/import-game-to-library.ts
  savepoint-app/features/steam-import/use-cases/import-game-to-library.unit.test.ts
Due: prettier, eslint

♻️ refactor(dal): auth — typed throws (slice 13)
  savepoint-app/data-access-layer/services/auth/auth-service.ts
  savepoint-app/data-access-layer/services/auth/auth-service.unit.test.ts
  savepoint-app/data-access-layer/services/auth/types.ts
  savepoint-app/features/auth/server-actions/sign-up.server-action.test.ts
  savepoint-app/features/auth/server-actions/sign-up.ts
Due: prettier, eslint

📝 docs(spec): tick slices 10-13 in spec 017 task tracker
  context/spec/017-dal-typed-throw/tasks.md
Due: prettier

🔥 refactor(dal): reaper — delete Result-wrapper machinery (slice 14)
  savepoint-app/data-access-layer/CLAUDE.md
  savepoint-app/data-access-layer/repository/CLAUDE.md
  savepoint-app/data-access-layer/repository/errors.ts
  savepoint-app/data-access-layer/repository/follow/follow-repository.integration.test.ts
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/data-access-layer/repository/types.ts
  savepoint-app/data-access-layer/services/CLAUDE.md
  savepoint-app/data-access-layer/services/README.md
  savepoint-app/data-access-layer/services/auth/auth-service.unit.test.ts
  savepoint-app/data-access-layer/services/index.ts
  savepoint-app/data-access-layer/services/types.ts
  savepoint-app/features/CLAUDE.md
  savepoint-app/test/helpers/service-test-helpers.ts
Due: prettier, eslint

📝 docs(spec): tick slice 14 reaper + bump status to in review
  context/spec/017-dal-typed-throw/functional-spec.md
  context/spec/017-dal-typed-throw/tasks.md
  context/spec/017-dal-typed-throw/technical-considerations.md
Due: prettier

🔥 docs: scrub stale Result-pattern references from auxiliary docs
  savepoint-app/SECURITY.md
  savepoint-app/data-access-layer/handlers/README.md
  savepoint-app/data-access-layer/services/steam/README.md
  savepoint-app/test/guides/BACKEND_TESTING.md
Due: prettier

✅ docs(spec): mark spec 017 (DAL typed-throw) as Completed
  context/spec/017-dal-typed-throw/functional-spec.md
  context/spec/017-dal-typed-throw/technical-considerations.md
Due: prettier

chore(deps): bump react to 19.2.5 to match react-dom and refresh lockfile
  pnpm-lock.yaml
  savepoint-app/package.json
Due: prettier

chore(deps): refresh pnpm lockfile
  pnpm-lock.yaml
Due: none

chore(deps): silence baseUrl deprecation for typescript 6
  savepoint-app/tsconfig.json
Due: prettier

test(library): add missing revalidateTag mock in update-library-status test
  savepoint-app/features/library/server-actions/update-library-status.integration.test.ts
Due: prettier, eslint

refactor(spec-018): address CodeRabbit review
  context/spec/018-faster-signed-in-pages-desktop/tasks.md
  savepoint-app/app/api/health/route.ts
  savepoint-app/data-access-layer/services/profile/profile-service.ts
  savepoint-app/features/dashboard/ui/quick-log-hero.tsx
  savepoint-app/features/dashboard/use-cases/get-greeting-username.ts
  savepoint-app/features/journal/server-actions/create-journal-entry.server-action.test.ts
  savepoint-app/features/journal/server-actions/create-journal-entry.ts
  savepoint-app/features/journal/server-actions/delete-journal-entry.server-action.test.ts
  savepoint-app/features/journal/server-actions/delete-journal-entry.ts
  savepoint-app/features/journal/server-actions/update-journal-entry.server-action.test.ts
  savepoint-app/features/journal/server-actions/update-journal-entry.ts
  savepoint-app/features/library/server-actions/update-library-status.ts
  savepoint-app/features/manage-library-entry/server-actions/add-to-library-action.ts
  savepoint-app/features/manage-library-entry/server-actions/delete-library-item.server-action.test.ts
  savepoint-app/features/manage-library-entry/server-actions/delete-library-item.ts
  savepoint-app/features/manage-library-entry/server-actions/quick-add-to-library-action.ts
  savepoint-app/features/manage-library-entry/server-actions/set-library-rating.server-action.test.ts
  savepoint-app/features/manage-library-entry/server-actions/set-library-rating.ts
  savepoint-app/features/manage-library-entry/server-actions/update-library-entry-action.server-action.test.ts
  savepoint-app/features/manage-library-entry/server-actions/update-library-entry-action.ts
  savepoint-app/features/manage-library-entry/server-actions/update-library-status-action.ts
  savepoint-app/features/profile/index.server.ts
  savepoint-app/features/profile/server-actions/update-profile.server-action.test.ts
  savepoint-app/features/profile/server-actions/update-profile.ts
  savepoint-app/features/profile/server-actions/upload-avatar.ts
  savepoint-app/features/profile/use-cases/get-display-profile.ts
  savepoint-app/features/setup-profile/server-actions/complete-profile-setup.ts
  savepoint-app/features/setup-profile/server-actions/skip-profile-setup.ts
  savepoint-app/features/steam-import/server-actions/__tests__/disconnect-steam.server-action.test.ts
  savepoint-app/features/steam-import/server-actions/disconnect-steam.ts
  savepoint-app/features/steam-import/server-actions/import-to-library-action.ts
  savepoint-app/test/setup/common-mocks.ts
  savepoint-app/test/setup/global.ts
  savepoint-app/widgets/sidebar/ui/sidebar-user.test.tsx
  savepoint-app/widgets/sidebar/ui/sidebar-user.tsx
Due: prettier, eslint

test(library): mock updateTag in update-library-status integration test
  savepoint-app/features/library/server-actions/update-library-status.integration.test.ts
Due: prettier, eslint

feat: add developer agent skills, technical specifications, and project architectural decision records
  .agents/skills/accessibility/SKILL.md
  .agents/skills/accessibility/references/A11Y-PATTERNS.md
  .agents/skills/accessibility/references/WCAG.md
  .agents/skills/best-practices/SKILL.md
  .agents/skills/core-web-vitals/SKILL.md
  .agents/skills/core-web-vitals/references/LCP.md
  .agents/skills/performance/SKILL.md
  .agents/skills/web-quality-audit/SKILL.md
  .agents/skills/web-quality-audit/scripts/analyze.sh
  .claude/skills/accessibility
  .claude/skills/best-practices
  .claude/skills/core-web-vitals
  .claude/skills/performance
  .claude/skills/web-quality-audit
  context/decisions/HANDLER_ACTION_PATTERN.md
  context/spec/019-ui-hardening-mobile-and-card-interactions/functional-spec.md
  context/spec/019-ui-hardening-mobile-and-card-interactions/technical-considerations.md
  context/spec/020-migrate-to-better-auth/functional-spec.md
  context/spec/020-migrate-to-better-auth/tasks.md
  context/spec/020-migrate-to-better-auth/technical-considerations.md
Due: prettier

✨ feat(auth): scaffold better-auth side-by-side (spec 020 slice 1)
  pnpm-lock.yaml
  savepoint-app/.env.example
  savepoint-app/app/api/auth-ba-dev/[...all]/route.ts
  savepoint-app/auth.better.ts
  savepoint-app/env.mjs
  savepoint-app/package.json
Due: prettier, eslint

🗃️ feat(db): migrate prisma schema to better-auth shape (spec 020 slice 2)
  savepoint-app/auth.ts
  savepoint-app/data-access-layer/repository/activity-feed/activity-feed-repository.integration.test.ts
  savepoint-app/data-access-layer/repository/activity-feed/find-activity-by-user-id.integration.test.ts
  savepoint-app/data-access-layer/repository/follow/follow-repository.ts
  savepoint-app/data-access-layer/repository/library/library-repository.ts
  savepoint-app/data-access-layer/repository/library/types.ts
  savepoint-app/data-access-layer/repository/user/user-repository.ts
  savepoint-app/prisma/migrations/20260504152002_better_auth_migration/migration.sql
  savepoint-app/prisma/schema.prisma
  savepoint-app/test/setup/db-factories/user.ts
Due: prettier, eslint

📝 docs(spec): tick slice 1+2 progress on spec 020
  context/spec/020-migrate-to-better-auth/tasks.md
Due: prettier

✅ test(db): add hermetic better-auth migration test (spec 020 slice 2)
  context/spec/020-migrate-to-better-auth/tasks.md
  savepoint-app/test/migrations/better-auth-migration.integration.test.ts
Due: prettier, eslint

✨ feat(auth): cutover banner + dev BA Cognito surface (spec 020 slices 3-5)
  context/spec/020-migrate-to-better-auth/tasks.md
  savepoint-app/app/(dev)/auth-ba-test/_components/auth-client.ts
  savepoint-app/app/(dev)/auth-ba-test/_components/sign-in-button.tsx
  savepoint-app/app/(dev)/auth-ba-test/_components/sign-out-button.tsx
  savepoint-app/app/(dev)/auth-ba-test/page.tsx
  savepoint-app/app/(protected)/layout.tsx
  savepoint-app/app/games/layout.tsx
  savepoint-app/auth.better.ts
  savepoint-app/features/auth/lib/cutover.test.ts
  savepoint-app/features/auth/lib/cutover.ts
  savepoint-app/test/integration/better-auth-cognito-sign-in.integration.test.ts
  savepoint-app/widgets/auth-migration-banner/CLAUDE.md
  savepoint-app/widgets/auth-migration-banner/index.ts
  savepoint-app/widgets/auth-migration-banner/ui/auth-migration-banner-client.tsx
  savepoint-app/widgets/auth-migration-banner/ui/auth-migration-banner.test.tsx
  savepoint-app/widgets/auth-migration-banner/ui/auth-migration-banner.tsx
Due: prettier, eslint

fix: normalize database user table casing, ignore prod environment files, and track Better Auth migration progress
  .gitignore
  savepoint-app/data-access-layer/repository/activity-feed/activity-feed-repository.ts
Due: prettier, eslint

🔥 fix(auth): address coderabbit findings on better-auth cutover PR
  context/spec/020-migrate-to-better-auth/tasks.md
  context/spec/020-migrate-to-better-auth/technical-considerations.md
  savepoint-app/auth.ts
  savepoint-app/env.mjs
  savepoint-app/features/auth/server-actions/clear-migrated-cookie.ts
  savepoint-app/features/auth/ui/google-sign-in-button.tsx
  savepoint-app/features/auth/ui/migration-notice-client.tsx
  savepoint-app/features/profile/ui/logout-button.tsx
  savepoint-app/prisma/migrations/20260504152002_better_auth_migration/migration.sql
  savepoint-app/proxy.ts
  savepoint-app/test/integration/better-auth-cognito-sign-in.integration.test.ts
  savepoint-app/widgets/sidebar/ui/sidebar-user-menu.tsx
Due: prettier, eslint

style(tests): apply prettier formatting to get-status-counts handler test
  savepoint-app/data-access-layer/handlers/library/get-status-counts-handler.unit.test.ts
Due: prettier, eslint

✅ chore(spec-020): mark spec Completed; set BA session lifetime to 30d
  context/spec/020-migrate-to-better-auth/functional-spec.md
  context/spec/020-migrate-to-better-auth/tasks.md
  context/spec/020-migrate-to-better-auth/technical-considerations.md
  savepoint-app/auth.ts
  savepoint-app/next-env.d.ts
Due: prettier, eslint

✅ chore(spec-020): mark spec Completed; set BA session lifetime to 30d (#318)
  context/spec/020-migrate-to-better-auth/functional-spec.md
  context/spec/020-migrate-to-better-auth/tasks.md
  context/spec/020-migrate-to-better-auth/technical-considerations.md
  savepoint-app/auth.ts
  savepoint-app/next-env.d.ts
Due: prettier, eslint

feat(tanstack): scaffold savepoint-tanstack sibling app (spec 021 slice 0)
  .claude/agents/tanstack-fullstack.md
  context/spec/021-migrate-to-tanstack-start/functional-spec.md
  context/spec/021-migrate-to-tanstack-start/tasks.md
  context/spec/021-migrate-to-tanstack-start/technical-considerations.md
  games-hollow-knight-fixed.png
  pnpm-lock.yaml
  pnpm-workspace.yaml
  savepoint-tanstack/.cta.json
  savepoint-tanstack/.gitignore
  savepoint-tanstack/README.md
  savepoint-tanstack/package.json
  savepoint-tanstack/public/favicon.ico
  savepoint-tanstack/public/logo192.png
  savepoint-tanstack/public/logo512.png
  savepoint-tanstack/public/manifest.json
  savepoint-tanstack/public/robots.txt
  savepoint-tanstack/src/components/Footer.tsx
  savepoint-tanstack/src/components/Header.tsx
  savepoint-tanstack/src/components/ThemeToggle.tsx
  savepoint-tanstack/src/routeTree.gen.ts
  savepoint-tanstack/src/router.tsx
  savepoint-tanstack/src/routes/__root.tsx
  savepoint-tanstack/src/routes/about.tsx
  savepoint-tanstack/src/routes/index.tsx
  savepoint-tanstack/src/styles.css
  savepoint-tanstack/tsconfig.json
  savepoint-tanstack/vite.config.ts
Due: prettier, eslint

test(tanstack): vitest harness with unit and integration projects + canary sentinels
  pnpm-lock.yaml
  savepoint-tanstack/.prettierignore
  savepoint-tanstack/package.json
  savepoint-tanstack/src/lib/db.ts
  savepoint-tanstack/test/canary/unit.canary.test.ts
  savepoint-tanstack/test/integration/canary.integration.test.ts
  savepoint-tanstack/test/setup/integration.ts
  savepoint-tanstack/test/setup/unit.ts
  savepoint-tanstack/vitest.config.ts
Due: prettier, eslint

chore(tanstack): mirror eslint and prettier configs from savepoint-app
  savepoint-tanstack/eslint.config.mjs
  savepoint-tanstack/prettier.config.mjs
Due: none

docs(spec-021): tick slice 0 sub-tasks and restructure tasks.md for TDD/FSD
  context/spec/021-migrate-to-tanstack-start/tasks.md
Due: prettier

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint: any of: *.{js,jsx,ts,tsx}
