Repository NeiruBugz/play-later-v2: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: "FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\\n' ' ')\nif [ -n \"$FILES\" ]; then\n  cd savepoint-app && pnpm exec prettier --write --cache $FILES\nfi\n"
  stage_fixed: true

eslint:
  run: "FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\\n' ' ')\nif [ -n \"$FILES\" ]; then\n  cd savepoint-app && pnpm exec eslint --fix $FILES\nfi\n"
  stage_fixed: true

fix(user-account-management): review fixes
  context/spec/001-user-account-essentials/tasks.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  savepoint-app/app/layout.tsx
  savepoint-app/data-access-layer/repository/journal/journal-repository.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.unit.test.ts
  savepoint-app/data-access-layer/services/journal/types.ts
  savepoint-app/features/profile/schemas.ts
  savepoint-app/features/profile/server-actions/update-profile.ts
  savepoint-app/package.json
  savepoint-app/prisma/migrations/20251027173835_remove_is_public_from_journal_entry/migration.sql
  savepoint-app/prisma/schema.prisma
  savepoint-app/test/setup/database.ts
Due: prettier, eslint

feat(user-account-management): implement avatar upload
  context/spec/001-user-account-essentials/tasks.md
  savepoint-app/app/(protected)/dashboard/page.tsx
  savepoint-app/app/(protected)/layout.tsx
  savepoint-app/app/(protected)/library/page.tsx
  savepoint-app/app/(protected)/profile/page.tsx
  savepoint-app/app/(protected)/profile/settings/page.tsx
  savepoint-app/app/page.tsx
  savepoint-app/auth.ts
  savepoint-app/e2e/avatar-upload.spec.ts
  savepoint-app/e2e/fixtures/test-avatar.png
  savepoint-app/features/auth/ui/auth-page-view.tsx
  savepoint-app/features/profile/ui/avatar-upload.test.tsx
  savepoint-app/features/profile/ui/avatar-upload.tsx
  savepoint-app/features/profile/ui/profile-settings-form.test.tsx
  savepoint-app/features/profile/ui/profile-settings-form.tsx
  savepoint-app/features/profile/ui/profile-view.tsx
  savepoint-app/features/profile/ui/username-input.test.tsx
  savepoint-app/features/profile/ui/username-input.tsx
  savepoint-app/shared/lib/app/auth.ts
  savepoint-app/shared/lib/storage/avatar-storage.integration.test.ts
Due: prettier, eslint

feat(user-account-management): create post signup setup page
  savepoint-app/app/(protected)/profile/setup/page.tsx
  savepoint-app/data-access-layer/services/index.ts
  savepoint-app/data-access-layer/services/profile/profile-service.ts
  savepoint-app/data-access-layer/services/profile/profile-service.unit.test.ts
  savepoint-app/data-access-layer/services/profile/types.ts
  savepoint-app/features/auth/server-actions/sign-up.ts
  savepoint-app/features/auth/ui/credentials-form.tsx
  savepoint-app/features/profile/schemas.ts
  savepoint-app/features/profile/server-actions/complete-profile-setup.ts
  savepoint-app/features/profile/server-actions/index.ts
  savepoint-app/features/profile/ui/avatar-upload.tsx
  savepoint-app/features/profile/ui/profile-setup-form.test.tsx
  savepoint-app/features/profile/ui/profile-setup-form.tsx
Due: prettier, eslint

fix: some fixes
  savepoint-app/auth.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.unit.test.ts
  savepoint-app/data-access-layer/services/auth/auth-service.ts
  savepoint-app/data-access-layer/services/auth/auth-service.unit.test.ts
  savepoint-app/data-access-layer/services/journal/journal-service.unit.test.ts
  savepoint-app/e2e/helpers/db.ts
  savepoint-app/features/profile/server-actions/check-username-availability.integration.test.ts
  savepoint-app/features/profile/server-actions/check-username-availability.ts
  savepoint-app/test/helpers/service-test-helpers.ts
  savepoint-app/test/setup/db-factories/journal.ts
Due: prettier, eslint

fix(user-accout-management): update username validation
  savepoint-app/data-access-layer/services/auth/auth-service.unit.test.ts
  savepoint-app/features/profile/lib/validation.ts
  savepoint-app/features/profile/lib/validation.unit.test.ts
Due: prettier, eslint

feat(user-account-management): improve playwright structure
  savepoint-app/e2e/.auth/user.json
  savepoint-app/e2e/auth.setup.ts
  savepoint-app/e2e/avatar-upload.spec.ts
  savepoint-app/e2e/helpers/db.ts
  savepoint-app/e2e/pages/profile-settings.page.ts
  savepoint-app/e2e/pages/profile.page.ts
  savepoint-app/e2e/profile-settings-realtime.spec.ts
  savepoint-app/e2e/profile-settings.spec.ts
  savepoint-app/e2e/profile.spec.ts
  savepoint-app/playwright.config.ts
Due: prettier, eslint

feat(user-account-management): update e2e testing guidelines
  savepoint-app/test/README.md
Due: prettier

feat(user-account-management): add e2e action
  .github/workflows/e2e.yml
Due: none

chore(user-account-management): address some reviews
  savepoint-app/.env.example
  savepoint-app/shared/lib/storage/avatar-storage.integration.test.ts
Due: prettier, eslint

chore(docs): update project docs
  AGENTS.md
  savepoint-app/README.md
Due: prettier

chore(validation): remove pre-commit hook
  .lintstagedrc.json
  AGENTS.md
  CLAUDE.md
  README.md
  lefthook.yml
  package.json
  pnpm-workspace.yaml
  savepoint-app/package.json
Due: prettier

feat(user-account-management): refactor tests
  savepoint-app/app/(protected)/dashboard/page.tsx
  savepoint-app/app/(protected)/profile/setup/page.tsx
  savepoint-app/auth.ts
  savepoint-app/data-access-layer/repository/user/user-repository.ts
  savepoint-app/data-access-layer/services/profile/profile-service.ts
  savepoint-app/data-access-layer/services/profile/profile-service.unit.test.ts
  savepoint-app/e2e/.auth/user.json
  savepoint-app/e2e/dashboard-guard.spec.ts
  savepoint-app/e2e/helpers/db.ts
  savepoint-app/e2e/pages/profile-setup.page.ts
  savepoint-app/e2e/profile-setup.spec.ts
  savepoint-app/features/profile/server-actions/index.ts
  savepoint-app/features/profile/server-actions/skip-profile-setup.ts
  savepoint-app/features/profile/server-actions/upload-avatar.integration.test.ts
  savepoint-app/features/profile/ui/profile-setup-form.test.tsx
  savepoint-app/features/profile/ui/profile-setup-form.tsx
  savepoint-app/prisma/migrations/20251029100404_add_profile_setup_flags/migration.sql
  savepoint-app/prisma/schema.prisma
Due: prettier, eslint

chore(user-account-management): run prettier and introduce logger to server actions
  savepoint-app/app/(protected)/dashboard/page.tsx
  savepoint-app/auth.ts
  savepoint-app/data-access-layer/services/profile/profile-service.ts
  savepoint-app/e2e/dashboard-guard.spec.ts
  savepoint-app/e2e/helpers/db.ts
  savepoint-app/e2e/profile-setup.spec.ts
  savepoint-app/features/auth/server-actions/sign-in-google.ts
  savepoint-app/features/auth/server-actions/sign-in.ts
  savepoint-app/features/profile/server-actions/check-username-availability.ts
  savepoint-app/features/profile/server-actions/complete-profile-setup.ts
  savepoint-app/features/profile/server-actions/skip-profile-setup.ts
  savepoint-app/features/profile/server-actions/update-profile.ts
  savepoint-app/features/profile/server-actions/upload-avatar.ts
Due: prettier, eslint

chore(ci): add integration tests
  .github/workflows/integration.yml
  context/spec/001-user-account-essentials/tasks.md
Due: prettier

feat(user-account-management): organize first timers redirects
  .github/workflows/deploy.yml
  context/spec/001-user-account-essentials/tasks.md
  savepoint-app/app/login/page.tsx
  savepoint-app/auth.ts
  savepoint-app/data-access-layer/services/profile/profile-service.ts
  savepoint-app/data-access-layer/services/profile/profile-service.unit.test.ts
  savepoint-app/data-access-layer/services/profile/types.ts
  savepoint-app/e2e/.auth/user.json
  savepoint-app/shared/lib/app/auth/credentials-callbacks.test.ts
  savepoint-app/shared/lib/app/auth/credentials-callbacks.ts
  savepoint-app/shared/lib/app/auth/oauth-callbacks.test.ts
  savepoint-app/shared/lib/app/auth/oauth-callbacks.ts
Due: prettier, eslint

feat(user-account-management): add S3 configuration
  infra/README.md
  infra/envs/dev/main.tf
  infra/envs/dev/terraform.tfvars.example
  infra/envs/dev/variables.tf
  infra/envs/prod/main.tf
  infra/envs/prod/terraform.tfvars.example
  infra/envs/prod/variables.tf
  infra/modules/s3/main.tf
  infra/modules/s3/outputs.tf
  infra/modules/s3/variables.tf
Due: prettier

feat(user-account-management): update tests
  .gitignore
  context/spec/001-user-account-essentials/tasks.md
  pnpm-lock.yaml
  savepoint-app/README.md
  savepoint-app/data-access-layer/services/profile/profile-service.ts
  savepoint-app/e2e/.auth/user.json
  savepoint-app/e2e/auth-returning.spec.ts
  savepoint-app/e2e/auth-session.spec.ts
  savepoint-app/e2e/dashboard-guard.spec.ts
  savepoint-app/e2e/helpers/auth.ts
  savepoint-app/e2e/profile-settings.spec.ts
  savepoint-app/e2e/profile-setup.spec.ts
  savepoint-app/features/profile/lib/validation.ts
  savepoint-app/features/profile/schemas.ts
  savepoint-app/features/profile/server-actions/upload-avatar.integration.test.ts
  savepoint-app/features/profile/ui/avatar-upload.test.tsx
  savepoint-app/features/profile/ui/avatar-upload.tsx
  savepoint-app/playwright.config.ts
  savepoint-app/shared/lib/app/auth/credentials-callbacks.test.ts
  savepoint-app/shared/lib/app/auth/oauth-callbacks.test.ts
  savepoint-app/shared/lib/app/auth/oauth-callbacks.ts
  savepoint-app/shared/lib/storage/avatar-storage.ts
  savepoint-app/shared/lib/storage/avatar-storage.unit.test.ts
Due: prettier, eslint

chore(docker): update docker compose
  .dockerignore
  .env.example
  docker-compose.yml
  savepoint-app/prisma/migrations/20251030170642_add_update_at_for_user_table/migration.sql
  savepoint-app/prisma/schema.prisma
Due: none

feat(user-account-management): add Playwright for E2E testing
  savepoint-app/e2e/example.spec.ts
Due: prettier, eslint

feat(user-account-management): implement RO profile page
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/data-access-layer/repository/library/library-repository.ts
  savepoint-app/next.config.mjs
  savepoint-app/prisma/schema.prisma
  savepoint-app/vitest.config.ts
Due: prettier, eslint

chore(ci): update working directory for CI checks
  .github/workflows/pr-checks.yml
Due: none

chore(ci): update CI to use savepoint filter and bump pnpm
  .github/workflows/pr-checks.yml
Due: none

chore(ci): upgrade pnpm to v10 and drop cache-dependency-path
  .github/workflows/pr-checks.yml
  savepoint-app/next.config.mjs
Due: none

fix(user-account-management): address coderabbit reviews
  savepoint-app/data-access-layer/repository/library/library-repository.ts
  savepoint-app/data-access-layer/repository/user/user-repository.ts
  savepoint-app/prisma/schema.prisma
Due: prettier, eslint

chore(ci): remove explicit pnpm version pin from setup
  .github/workflows/pr-checks.yml
Due: none

feat(user-account-management): add username check, add missing logger
  pnpm-lock.yaml
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/data-access-layer/repository/library/library-repository.integration.test.ts
  savepoint-app/data-access-layer/repository/library/library-repository.ts
  savepoint-app/data-access-layer/services/collection/collection-service.ts
  savepoint-app/data-access-layer/services/game/game-service.ts
  savepoint-app/data-access-layer/services/journal/journal-service.ts
  savepoint-app/data-access-layer/services/review/review-service.ts
  savepoint-app/e2e/helpers/db.ts
  savepoint-app/e2e/profile.spec.ts
  savepoint-app/features/profile/server-actions/check-username-availability.server-action.test.ts
Due: prettier, eslint

chore(log): remove excessive comments
  savepoint-app/data-access-layer/repository/library/library-repository.integration.test.ts
  savepoint-app/data-access-layer/repository/library/library-repository.ts
Due: prettier, eslint

feat(user-account-management): add profile username edit
  savepoint-app/data-access-layer/repository/user/user-repository.ts
Due: prettier, eslint

feat(user-account-management): refactor forms
  savepoint-app/features/auth/ui/credentials-form.tsx
Due: prettier, eslint

feat(user-account-management): update form handling, add loading state for the app
  savepoint-app/features/auth/ui/credentials-form.tsx
Due: prettier, eslint

feat(user-account-management): update test coverage and user settings
  savepoint-app/app/(protected)/layout.tsx
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/e2e/helpers/db.ts
  savepoint-app/e2e/profile.spec.ts
  savepoint-app/features/profile/server-actions/check-username-availability.server-action.test.ts
Due: prettier, eslint

chore(app): update tailwind classnames misusage
  savepoint-app/app/error.tsx
  savepoint-app/app/not-found.tsx
Due: prettier, eslint

feat(user-account-management): update e2e coverage
  savepoint-app/e2e/example.spec.ts
  savepoint-app/e2e/profile-settings-realtime.spec.ts
Due: prettier, eslint

fix(logging): use err key for error serialization
  savepoint-app/app/(protected)/profile/page.tsx
  savepoint-app/app/api/collection/route.ts
  savepoint-app/data-access-layer/services/collection/collection-service.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/data-access-layer/services/user/user-service.ts
  savepoint-app/features/collection/ui/collection-view.tsx
  savepoint-app/package.json
Due: prettier, eslint

fix(add-game): coerce dates and restrict platforms
  savepoint-app/features/add-game/lib/constants.ts
  savepoint-app/features/add-game/lib/validation.ts
  savepoint-app/features/add-game/ui/add-game-form.tsx
Due: prettier, eslint

fix(library-management): update logger error parameter
  savepoint-app/data-access-layer/services/auth/auth-service.ts
Due: prettier, eslint

feat(library-management): review fixes
  context/spec/001-user-account-essentials/technical-considerations.md
  savepoint-app/app/api/search/route.ts
  savepoint-app/data-access-layer/domain/enums.ts
  savepoint-app/data-access-layer/repository/library/library-repository.ts
  savepoint-app/data-access-layer/repository/library/types.ts
  savepoint-app/data-access-layer/services/auth/auth-service.ts
  savepoint-app/data-access-layer/services/profile/types.ts
  savepoint-app/features/add-game/lib/validation.ts
  savepoint-app/features/add-game/ui/add-game-form.tsx
  savepoint-app/shared/lib/index.ts
  savepoint-app/shared/lib/ui/enum-mappers.ts
  savepoint-app/shared/lib/ui/index.ts
Due: prettier, eslint

fix(library-management): elminate filter state missync
  savepoint-app/features/collection/ui/collection-filters.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint: any of: *.{js,jsx,ts,tsx}
