Repository NeiruBugz/play-later-v2: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: bun format:write {staged_files}
  stage_fixed: true

eslint:
  run: bunx eslint --fix {staged_files}
  stage_fixed: true

docs(claude): update Next.js expert agent description and remove Python expert agent file
  .claude/agents/nextjs-expert.md
  .claude/agents/python-expert.md
Due: prettier

feat(base-service): implement authentication methods and add unit tests
  context/spec/001-service-pattern-implementation/tasks.md
  shared/services/base-service.unit.test.ts
Due: prettier, eslint

feat(game-management): implement GameManagementService unit tests
  context/spec/001-service-pattern-implementation/tasks.md
  shared/services/game-management/actions/add-to-collection.ts
  shared/services/game-management/actions/remove-from-collection.ts
  shared/services/game-management/game-management-service.unit.test.ts
  shared/services/game-management/index.ts
  shared/services/game-management/service.ts
  shared/services/game-management/types.ts
Due: prettier, eslint

refactor(user-service): implement user service
  .claude/agents/nextjs-expert.md
  app/api/collection/route.ts
  app/collection/(list-views)/layout.tsx
  app/user/settings/page.tsx
  docker-compose.yml
  features/add-game/PRD.md
  features/add-game/clean-code-review.md
  features/manage-integrations/components/integrations-list.tsx
  features/manage-user-info/components/edit-user-form.tsx
  features/manage-user-info/index.ts
  features/manage-user-info/server-actions/edit-user-action.server-action.test.ts
  features/manage-user-info/server-actions/index.ts
  features/steam-integration/server-actions/get-user-owned-games.ts
  features/steam-integration/server-actions/save-steam-games.ts
  features/steam-integration/types/type.ts
  features/view-imported-games/components/imported-game-card.tsx
  features/view-imported-games/components/imported-games-filters.tsx
  features/view-imported-games/components/imported-games.tsx
  features/view-imported-games/server-actions/get-imported-games.ts
  features/view-imported-games/validation/search-params-schema.ts
  prisma/migrations/20250926142931_add_playtime_for_imported_game/migration.sql
  prisma/schema.prisma
  shared/lib/igdb.ts
  shared/lib/repository/imported-game/imported-game-repository.ts
  shared/lib/repository/imported-game/types.ts
  shared/lib/repository/user/user-repository.ts
  shared/services/game-management/game-management-service.ts
  shared/services/game-management/game-management-service.unit.test.ts
  shared/services/game-management/index.ts
  shared/services/user/actions/disconnect-steam.ts
  shared/services/user/actions/get-steam-user-data.ts
  shared/services/user/actions/get-user-info.ts
  shared/services/user/actions/index.ts
  shared/services/user/actions/update-user-profile.ts
  shared/services/user/index.ts
  shared/services/user/types.ts
  shared/services/user/user-service.ts
  shared/services/user/user-service.unit.test.ts
Due: prettier, eslint

docs(savepoint): transform product vision from backlog manager to gaming journal
  context/product/product-definition-lite.md
  context/product/product-definition.md
  context/product/roadmap.md
Due: prettier

docs(spec): create technical specification for SavePoint database migration
  context/spec/002-savepoint-database-migration/technical-considerations.md
Due: prettier

docs(agent): add Next.js expert agent for proactive development assistance
  .claude/agents/nextjs-expert.md
Due: prettier

refactor(db): migrate to library item, introduce journalentry
  context/spec/002-savepoint-database-migration/tasks.md
  prisma/migrations/20251001142441_save_point_backlog_item_to_library_item/migration.sql
  prisma/migrations/20251001142643_add_journal_entry/migration.sql
  prisma/schema.prisma
Due: prettier

chore(dependencies): update package versions and ESLint configuration
  bun.lock
  env.mjs
  eslint.config.mjs
  features/view-game-details/components/about.tsx
  package.json
  tsconfig.json
Due: prettier, eslint

chore(config): add configuration files for commitlint, ESLint, PostCSS, and Prettier
  commitlint.config.mjs
  eslint.config.mjs
  postcss.config.mjs
  prettier.config.mjs
Due: none

feat(collection): enable dynamic rendering for collection pages to fix build warnings
  app/collection/(list-views)/imported/page.tsx
  app/collection/(list-views)/page.tsx
  app/collection/(list-views)/wishlist/page.tsx
Due: prettier, eslint

chore(dependencies): migrate from Bun to pnpm for package management
  .github/workflows/deploy.yml
  .github/workflows/pr-checks.yml
  .gitignore
  .npmrc
  bun.lock
  package.json
Due: prettier

docs(guidelines): align with architecture vision
  .cursor/rules/installing-libraries.md
  AGENTS.md
  CLAUDE.md
  README.md
  context/product/architecture.md
  context/spec/002-savepoint-database-migration/tasks.md
  context/spec/002-savepoint-database-migration/technical-considerations.md
  context/spec/003-architecture-standardization/README.md
  context/spec/003-architecture-standardization/functional-spec.md
  context/spec/003-architecture-standardization/tasks.md
  context/spec/003-architecture-standardization/technical-considerations.md
  features/add-review/CLAUDE.md
  features/landing/CLAUDE.md
  features/manage-integrations/CLAUDE.md
  features/view-wishlist/CLAUDE.md
  lefthook.yml
  shared/lib/repository/library/library-repository.ts
  shared/services/README.md
  test/setup/database.ts
Due: prettier, eslint

feat(ui): enhance list components with toolbar, pagination, and search functionality
  app/backlog/page.tsx
  app/collection/(list-views)/page.tsx
  app/collection/(list-views)/wishlist/page.tsx
  app/wishlist/[username]/page.tsx
  features/view-backlogs/components/backlog-list.tsx
  features/view-backlogs/server-actions/get-backlogs.ts
  features/view-collection/components/card-view-mode.tsx
  features/view-collection/components/collection-list.tsx
  features/view-collection/components/index.ts
  features/view-collection/components/pagination.tsx
  features/view-collection/components/status-filter.tsx
  features/view-collection/components/view-mode.tsx
  features/view-imported-games/components/imported-games-filter-panel.tsx
  features/view-imported-games/components/imported-games-filters.tsx
  features/view-imported-games/components/imported-games.tsx
  features/view-imported-games/index.ts
  features/view-wishlist/components/wishlisted-list.tsx
  features/view-wishlist/server-actions/get-wishlisted-items.ts
  features/view-wishlist/server-actions/index.ts
  shared/components/index.ts
  shared/components/list/empty-state.tsx
  shared/components/list/error-state.tsx
  shared/components/list/list-layout.tsx
  shared/components/list/list-search-input.test.tsx
  shared/components/list/pagination.test.tsx
  shared/components/list/pagination.tsx
  shared/components/list/search-input.tsx
  shared/components/list/skeletons.tsx
  shared/components/list/toolbar.tsx
  shared/lib/repository/library/library-repository.ts
  shared/lib/repository/user/user-repository.ts
  shared/lib/url-params.test.ts
  shared/lib/url-params.ts
Due: prettier, eslint

feat(services): implement ReviewService and JournalService with CRUD operations
  context/spec/003-architecture-standardization/tasks.md
  shared/services/index.ts
  shared/services/journal/index.ts
  shared/services/journal/journal-service.ts
  shared/services/journal/journal-service.unit.test.ts
  shared/services/journal/types.ts
  shared/services/review/index.ts
  shared/services/review/review-service.ts
  shared/services/review/review-service.unit.test.ts
  shared/services/review/types.ts
  shared/services/user/index.ts
  shared/services/user/types.ts
  shared/services/user/user-service.ts
  shared/services/user/user-service.unit.test.ts
Due: prettier, eslint

feat(api): add endpoint for fetching filtered imported games with validation and error handling
  app/api/imported-games/route.ts
  app/collection/(list-views)/imported/page.tsx
  features/view-imported-games/components/imported-game-card.tsx
  features/view-imported-games/components/imported-games.tsx
  features/view-imported-games/hooks/use-imported-games.ts
  features/view-imported-games/index.ts
  shared/components/game-card.tsx
Due: prettier, eslint

feat(docker): add pgAdmin service to docker-compose and update .gitignore for Docker files
  .gitignore
  docker-compose.yml
Due: none

docs(architecture): add comprehensive feature audit and standardization guidelines for architecture
  context/spec/003-architecture-standardization/README.md
  context/spec/003-architecture-standardization/feature-audit.md
  context/spec/003-architecture-standardization/feature-structure-standard.md
  context/spec/003-architecture-standardization/tasks.md
  context/spec/003-architecture-standardization/two-pattern-architecture.md
Due: prettier

chore(docs): remove outdated CLAUDE and PRD documentation
  features/add-game/CLAUDE.md
  features/add-game/PRD.md
  features/add-review/CLAUDE.md
  features/add-review/PRD.md
  features/dashboard/CLAUDE.md
  features/dashboard/PRD.md
  features/landing/CLAUDE.md
  features/landing/PRD.md
  features/manage-integrations/CLAUDE.md
  features/manage-integrations/PRD.md
  features/manage-library-item/CLAUDE.md
  features/manage-library-item/PRD.md
  features/manage-user-info/CLAUDE.md
  features/manage-user-info/PRD.md
  features/share-wishlist/CLAUDE.md
  features/share-wishlist/PRD.md
  features/sign-in/CLAUDE.md
  features/sign-in/PRD.md
  features/steam-integration/CLAUDE.md
  features/steam-integration/PRD.md
  features/theme-toggle/CLAUDE.md
  features/theme-toggle/PRD.md
  features/view-backlogs/CLAUDE.md
  features/view-backlogs/PRD.md
  features/view-collection/CLAUDE.md
  features/view-collection/PRD.md
  features/view-game-details/CLAUDE.md
  features/view-game-details/PRD.md
  features/view-imported-games/CLAUDE.md
  features/view-imported-games/PRD.md
  features/view-wishlist/CLAUDE.md
  features/view-wishlist/PRD.md
Due: prettier

chore(docs): update AGENTS.md and remove CLAUDE.md; streamline development commands and guidelines
  AGENTS.md
  CLAUDE.md
  data-access-layer/services/game-management/add-to-collection.ts
  data-access-layer/services/game-management/index.ts
  package.json
  providers.tsx
  shared/components/ui/accordion.tsx
  shared/components/ui/alert-dialog.tsx
  shared/components/ui/alert.tsx
  shared/components/ui/avatar.tsx
  shared/components/ui/badge.tsx
  shared/components/ui/button.tsx
  shared/components/ui/calendar.tsx
  shared/components/ui/card.tsx
  shared/components/ui/checkbox.tsx
  shared/components/ui/dialog.tsx
  shared/components/ui/drawer.tsx
  shared/components/ui/dropdown-menu.tsx
  shared/components/ui/form.tsx
  shared/components/ui/input.tsx
  shared/components/ui/label.tsx
  shared/components/ui/popover.tsx
  shared/components/ui/progress.tsx
  shared/components/ui/radio-group.tsx
  shared/components/ui/select.tsx
  shared/components/ui/separator.tsx
  shared/components/ui/sheet.tsx
  shared/components/ui/sidebar.tsx
  shared/components/ui/skeleton.tsx
  shared/components/ui/slider.tsx
  shared/components/ui/sonner.tsx
  shared/components/ui/tabs.tsx
  shared/components/ui/textarea.tsx
  shared/components/ui/toggle.tsx
  shared/components/ui/tooltip.tsx
  shared/hooks/use-igdb-search.tsx
  shared/lib/safe-action-client.ts
  shared/ui/revalidation.ts
  test/utils/test-provider.tsx
Due: prettier, eslint

chore(config): update Tailwind CSS configuration, add new aliases, and enable dark mode
  CLAUDE.md
  components.json
  context/product/architecture.md
  context/product/roadmap.md
  context/spec/001-igdb-integration-consolidation/functional-spec.md
  context/spec/001-igdb-integration-consolidation/tasks.md
  context/spec/001-igdb-integration-consolidation/technical-considerations.md
  lib/utils.ts
  package.json
  shared/globals.css
  tailwind.config.ts
Due: prettier, eslint

feat(igdb): enhance IgdbService with advanced search filters and add mock data for testing
  data-access-layer/services/igdb/igdb-service.ts
  test/fixtures/igdb/empty-response.json
  test/fixtures/igdb/game-details-1234.json
  test/fixtures/igdb/game-search-zelda.json
  test/fixtures/igdb/screenshots-response.json
  test/fixtures/igdb/similar-games-response.json
  test/fixtures/igdb/steam-lookup-success.json
  test/fixtures/igdb/token-response.json
  test/fixtures/igdb/top-rated-games.json
  test/utils/igdb-mocks.ts
Due: prettier, eslint

refactor(igdb): consolidate game search service, remove circular dependencies, and update tests
  context/spec/001-igdb-integration-consolidation/tasks.md
  data-access-layer/services/igdb/game-search-service.ts
  data-access-layer/services/igdb/game-search-service.unit.test.ts
  data-access-layer/services/igdb/igdb-service.test.ts
  data-access-layer/services/igdb/igdb-service.ts
  data-access-layer/services/igdb/index.ts
  data-access-layer/services/igdb/types.ts
  data-access-layer/services/index.ts
  shared/lib/igdb.ts
  test/fixtures/igdb/game-details-1234.json
  test/fixtures/igdb/game-search-zelda.json
  test/fixtures/igdb/screenshots-response.json
  test/fixtures/igdb/similar-games-response.json
  test/fixtures/igdb/steam-lookup-success.json
  test/fixtures/igdb/top-rated-games.json
  test/setup/client-setup.ts
  test/utils/igdb-mocks.ts
Due: prettier, eslint

chore: update Tailwind CSS configuration, replace deprecated imports, and enhance global styles
  app/dashboard/page.tsx
  app/layout.tsx
  app/login/page.tsx
  app/page.tsx
  components.json
  data-access-layer/services/igdb/igdb-service.ts
  data-access-layer/services/igdb/types.ts
  package.json
  pnpm-workspace.yaml
  postcss.config.mjs
  shared/components/ui/button.tsx
  shared/components/ui/card.tsx
  shared/config/fonts.ts
  shared/globals.css
  shared/lib/utils.ts
  tailwind.config.ts
Due: prettier, eslint

feat(auth): implement credentials authentication and update user model
  app/dashboard/page.tsx
  app/login/page.tsx
  app/page.tsx
  auth.ts
  data-access-layer/services/auth/auth-service.ts
  data-access-layer/services/auth/auth-service.unit.test.ts
  data-access-layer/services/auth/index.ts
  data-access-layer/services/auth/types.ts
  data-access-layer/services/index.ts
  features/auth/lib/types.ts
  features/auth/server-actions/sign-in-google.server-action.test.ts
  features/auth/server-actions/sign-in-google.ts
  features/auth/server-actions/sign-in.server-action.test.ts
  features/auth/server-actions/sign-in.ts
  features/auth/server-actions/sign-up.server-action.test.ts
  features/auth/server-actions/sign-up.ts
  features/auth/ui/auth-page-view.test.tsx
  features/auth/ui/auth-page-view.tsx
  features/auth/ui/credentials-form.test.tsx
  features/auth/ui/credentials-form.tsx
  features/auth/ui/google-sign-in-button.test.tsx
  features/auth/ui/google-sign-in-button.tsx
  package.json
  prisma/migrations/20251014191829_add_user_password/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  shared/components/ui/input.tsx
  shared/components/ui/label.tsx
  shared/lib/password.ts
Due: prettier, eslint

chore(vitest): enhance test configuration for utilities and backend, update include/exclude patterns
  vitest.config.ts
Due: prettier, eslint

feat(igdb): implement game search functionality in IgdbService and update tests for error handling
  context/spec/001-igdb-integration-consolidation/tasks.md
  data-access-layer/services/igdb/igdb-service.test.ts
Due: prettier, eslint

feat(logging): integrate Pino for structured logging
  CLAUDE.md
  data-access-layer/services/igdb/igdb-service.ts
  data-access-layer/services/library/library-service.ts
  data-access-layer/services/library/library-service.unit.test.ts
  data-access-layer/services/types.ts
  env.mjs
  next.config.mjs
  package.json
  shared/lib/igdb.server-action.test.ts
  shared/lib/igdb.ts
  shared/lib/logger.examples.md
  shared/lib/logger.ts
Due: prettier, eslint

feat(igdb): add getGameBySteamAppId method
  context/spec/001-igdb-integration-consolidation/tasks.md
  context/spec/001-igdb-integration-consolidation/technical-considerations.md
  data-access-layer/services/igdb/igdb-service.test.ts
  data-access-layer/services/igdb/igdb-service.ts
  data-access-layer/services/igdb/types.ts
Due: prettier, eslint

refactor(igdb): improve test descriptions for getGameBySteamAppId cases
  data-access-layer/services/igdb/igdb-service.test.ts
Due: prettier, eslint

chore(eslint): update ESLint and Prettier configurations to include data-access-layer
  eslint.config.mjs
  prettier.config.mjs
  tsconfig.json
Due: prettier

feat(providers): create Providers component for context providers and update layout import
  app/layout.tsx
  shared/providers/index.ts
  shared/providers/providers.tsx
Due: prettier, eslint

feat(auth): update AuthPageView heading and subtitle for improved branding
  features/auth/ui/auth-page-view.test.tsx
  features/auth/ui/auth-page-view.tsx
Due: prettier, eslint

feat(infra): add Terraform infrastructure for AWS Cognito with dev and prod environments
  .gitignore
  infra/README.md
  infra/envs/dev/.terraform.lock.hcl
  infra/envs/dev/main.tf
  infra/envs/dev/providers.tf
  infra/envs/dev/terraform.tfvars.example
  infra/envs/dev/variables.tf
  infra/envs/dev/versions.tf
  infra/envs/prod/main.tf
  infra/envs/prod/providers.tf
  infra/envs/prod/terraform.tfvars.example
  infra/envs/prod/variables.tf
  infra/envs/prod/versions.tf
  infra/modules/cognito/main.tf
  infra/modules/cognito/outputs.tf
  infra/modules/cognito/variables.tf
Due: prettier

feat(auth): integrate AWS Cognito for authentication
  CLAUDE.md
  README.md
  app/layout.tsx
  auth.ts
  env.mjs
  features/auth/server-actions/sign-in-google.server-action.test.ts
  features/auth/server-actions/sign-in-google.ts
  features/auth/ui/auth-page-view.tsx
  shared/lib/logger.examples.md
Due: prettier, eslint

docs: update CLAUDE.md and architecture documentation for AWS Cognito integration
  CLAUDE.md
  context/product/architecture.md
  docker-compose.yml
  infra/envs/dev/terraform.tfvars.example
  infra/envs/prod/terraform.tfvars.example
  savepoint-app/package.json
  savepoint-app/test/setup/database.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint: any of: *.{js,jsx,ts,tsx}
