Repository NeiruBugz/play-later-v2: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: "FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\\n' ' ')\nif [ -n \"$FILES\" ]; then\n  cd savepoint-app && pnpm exec prettier --write --cache $FILES\nfi\n"
  stage_fixed: true

eslint:
  run: "FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\\n' ' ')\nif [ -n \"$FILES\" ]; then\n  cd savepoint-app && pnpm exec eslint --fix $FILES\nfi\n"
  stage_fixed: true

fix(game-detail): clamp critic score + resolve Prettier CI failures
  savepoint-tanstack/src/entities/game/ui/critic-score-ring/critic-score-ring.tsx
  savepoint-tanstack/src/entities/game/ui/platform-badges/platform-badge.tsx
  savepoint-tanstack/src/entities/game/ui/platform-badges/platform-badges.tsx
  savepoint-tanstack/src/widgets/library-item-card/ui/library-item-card/library-item-card.tsx
Due: prettier, eslint

test(game-detail): query status pill by exact label, not regex
  savepoint-tanstack/src/widgets/game-detail/ui/library-status-switcher/library-status-switcher.test.tsx
Due: prettier, eslint

style: apply prettier formatting to themes-tags-panel
  savepoint-tanstack/src/widgets/game-detail/ui/themes-tags-panel/themes-tags-panel.tsx
Due: prettier, eslint

test(library-item-card): assert abbreviated platform label + Badge variant
  savepoint-tanstack/src/widgets/library-item-card/ui/library-item-card/library-item-card.test.tsx
Due: prettier, eslint

test(avatar): self-skip presigned-url suite when LocalStack S3 is unreachable
  savepoint-tanstack/test/integration/get-avatar-presigned-url.integration.test.ts
Due: prettier, eslint

test(avatar): always run presigned-url suite — presigning is offline-local
  savepoint-tanstack/test/integration/get-avatar-presigned-url.integration.test.ts
Due: prettier, eslint

fix(deps): bump better-auth 1.6.9 → 1.6.11 to clear HIGH advisory
  pnpm-lock.yaml
  savepoint-tanstack/package.json
Due: prettier

fix(game-detail): average session over sessions with logged minutes
  savepoint-tanstack/src/entities/game/api/get-game-details.server.ts
  savepoint-tanstack/src/features/game-detail/ui/times-to-beat-section/times-to-beat-section.test.tsx
  savepoint-tanstack/src/features/game-detail/ui/times-to-beat-section/times-to-beat-section.tsx
  savepoint-tanstack/src/features/game-detail/ui/times-to-beat-section/times-to-beat-section.type.ts
  savepoint-tanstack/src/features/game-detail/ui/your-pace-panel/your-pace-panel.test.tsx
  savepoint-tanstack/src/features/game-detail/ui/your-pace-panel/your-pace-panel.tsx
  savepoint-tanstack/src/features/game-detail/ui/your-pace-panel/your-pace-panel.type.ts
  savepoint-tanstack/src/routes/-games.$slug.test.tsx
  savepoint-tanstack/src/routes/games.$slug.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.type.ts
  savepoint-tanstack/test/integration/get-game-details.integration.test.ts
Due: prettier, eslint

refactor(game-detail): derive Screenshot type from IGDB schema
  savepoint-tanstack/src/widgets/game-detail/ui/screenshots-panel/screenshots-panel.type.ts
Due: prettier, eslint

chore(ci): single npm Dependabot config for pnpm workspace
  .github/dependabot.yml
Due: none

chore(ci): single npm Dependabot config for pnpm workspace (#348)
  .github/dependabot.yml
Due: none

chore(claude): typecheck Stop-hook gate + reviewer agent fixes
  .claude/agents/review.md
  .claude/hooks/format-and-lint.sh
  .claude/hooks/typecheck.sh
  .claude/settings.json
Due: prettier

chore(claude): add affected-unit-test Stop gate + adversarial verify step
  .claude/agents/aws-terraform-advisor.md
  .claude/agents/python-architect.md
  .claude/agents/react-architect.md
  .claude/agents/typescript-test-expert.md
  .claude/commands/awos/verify.md
  .claude/hooks/test-gate.sh
  .claude/settings.json
Due: prettier

chore(claude): prune agent roster 10->6, scope + pin survivors
  .claude/agents/aws-infra.md
  .claude/agents/prisma-database.md
  .claude/agents/react-frontend.md
  .claude/agents/review.md
  .claude/agents/tanstack-fullstack.md
  .claude/agents/testing.md
Due: prettier

fix(claude): reviewer reports findings instead of delegating
  .claude/agents/review.md
Due: prettier

feat(claude): add /cz guided conventional-commit skill
  .claude/skills/cz/SKILL.md
  CLAUDE.md
Due: prettier

docs(cz): add language identifier to commit-template fence
  .claude/skills/cz/SKILL.md
Due: prettier

fix(hooks): derive PROJECT_DIR fallback from script location
  .claude/hooks/format-and-lint.sh
  .claude/hooks/test-gate.sh
  .claude/hooks/typecheck.sh
Due: none

chore(claude): enrich Claude Code setup (verification gates, agent roster, /cz) (#354)
  .claude/agents/aws-infra.md
  .claude/agents/aws-terraform-advisor.md
  .claude/agents/prisma-database.md
  .claude/agents/python-architect.md
  .claude/agents/react-architect.md
  .claude/agents/react-frontend.md
  .claude/agents/review.md
  .claude/agents/tanstack-fullstack.md
  .claude/agents/testing.md
  .claude/agents/typescript-test-expert.md
  .claude/commands/awos/verify.md
  .claude/hooks/format-and-lint.sh
  .claude/hooks/test-gate.sh
  .claude/hooks/typecheck.sh
  .claude/settings.json
  .claude/skills/cz/SKILL.md
  CLAUDE.md
Due: prettier

docs(context): run ai audit
  context/audits/2026-06-10/ai-development-tooling.md
  context/audits/2026-06-10/code-architecture.md
  context/audits/2026-06-10/documentation.md
  context/audits/2026-06-10/end-to-end-delivery.md
  context/audits/2026-06-10/project-topology.md
  context/audits/2026-06-10/prompt-agent-integrity.md
  context/audits/2026-06-10/quality-assurance.md
  context/audits/2026-06-10/recommendations.md
  context/audits/2026-06-10/report.md
  context/audits/2026-06-10/security.md
  context/audits/2026-06-10/software-best-practices.md
  context/audits/2026-06-10/spec-driven-development.md
  context/audits/2026-06-10/supply-chain-security.md
Due: prettier

docs(context): run ai audit (#355)
  context/audits/2026-06-10/ai-development-tooling.md
  context/audits/2026-06-10/code-architecture.md
  context/audits/2026-06-10/documentation.md
  context/audits/2026-06-10/end-to-end-delivery.md
  context/audits/2026-06-10/project-topology.md
  context/audits/2026-06-10/prompt-agent-integrity.md
  context/audits/2026-06-10/quality-assurance.md
  context/audits/2026-06-10/recommendations.md
  context/audits/2026-06-10/report.md
  context/audits/2026-06-10/security.md
  context/audits/2026-06-10/software-best-practices.md
  context/audits/2026-06-10/spec-driven-development.md
  context/audits/2026-06-10/supply-chain-security.md
Due: prettier

fix(game): replace removed SiNintendo icon with BsNintendoSwitch
  savepoint-tanstack/src/entities/game/ui/platform-badges/platform-badges.utility.test.ts
  savepoint-tanstack/src/entities/game/ui/platform-badges/platform-badges.utility.ts
Due: prettier, eslint

feat(playthrough): add schema, backfill migration + status/aggregate logic (spec 016 slice 1)
  context/spec/016-per-playthrough-logs/tasks.md
  savepoint-tanstack/prisma/migrations/20260610162903_per_playthrough_logs/migration.sql
  savepoint-tanstack/prisma/schema.prisma
  savepoint-tanstack/src/entities/library-item/model/derive-status.ts
  savepoint-tanstack/src/entities/library-item/model/derive-status.unit.test.ts
  savepoint-tanstack/src/entities/library-item/model/index.ts
  savepoint-tanstack/src/entities/playthrough/index.ts
  savepoint-tanstack/src/entities/playthrough/model/aggregate.ts
  savepoint-tanstack/src/entities/playthrough/model/aggregate.unit.test.ts
  savepoint-tanstack/src/entities/playthrough/model/index.ts
  savepoint-tanstack/src/entities/playthrough/model/run-status.ts
  savepoint-tanstack/src/entities/playthrough/model/types.ts
  savepoint-tanstack/src/features/manage-library-entry/ui/library-card-menu/library-card-menu.test.tsx
  savepoint-tanstack/src/features/manage-library-entry/ui/library-modal/library-modal.test.tsx
  savepoint-tanstack/src/features/manage-library-entry/ui/manage-from-game-detail-button/manage-from-game-detail-button.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/journal-panel/journal-panel.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/library-status-switcher/library-status-switcher.test.tsx
  savepoint-tanstack/src/widgets/library-item-card/ui/library-item-card/library-item-card.test.tsx
  savepoint-tanstack/src/widgets/library-page/ui/library-page/library-page.test.tsx
  savepoint-tanstack/test/integration/per-playthrough-backfill.integration.test.ts
Due: prettier, eslint

docs(spec): rewrite per-playthrough-logs spec from design handoff (016)
  context/spec/016-per-playthrough-logs/design-handoff/COMPONENTS.md
  context/spec/016-per-playthrough-logs/design-handoff/DATA_MODEL.md
  context/spec/016-per-playthrough-logs/design-handoff/README.md
  context/spec/016-per-playthrough-logs/design-handoff/prototype/Per-Playthrough Logs.html
  context/spec/016-per-playthrough-logs/design-handoff/prototype/app.jsx
  context/spec/016-per-playthrough-logs/design-handoff/prototype/drawers.jsx
  context/spec/016-per-playthrough-logs/design-handoff/prototype/lib/browser-window.jsx
  context/spec/016-per-playthrough-logs/design-handoff/prototype/lib/colors_and_type.css
  context/spec/016-per-playthrough-logs/design-handoff/prototype/lib/design-canvas.jsx
  context/spec/016-per-playthrough-logs/design-handoff/prototype/lib/ios-frame.jsx
  context/spec/016-per-playthrough-logs/design-handoff/prototype/lib/kit.css
  context/spec/016-per-playthrough-logs/design-handoff/prototype/lib/kit.jsx
  context/spec/016-per-playthrough-logs/design-handoff/prototype/lib/tweaks-panel.jsx
  context/spec/016-per-playthrough-logs/design-handoff/prototype/panels.jsx
  context/spec/016-per-playthrough-logs/design-handoff/prototype/playthroughs.jsx
  context/spec/016-per-playthrough-logs/functional-spec.md
  context/spec/016-per-playthrough-logs/technical-considerations.md
Due: prettier, eslint

feat(game-detail): replace YourRecordPanel with read-only PlaythroughsPanel (spec 016 slice 2)
  context/spec/016-per-playthrough-logs/tasks.md
  savepoint-tanstack/eslint.config.mjs
  savepoint-tanstack/src/entities/game/api/get-game-details.server.ts
  savepoint-tanstack/src/entities/library-item/model/derive-status.ts
  savepoint-tanstack/src/entities/playthrough/index.ts
  savepoint-tanstack/src/entities/playthrough/model/run-status.ts
  savepoint-tanstack/src/entities/playthrough/model/types.ts
  savepoint-tanstack/src/entities/playthrough/ui/index.ts
  savepoint-tanstack/src/entities/playthrough/ui/platform-pill/index.ts
  savepoint-tanstack/src/entities/playthrough/ui/platform-pill/platform-pill.test.tsx
  savepoint-tanstack/src/entities/playthrough/ui/platform-pill/platform-pill.tsx
  savepoint-tanstack/src/entities/playthrough/ui/platform-pill/platform-pill.type.ts
  savepoint-tanstack/src/entities/playthrough/ui/platform-pill/platform-pill.utility.ts
  savepoint-tanstack/src/entities/playthrough/ui/run-marker/index.ts
  savepoint-tanstack/src/entities/playthrough/ui/run-marker/run-marker.test.tsx
  savepoint-tanstack/src/entities/playthrough/ui/run-marker/run-marker.tsx
  savepoint-tanstack/src/entities/playthrough/ui/run-marker/run-marker.type.ts
  savepoint-tanstack/src/entities/playthrough/ui/run-status-badge/index.ts
  savepoint-tanstack/src/entities/playthrough/ui/run-status-badge/run-status-badge.test.tsx
  savepoint-tanstack/src/entities/playthrough/ui/run-status-badge/run-status-badge.tsx
  savepoint-tanstack/src/entities/playthrough/ui/run-status-badge/run-status-badge.type.ts
  savepoint-tanstack/src/routes/-games.$slug.test.tsx
  savepoint-tanstack/src/shared/lib/derive-playthrough-status.ts
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.type.ts
  savepoint-tanstack/src/widgets/game-detail/ui/index.ts
  savepoint-tanstack/src/widgets/game-detail/ui/playthrough-timeline/index.ts
  savepoint-tanstack/src/widgets/game-detail/ui/playthrough-timeline/playthrough-timeline.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/playthrough-timeline/playthrough-timeline.type.ts
  savepoint-tanstack/src/widgets/game-detail/ui/playthroughs-panel/index.ts
  savepoint-tanstack/src/widgets/game-detail/ui/playthroughs-panel/playthroughs-panel.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/playthroughs-panel/playthroughs-panel.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/playthroughs-panel/playthroughs-panel.type.ts
  savepoint-tanstack/src/widgets/game-detail/ui/your-record-panel/index.ts
  savepoint-tanstack/src/widgets/game-detail/ui/your-record-panel/your-record-panel.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/your-record-panel/your-record-panel.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/your-record-panel/your-record-panel.type.ts
  savepoint-tanstack/test/integration/get-game-details.integration.test.ts
Due: prettier, eslint

feat(game-detail): add-playthrough drawer + run-derived status sync (spec 016 slice 3)
  context/spec/016-per-playthrough-logs/tasks.md
  savepoint-tanstack/src/entities/playthrough/api/create-playthrough.server.ts
  savepoint-tanstack/src/entities/playthrough/api/create-playthrough.unit.test.ts
  savepoint-tanstack/src/entities/playthrough/api/get-playthroughs.server.ts
  savepoint-tanstack/src/entities/playthrough/api/index.ts
  savepoint-tanstack/src/entities/playthrough/api/sync-library-status.server.ts
  savepoint-tanstack/src/features/manage-playthrough/api/create-playthrough-fn.ts
  savepoint-tanstack/src/features/manage-playthrough/api/create-playthrough-fn.worker.ts
  savepoint-tanstack/src/features/manage-playthrough/api/index.ts
  savepoint-tanstack/src/features/manage-playthrough/index.ts
  savepoint-tanstack/src/features/manage-playthrough/model/index.ts
  savepoint-tanstack/src/features/manage-playthrough/model/playthrough-form.schema.ts
  savepoint-tanstack/src/features/manage-playthrough/ui/add-edit-playthrough-drawer/add-edit-playthrough-drawer.test.tsx
  savepoint-tanstack/src/features/manage-playthrough/ui/add-edit-playthrough-drawer/add-edit-playthrough-drawer.tsx
  savepoint-tanstack/src/features/manage-playthrough/ui/add-edit-playthrough-drawer/add-edit-playthrough-drawer.type.ts
  savepoint-tanstack/src/features/manage-playthrough/ui/add-edit-playthrough-drawer/index.ts
  savepoint-tanstack/src/features/manage-playthrough/ui/index.ts
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.tsx
  savepoint-tanstack/test/integration/create-playthrough.integration.test.ts
  savepoint-tanstack/test/setup/unit.ts
Due: prettier, eslint

feat(game-detail): edit + delete a playthrough with detach-safe journal entries (spec 016 slice 4)
  context/spec/016-per-playthrough-logs/tasks.md
  savepoint-tanstack/src/entities/playthrough/api/delete-playthrough.server.ts
  savepoint-tanstack/src/entities/playthrough/api/delete-playthrough.unit.test.ts
  savepoint-tanstack/src/entities/playthrough/api/index.ts
  savepoint-tanstack/src/entities/playthrough/api/update-playthrough.server.ts
  savepoint-tanstack/src/entities/playthrough/api/update-playthrough.unit.test.ts
  savepoint-tanstack/src/features/manage-playthrough/api/delete-playthrough-fn.ts
  savepoint-tanstack/src/features/manage-playthrough/api/index.ts
  savepoint-tanstack/src/features/manage-playthrough/api/update-playthrough-fn.ts
  savepoint-tanstack/src/features/manage-playthrough/model/index.ts
  savepoint-tanstack/src/features/manage-playthrough/model/playthrough-form.schema.ts
  savepoint-tanstack/src/features/manage-playthrough/ui/add-edit-playthrough-drawer/add-edit-playthrough-drawer.edit.test.tsx
  savepoint-tanstack/src/features/manage-playthrough/ui/add-edit-playthrough-drawer/add-edit-playthrough-drawer.test.tsx
  savepoint-tanstack/src/features/manage-playthrough/ui/add-edit-playthrough-drawer/add-edit-playthrough-drawer.tsx
  savepoint-tanstack/src/features/manage-playthrough/ui/add-edit-playthrough-drawer/add-edit-playthrough-drawer.type.ts
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/playthrough-timeline/playthrough-timeline.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/playthrough-timeline/playthrough-timeline.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/playthroughs-panel/playthroughs-panel.test.tsx
  savepoint-tanstack/test/integration/update-delete-playthrough.integration.test.ts
Due: prettier, eslint

feat(game-detail): log sessions against runs + run-aware journal feed (spec 016 slice 5)
  context/spec/016-per-playthrough-logs/tasks.md
  savepoint-tanstack/eslint.config.mjs
  savepoint-tanstack/src/entities/journal-entry/api/create-journal-entry.server.ts
  savepoint-tanstack/src/entities/journal-entry/model/types.ts
  savepoint-tanstack/src/features/compose-journal-entry/api/create-journal-entry-fn.ts
  savepoint-tanstack/src/features/compose-journal-entry/api/create-journal-entry-fn.worker.ts
  savepoint-tanstack/src/features/compose-journal-entry/ui/index.ts
  savepoint-tanstack/src/features/compose-journal-entry/ui/log-session-drawer/index.ts
  savepoint-tanstack/src/features/compose-journal-entry/ui/log-session-drawer/log-session-drawer.test.tsx
  savepoint-tanstack/src/features/compose-journal-entry/ui/log-session-drawer/log-session-drawer.tsx
  savepoint-tanstack/src/features/compose-journal-entry/ui/log-session-drawer/log-session-drawer.type.ts
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/index.ts
  savepoint-tanstack/src/widgets/game-detail/ui/journal-feed/index.ts
  savepoint-tanstack/src/widgets/game-detail/ui/journal-feed/journal-feed.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/journal-feed/journal-feed.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/journal-feed/journal-feed.type.ts
  savepoint-tanstack/src/widgets/game-detail/ui/playthrough-timeline/nested-journal.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/playthrough-timeline/nested-journal.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/playthrough-timeline/playthrough-timeline.tsx
  savepoint-tanstack/test/integration/log-session-against-run.integration.test.ts
Due: prettier, eslint

feat(game-detail): run-derived status pill + manual override that sticks (spec 016 slice 6)
  context/spec/016-per-playthrough-logs/tasks.md
  savepoint-tanstack/src/entities/playthrough/api/clear-library-status-manual.server.ts
  savepoint-tanstack/src/entities/playthrough/api/index.ts
  savepoint-tanstack/src/entities/playthrough/api/set-library-status-manual.server.ts
  savepoint-tanstack/src/features/manage-playthrough/api/clear-library-status-manual-fn.ts
  savepoint-tanstack/src/features/manage-playthrough/api/index.ts
  savepoint-tanstack/src/features/manage-playthrough/api/set-library-status-manual-fn.ts
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.type.ts
  savepoint-tanstack/src/widgets/game-detail/ui/library-status-switcher/library-status-switcher.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/library-status-switcher/library-status-switcher.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/library-status-switcher/library-status-switcher.type.ts
  savepoint-tanstack/test/integration/manual-status-override.integration.test.ts
Due: prettier, eslint

feat(library): add-playthrough quick-add on library cards (spec 016 slice 7)
  savepoint-tanstack/src/widgets/library-item-card/ui/library-item-card/library-item-card-cta.tsx
  savepoint-tanstack/src/widgets/library-item-card/ui/library-item-card/library-item-card.test.tsx
  savepoint-tanstack/src/widgets/library-item-card/ui/library-item-card/library-item-card.tsx
  savepoint-tanstack/src/widgets/library-item-card/ui/library-item-card/library-item-card.type.ts
  savepoint-tanstack/src/widgets/library-page/ui/library-page/library-page.test.tsx
  savepoint-tanstack/src/widgets/library-page/ui/library-page/library-page.tsx
Due: prettier, eslint

feat(profile): public-profile playthroughs timeline (spec 016 slice 8)
  context/spec/016-per-playthrough-logs/tasks.md
  savepoint-tanstack/src/entities/playthrough/api/get-profile-playthroughs.server.ts
  savepoint-tanstack/src/entities/playthrough/api/index.ts
  savepoint-tanstack/src/features/profile-overview/api/get-public-profile-page-data.ts
  savepoint-tanstack/src/routes/-u.$username.test.tsx
  savepoint-tanstack/src/routes/u.$username.tsx
  savepoint-tanstack/src/widgets/index.ts
  savepoint-tanstack/src/widgets/profile-overview/index.ts
  savepoint-tanstack/src/widgets/profile-overview/ui/profile-overview/profile-overview.test.tsx
  savepoint-tanstack/src/widgets/profile-overview/ui/profile-overview/profile-overview.tsx
  savepoint-tanstack/src/widgets/profile-overview/ui/profile-overview/profile-overview.type.ts
  savepoint-tanstack/src/widgets/profile-overview/ui/profile-playthroughs-section/index.ts
  savepoint-tanstack/src/widgets/profile-overview/ui/profile-playthroughs-section/profile-playthroughs-section.test.tsx
  savepoint-tanstack/src/widgets/profile-overview/ui/profile-playthroughs-section/profile-playthroughs-section.tsx
  savepoint-tanstack/src/widgets/profile-overview/ui/profile-playthroughs-section/profile-playthroughs-section.type.ts
  savepoint-tanstack/test/integration/get-profile-playthroughs.integration.test.ts
Due: prettier, eslint

fix(game-detail): resolve adversarial-review blockers in spec 016
  savepoint-tanstack/src/entities/game/api/get-game-details.server.ts
  savepoint-tanstack/src/features/compose-journal-entry/ui/log-session-drawer/log-session-drawer.test.tsx
  savepoint-tanstack/src/features/compose-journal-entry/ui/log-session-drawer/log-session-drawer.tsx
  savepoint-tanstack/src/features/game-detail/ui/your-pace-panel/your-pace-panel.test.tsx
  savepoint-tanstack/src/features/manage-playthrough/ui/add-edit-playthrough-drawer/add-edit-playthrough-drawer.edit.test.tsx
  savepoint-tanstack/src/features/manage-playthrough/ui/add-edit-playthrough-drawer/add-edit-playthrough-drawer.tsx
  savepoint-tanstack/src/routes/-games.$slug.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.type.ts
  savepoint-tanstack/src/widgets/game-detail/ui/journal-feed/journal-feed.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/journal-feed/journal-feed.type.ts
  savepoint-tanstack/test/integration/get-game-details.integration.test.ts
Due: prettier, eslint

docs(spec): mark spec 016 Per-Playthrough Logs Completed
  context/product/roadmap.md
  context/spec/016-per-playthrough-logs/functional-spec.md
  context/spec/016-per-playthrough-logs/technical-considerations.md
Due: prettier

fix(game-detail): edit playthrough updates instead of duplicating
  savepoint-tanstack/src/features/manage-playthrough/ui/add-edit-playthrough-drawer/add-edit-playthrough-drawer.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/playthrough-timeline/playthrough-timeline.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/playthrough-timeline/playthrough-timeline.type.ts
  savepoint-tanstack/src/widgets/game-detail/ui/playthroughs-panel/playthroughs-panel.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/playthroughs-panel/playthroughs-panel.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/playthroughs-panel/playthroughs-panel.type.ts
Due: prettier, eslint

fix(game-detail): optimistic manual-status pill + memoized journal feed
  savepoint-tanstack/src/widgets/game-detail/ui/journal-feed/journal-feed.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/library-status-switcher/library-status-switcher.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/library-status-switcher/library-status-switcher.tsx
Due: prettier, eslint

fix(profile): single-source privacy for profile playthroughs
  savepoint-tanstack/src/entities/playthrough/api/get-profile-playthroughs.server.ts
  savepoint-tanstack/src/features/profile-overview/api/get-public-profile-page-data.ts
  savepoint-tanstack/test/integration/get-profile-playthroughs.integration.test.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint: any of: *.{js,jsx,ts,tsx}
