Repository NeiruBugz/play-later-v2: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: "FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\\n' ' ')\nif [ -n \"$FILES\" ]; then\n  cd savepoint-app && pnpm exec prettier --write --cache $FILES\nfi\n"
  stage_fixed: true

eslint:
  run: "FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\\n' ' ')\nif [ -n \"$FILES\" ]; then\n  cd savepoint-app && pnpm exec eslint --fix $FILES\nfi\n"
  stage_fixed: true

feat(tanstack): dashboard parity slice A (spec 021)
  savepoint-tanstack/src/features/dashboard/api/get-dashboard-page-data.ts
  savepoint-tanstack/src/features/dashboard/api/get-dashboard-page-data.worker.ts
  savepoint-tanstack/src/features/dashboard/index.ts
  savepoint-tanstack/src/routes/_authed/dashboard.tsx
  savepoint-tanstack/src/widgets/app-sidebar/ui/app-sidebar/app-sidebar.test.tsx
  savepoint-tanstack/src/widgets/app-sidebar/ui/app-sidebar/app-sidebar.tsx
  savepoint-tanstack/src/widgets/dashboard-page/index.ts
  savepoint-tanstack/src/widgets/dashboard-page/ui/dashboard-game-section/dashboard-game-section.tsx
  savepoint-tanstack/src/widgets/dashboard-page/ui/dashboard-game-section/dashboard-game-section.type.ts
  savepoint-tanstack/src/widgets/dashboard-page/ui/dashboard-game-section/index.ts
  savepoint-tanstack/src/widgets/dashboard-page/ui/dashboard-page/dashboard-page.test.tsx
  savepoint-tanstack/src/widgets/dashboard-page/ui/dashboard-page/dashboard-page.tsx
  savepoint-tanstack/src/widgets/dashboard-page/ui/dashboard-page/dashboard-page.type.ts
  savepoint-tanstack/src/widgets/dashboard-page/ui/dashboard-page/index.ts
  savepoint-tanstack/src/widgets/dashboard-page/ui/dashboard-quick-log-hero/dashboard-quick-log-hero.tsx
  savepoint-tanstack/src/widgets/dashboard-page/ui/dashboard-quick-log-hero/dashboard-quick-log-hero.type.ts
  savepoint-tanstack/src/widgets/dashboard-page/ui/dashboard-quick-log-hero/index.ts
  savepoint-tanstack/src/widgets/dashboard-page/ui/dashboard-stats-card/dashboard-stats-card.tsx
  savepoint-tanstack/src/widgets/dashboard-page/ui/dashboard-stats-card/dashboard-stats-card.type.ts
  savepoint-tanstack/src/widgets/dashboard-page/ui/dashboard-stats-card/index.ts
  savepoint-tanstack/src/widgets/dashboard-page/ui/index.ts
Due: prettier, eslint

feat(tanstack): ⌘K command palette (spec 021 slice 17 + canonical parity)
  context/spec/021-migrate-to-tanstack-start/tasks.md
  savepoint-tanstack/DIVERGENCES.md
  savepoint-tanstack/eslint.config.mjs
  savepoint-tanstack/src/features/command-palette/CLAUDE.md
  savepoint-tanstack/src/features/command-palette/hooks/use-command-palette.ts
  savepoint-tanstack/src/features/command-palette/hooks/use-debounced-value.ts
  savepoint-tanstack/src/features/command-palette/index.ts
  savepoint-tanstack/src/features/command-palette/ui/command-palette/command-palette.test.tsx
  savepoint-tanstack/src/features/command-palette/ui/command-palette/command-palette.tsx
  savepoint-tanstack/src/features/command-palette/ui/command-palette/command-palette.type.ts
  savepoint-tanstack/src/features/command-palette/ui/command-palette/index.ts
  savepoint-tanstack/src/features/command-palette/ui/game-result-item/game-result-item.test.tsx
  savepoint-tanstack/src/features/command-palette/ui/game-result-item/game-result-item.tsx
  savepoint-tanstack/src/features/command-palette/ui/game-result-item/game-result-item.type.ts
  savepoint-tanstack/src/features/command-palette/ui/game-result-item/index.ts
  savepoint-tanstack/src/features/command-palette/ui/index.ts
  savepoint-tanstack/src/features/command-palette/ui/palette-navigation-group/index.ts
  savepoint-tanstack/src/features/command-palette/ui/palette-navigation-group/palette-navigation-group.test.tsx
  savepoint-tanstack/src/features/command-palette/ui/palette-navigation-group/palette-navigation-group.tsx
  savepoint-tanstack/src/features/command-palette/ui/palette-navigation-group/palette-navigation-group.type.ts
  savepoint-tanstack/src/features/command-palette/ui/palette-quick-actions-group/index.ts
  savepoint-tanstack/src/features/command-palette/ui/palette-quick-actions-group/palette-quick-actions-group.test.tsx
  savepoint-tanstack/src/features/command-palette/ui/palette-quick-actions-group/palette-quick-actions-group.tsx
  savepoint-tanstack/src/features/command-palette/ui/palette-quick-actions-group/palette-quick-actions-group.type.ts
  savepoint-tanstack/src/routes/-_authed-shell.test.tsx
  savepoint-tanstack/src/routes/__root.tsx
  savepoint-tanstack/src/widgets/app-mobile-topbar/ui/app-mobile-topbar/app-mobile-topbar.tsx
  savepoint-tanstack/src/widgets/app-sidebar/ui/app-sidebar/app-sidebar.tsx
  savepoint-tanstack/src/widgets/library-page/ui/library-page/library-page.tsx
  savepoint-tanstack/test/setup/unit.ts
Due: prettier, eslint

feat(tanstack): game-detail IGDB enrichment (spec 021 slice 17B)
  context/spec/021-migrate-to-tanstack-start/tasks.md
  savepoint-tanstack/DIVERGENCES.md
  savepoint-tanstack/src/entities/game/api/get-game-details.server.ts
  savepoint-tanstack/src/entities/game/api/upsert-game.server.ts
  savepoint-tanstack/src/routes/-games.$slug.test.tsx
  savepoint-tanstack/src/shared/api/igdb/get-game-details-by-slug.ts
  savepoint-tanstack/src/shared/api/igdb/index.ts
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.type.ts
  savepoint-tanstack/test/integration/get-game-details-with-igdb-payload.integration.test.ts
  savepoint-tanstack/test/integration/get-game-details.integration.test.ts
Due: prettier, eslint

refactor(tanstack): extract useDebouncedGameSearch from command-palette
  savepoint-tanstack/src/features/command-palette/hooks/index.ts
  savepoint-tanstack/src/features/command-palette/hooks/use-debounced-game-search.ts
  savepoint-tanstack/src/features/command-palette/ui/command-palette/command-palette.tsx
Due: prettier, eslint

refactor(tanstack): split library-modal form hook + delete-section
  savepoint-tanstack/src/features/manage-library-entry/ui/library-modal/delete-section/delete-section.tsx
  savepoint-tanstack/src/features/manage-library-entry/ui/library-modal/delete-section/delete-section.type.ts
  savepoint-tanstack/src/features/manage-library-entry/ui/library-modal/delete-section/index.ts
  savepoint-tanstack/src/features/manage-library-entry/ui/library-modal/library-modal.tsx
  savepoint-tanstack/src/features/manage-library-entry/ui/library-modal/library-modal.utility.ts
Due: prettier, eslint

refactor(tanstack): collapse filter-library duplication into shared hook + subcomponents
  savepoint-tanstack/src/features/filter-library/lib/index.ts
  savepoint-tanstack/src/features/filter-library/lib/use-library-filters-state.ts
  savepoint-tanstack/src/features/filter-library/ui/index.ts
  savepoint-tanstack/src/features/filter-library/ui/library-filters/library-filters.tsx
  savepoint-tanstack/src/features/filter-library/ui/mobile-filter-bar/mobile-filter-bar.tsx
  savepoint-tanstack/src/features/filter-library/ui/platform-select/index.ts
  savepoint-tanstack/src/features/filter-library/ui/platform-select/platform-select.tsx
  savepoint-tanstack/src/features/filter-library/ui/platform-select/platform-select.type.ts
  savepoint-tanstack/src/features/filter-library/ui/rating-controls/index.ts
  savepoint-tanstack/src/features/filter-library/ui/rating-controls/rating-controls.tsx
  savepoint-tanstack/src/features/filter-library/ui/rating-controls/rating-controls.type.ts
  savepoint-tanstack/src/features/filter-library/ui/sort-select/index.ts
  savepoint-tanstack/src/features/filter-library/ui/sort-select/sort-select.tsx
  savepoint-tanstack/src/features/filter-library/ui/sort-select/sort-select.type.ts
  savepoint-tanstack/src/features/filter-library/ui/status-list/index.ts
  savepoint-tanstack/src/features/filter-library/ui/status-list/status-list.tsx
  savepoint-tanstack/src/features/filter-library/ui/status-list/status-list.type.ts
Due: prettier, eslint

refactor(tanstack): thin UI tests to user-observable behaviour
  savepoint-tanstack/src/features/add-game/ui/add-game-modal/add-game-modal.test.tsx
  savepoint-tanstack/src/features/browse-related-games/ui/related-games-infinite-list/related-games-infinite-list.test.tsx
  savepoint-tanstack/src/features/command-palette/ui/command-palette/command-palette.test.tsx
  savepoint-tanstack/src/features/filter-library/ui/library-filters/library-filters.test.tsx
  savepoint-tanstack/src/features/filter-library/ui/mobile-filter-bar/mobile-filter-bar.test.tsx
  savepoint-tanstack/src/features/manage-library-entry/ui/library-modal/library-modal.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.test.tsx
Due: prettier, eslint

feat(tanstack): tabbed related-games view + per-page loading indicator
  savepoint-tanstack/src/features/browse-related-games/index.ts
  savepoint-tanstack/src/features/browse-related-games/ui/index.ts
  savepoint-tanstack/src/features/browse-related-games/ui/related-games-infinite-list/related-games-infinite-list.test.tsx
  savepoint-tanstack/src/features/browse-related-games/ui/related-games-infinite-list/related-games-infinite-list.tsx
  savepoint-tanstack/src/features/browse-related-games/ui/related-games-tabs/index.ts
  savepoint-tanstack/src/features/browse-related-games/ui/related-games-tabs/related-games-tabs.test.tsx
  savepoint-tanstack/src/features/browse-related-games/ui/related-games-tabs/related-games-tabs.tsx
  savepoint-tanstack/src/features/browse-related-games/ui/related-games-tabs/related-games-tabs.type.ts
  savepoint-tanstack/src/routes/-games.$slug.test.tsx
  savepoint-tanstack/src/routes/games.$slug.tsx
Due: prettier, eslint

fix(tanstack): reset library-status switcher state on game navigation
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.tsx
Due: prettier, eslint

fix(tanstack): client-fetch game-detail slots + richer IGDB error tracing
  context/spec/021-migrate-to-tanstack-start/tasks.md
  pnpm-lock.yaml
  savepoint-tanstack/package.json
  savepoint-tanstack/src/app/dev-console-error-expander.ts
  savepoint-tanstack/src/features/game-detail/api/get-game-detail-page-data.ts
  savepoint-tanstack/src/features/game-detail/api/get-related-games-for-game.ts
  savepoint-tanstack/src/features/game-detail/api/get-times-to-beat-for-game.ts
  savepoint-tanstack/src/features/game-detail/api/index.ts
  savepoint-tanstack/src/features/game-detail/index.ts
  savepoint-tanstack/src/routes/__root.tsx
  savepoint-tanstack/src/shared/api/igdb/errors.ts
  savepoint-tanstack/src/shared/api/igdb/fetch.ts
  savepoint-tanstack/src/shared/api/igdb/fetch.unit.test.ts
Due: prettier, eslint

chore: install shadcn skill
  .agents/skills/shadcn/SKILL.md
  .agents/skills/shadcn/agents/openai.yml
  .agents/skills/shadcn/assets/shadcn-small.png
  .agents/skills/shadcn/assets/shadcn.png
  .agents/skills/shadcn/cli.md
  .agents/skills/shadcn/customization.md
  .agents/skills/shadcn/evals/evals.json
  .agents/skills/shadcn/mcp.md
  .agents/skills/shadcn/rules/base-vs-radix.md
  .agents/skills/shadcn/rules/composition.md
  .agents/skills/shadcn/rules/forms.md
  .agents/skills/shadcn/rules/icons.md
  .agents/skills/shadcn/rules/styling.md
  .claude/skills/shadcn
  skills-lock.json
Due: prettier

feat(tanstack): port 7 shadcn primitives + refactor inline empty-states (spec 021 slice 18)
  context/spec/021-migrate-to-tanstack-start/tasks.md
  pnpm-lock.yaml
  savepoint-tanstack/DIVERGENCES.md
  savepoint-tanstack/package.json
  savepoint-tanstack/src/entities/journal-entry/ui/journal-teaser/journal-teaser.tsx
  savepoint-tanstack/src/shared/ui/alert.test.tsx
  savepoint-tanstack/src/shared/ui/alert.tsx
  savepoint-tanstack/src/shared/ui/checkbox.test.tsx
  savepoint-tanstack/src/shared/ui/checkbox.tsx
  savepoint-tanstack/src/shared/ui/collapsible.test.tsx
  savepoint-tanstack/src/shared/ui/collapsible.tsx
  savepoint-tanstack/src/shared/ui/empty-state.test.tsx
  savepoint-tanstack/src/shared/ui/empty-state.tsx
  savepoint-tanstack/src/shared/ui/index.ts
  savepoint-tanstack/src/shared/ui/scroll-area.test.tsx
  savepoint-tanstack/src/shared/ui/scroll-area.tsx
  savepoint-tanstack/src/shared/ui/separator.test.tsx
  savepoint-tanstack/src/shared/ui/separator.tsx
  savepoint-tanstack/src/shared/ui/undo-toast.test.tsx
  savepoint-tanstack/src/shared/ui/undo-toast.tsx
  savepoint-tanstack/src/widgets/dashboard-page/ui/dashboard-game-section/dashboard-game-section.tsx
  savepoint-tanstack/src/widgets/dashboard-page/ui/dashboard-page/dashboard-page.tsx
  savepoint-tanstack/src/widgets/journal-timeline/ui/journal-timeline/journal-timeline.tsx
  savepoint-tanstack/src/widgets/library-page/ui/library-page/library-page.tsx
  savepoint-tanstack/src/widgets/profile-overview/ui/profile-overview/profile-overview.tsx
Due: prettier, eslint

feat(tanstack): 5-theme picker parity + hand-rolled theme provider (spec 021 slice 19)
  context/spec/021-migrate-to-tanstack-start/tasks.md
  savepoint-tanstack/DIVERGENCES.md
  savepoint-tanstack/src/app/providers/theme-provider/index.ts
  savepoint-tanstack/src/app/providers/theme-provider/theme-provider.test.tsx
  savepoint-tanstack/src/app/providers/theme-provider/theme-provider.tsx
  savepoint-tanstack/src/app/providers/theme-provider/theme-provider.type.ts
  savepoint-tanstack/src/app/providers/theme-provider/theme-provider.utility.ts
  savepoint-tanstack/src/features/toggle-theme/ui/theme-toggle/theme-toggle.test.tsx
  savepoint-tanstack/src/features/toggle-theme/ui/theme-toggle/theme-toggle.tsx
  savepoint-tanstack/src/routes/__root.tsx
Due: prettier, eslint

feat(tanstack): IGDB linking + auto-match + pagination for Steam imports
  savepoint-tanstack/DIVERGENCES.md
  savepoint-tanstack/src/entities/imported-game/api/find-imported-games-for-user.server.ts
  savepoint-tanstack/src/entities/imported-game/model/types.ts
  savepoint-tanstack/src/features/steam-import/api/errors.ts
  savepoint-tanstack/src/features/steam-import/api/fetch-steam-games.ts
  savepoint-tanstack/src/features/steam-import/api/fetch-steam-games.worker.ts
  savepoint-tanstack/src/features/steam-import/api/import-game-to-library.ts
  savepoint-tanstack/src/features/steam-import/api/import-game-to-library.worker.ts
  savepoint-tanstack/src/features/steam-import/api/index.ts
  savepoint-tanstack/src/features/steam-import/ui/igdb-manual-search/igdb-manual-search.test.tsx
  savepoint-tanstack/src/features/steam-import/ui/igdb-manual-search/igdb-manual-search.tsx
  savepoint-tanstack/src/features/steam-import/ui/igdb-manual-search/igdb-manual-search.type.ts
  savepoint-tanstack/src/features/steam-import/ui/igdb-manual-search/index.ts
  savepoint-tanstack/src/features/steam-import/ui/import-game-modal/import-game-modal.test.tsx
  savepoint-tanstack/src/features/steam-import/ui/import-game-modal/import-game-modal.tsx
  savepoint-tanstack/src/features/steam-import/ui/import-game-modal/import-game-modal.type.ts
  savepoint-tanstack/src/features/steam-import/ui/import-game-modal/index.ts
  savepoint-tanstack/src/features/steam-import/ui/imported-game-card/imported-game-card.test.tsx
  savepoint-tanstack/src/features/steam-import/ui/imported-game-card/imported-game-card.tsx
  savepoint-tanstack/src/features/steam-import/ui/imported-game-card/imported-game-card.type.ts
  savepoint-tanstack/src/routes/_authed/steam/games.tsx
  savepoint-tanstack/src/shared/api/igdb/index.ts
  savepoint-tanstack/src/shared/api/igdb/match-steam-game.ts
  savepoint-tanstack/src/shared/api/igdb/match-steam-game.unit.test.ts
  savepoint-tanstack/src/widgets/imported-games-page/ui/imported-games-page/imported-games-page.test.tsx
  savepoint-tanstack/src/widgets/imported-games-page/ui/imported-games-page/imported-games-page.tsx
  savepoint-tanstack/src/widgets/imported-games-page/ui/imported-games-page/imported-games-page.type.ts
  savepoint-tanstack/src/widgets/library-page/ui/library-page/library-page.tsx
  savepoint-tanstack/test/integration/import-game-to-library.integration.test.ts
  savepoint-tanstack/test/integration/imported-game-entity.integration.test.ts
Due: prettier, eslint

feat(tanstack): slice 22 delta audit + textarea/segmented-control primitives
  context/audits/2026-05-20/visual-parity-delta.md
  context/spec/021-migrate-to-tanstack-start/tasks.md
  savepoint-tanstack/src/features/compose-journal-entry/ui/compose-journal-entry-dialog/compose-journal-entry-dialog.tsx
  savepoint-tanstack/src/features/edit-journal-entry/ui/edit-journal-entry-dialog/edit-journal-entry-dialog.tsx
  savepoint-tanstack/src/shared/ui/index.ts
  savepoint-tanstack/src/shared/ui/segmented-control.test.tsx
  savepoint-tanstack/src/shared/ui/segmented-control.tsx
  savepoint-tanstack/src/shared/ui/textarea.test.tsx
  savepoint-tanstack/src/shared/ui/textarea.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/library-status-switcher/library-status-switcher.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/library-status-switcher/library-status-switcher.tsx
  savepoint-tanstack/test/integration/steam-fetch.integration.test.ts
  savepoint-tanstack/test/integration/steam-openid.integration.test.ts
Due: prettier, eslint

feat(tanstack): slice 22 visual parity pass — search route, settings layout, mobile palette
  context/spec/021-migrate-to-tanstack-start/tasks.md
  savepoint-tanstack/src/entities/journal-entry/ui/journal-entry-card/journal-entry-card.tsx
  savepoint-tanstack/src/features/command-palette/hooks/index.ts
  savepoint-tanstack/src/features/command-palette/hooks/use-media-query.ts
  savepoint-tanstack/src/features/command-palette/ui/command-palette/command-palette.tsx
  savepoint-tanstack/src/features/onboarding-first-time/ui/onboarding-checklist/onboarding-checklist.tsx
  savepoint-tanstack/src/features/search-games/index.ts
  savepoint-tanstack/src/features/search-games/ui/index.ts
  savepoint-tanstack/src/features/search-games/ui/search-games-input/index.ts
  savepoint-tanstack/src/features/search-games/ui/search-games-input/search-games-input.tsx
  savepoint-tanstack/src/features/search-games/ui/search-games-input/search-games-input.type.ts
  savepoint-tanstack/src/features/search-games/ui/search-games-results/index.ts
  savepoint-tanstack/src/features/search-games/ui/search-games-results/search-games-results.tsx
  savepoint-tanstack/src/features/search-games/ui/search-games-results/search-games-results.type.ts
  savepoint-tanstack/src/routeTree.gen.ts
  savepoint-tanstack/src/routes/_authed/games.search.tsx
  savepoint-tanstack/src/routes/_authed/settings.tsx
  savepoint-tanstack/src/routes/_authed/settings/account.tsx
  savepoint-tanstack/src/routes/_authed/settings/profile.tsx
  savepoint-tanstack/src/shared/lib/use-debounced-value.ts
  savepoint-tanstack/src/widgets/app-mobile-topbar/ui/app-mobile-topbar/app-mobile-topbar.test.tsx
  savepoint-tanstack/src/widgets/app-mobile-topbar/ui/app-mobile-topbar/app-mobile-topbar.tsx
  savepoint-tanstack/src/widgets/app-sidebar/ui/app-sidebar/app-sidebar.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.test.tsx
  savepoint-tanstack/src/widgets/game-detail/ui/game-detail/game-detail.tsx
  savepoint-tanstack/src/widgets/index.ts
  savepoint-tanstack/src/widgets/profile-overview/ui/profile-overview/profile-overview.tsx
  savepoint-tanstack/src/widgets/settings-rail/index.ts
  savepoint-tanstack/src/widgets/settings-rail/ui/index.ts
  savepoint-tanstack/src/widgets/settings-rail/ui/settings-rail/index.ts
  savepoint-tanstack/src/widgets/settings-rail/ui/settings-rail/settings-rail.test.tsx
  savepoint-tanstack/src/widgets/settings-rail/ui/settings-rail/settings-rail.tsx
  savepoint-tanstack/src/widgets/settings-rail/ui/settings-rail/settings-rail.type.ts
Due: prettier, eslint

chore: update pnpm onlyBuiltDependencies allowlist
  package.json
Due: prettier

ci(tanstack): inject Postgres secrets into install steps
  .github/workflows/pr-checks-tanstack.yml
Due: none

ci: replace savepoint-app postinstall with explicit prisma:generate steps
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/integration.yml
  .github/workflows/pr-checks-tanstack.yml
  .github/workflows/pr-checks.yml
  savepoint-app/package.json
Due: prettier

fix(ci): pass database URL env to `prisma generate` steps
  .github/workflows/e2e.yml
  .github/workflows/integration.yml
  .github/workflows/pr-checks-tanstack.yml
  .github/workflows/pr-checks.yml
Due: none

chore(ci): add documented allowlist to freshness quarantine check
  scripts/check-package-freshness.mjs
  scripts/package-freshness-allowlist.json
Due: prettier

fix(ci): bump CI Node 20 -> 22 so rolldown native binding installs
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/integration.yml
  .github/workflows/pr-checks-tanstack.yml
  .github/workflows/pr-checks.yml
Due: none

fix(tanstack): type CommandInput ref as HTMLInputElement
  savepoint-tanstack/src/shared/ui/command.tsx
Due: prettier, eslint

fix(tanstack): make /games/search a public route (spec 021 slice 23 #5)
  savepoint-tanstack/src/routes/-games.search.test.tsx
  savepoint-tanstack/src/routes/games.search.tsx
Due: prettier, eslint

feat(tanstack): add journal entry page routes (spec 021 slice 23 #1)
  savepoint-tanstack/src/entities/journal-entry/api/get-journal-entry-by-id.server.ts
  savepoint-tanstack/src/features/compose-journal-entry/ui/compose-journal-entry-form/compose-journal-entry-form.test.tsx
  savepoint-tanstack/src/features/compose-journal-entry/ui/compose-journal-entry-form/compose-journal-entry-form.tsx
  savepoint-tanstack/src/features/compose-journal-entry/ui/compose-journal-entry-form/compose-journal-entry-form.type.ts
  savepoint-tanstack/src/features/compose-journal-entry/ui/compose-journal-entry-form/index.ts
  savepoint-tanstack/src/features/compose-journal-entry/ui/index.ts
  savepoint-tanstack/src/features/delete-journal-entry/ui/delete-journal-entry-button/delete-journal-entry-button.test.tsx
  savepoint-tanstack/src/features/delete-journal-entry/ui/delete-journal-entry-button/delete-journal-entry-button.tsx
  savepoint-tanstack/src/features/delete-journal-entry/ui/delete-journal-entry-button/delete-journal-entry-button.type.ts
  savepoint-tanstack/src/features/delete-journal-entry/ui/delete-journal-entry-button/index.ts
  savepoint-tanstack/src/features/delete-journal-entry/ui/index.ts
  savepoint-tanstack/src/features/edit-journal-entry/ui/edit-journal-entry-form/edit-journal-entry-form.test.tsx
  savepoint-tanstack/src/features/edit-journal-entry/ui/edit-journal-entry-form/edit-journal-entry-form.tsx
  savepoint-tanstack/src/features/edit-journal-entry/ui/edit-journal-entry-form/edit-journal-entry-form.type.ts
  savepoint-tanstack/src/features/edit-journal-entry/ui/edit-journal-entry-form/index.ts
  savepoint-tanstack/src/features/edit-journal-entry/ui/index.ts
  savepoint-tanstack/src/features/journal-timeline/api/get-journal-entry-page-data.ts
  savepoint-tanstack/src/features/journal-timeline/index.ts
  savepoint-tanstack/src/routes/_authed/-journal.$id.edit.test.tsx
  savepoint-tanstack/src/routes/_authed/-journal.$id.test.tsx
  savepoint-tanstack/src/routes/_authed/-journal.new.test.tsx
  savepoint-tanstack/src/routes/_authed/journal.$id.edit.tsx
  savepoint-tanstack/src/routes/_authed/journal.$id.tsx
  savepoint-tanstack/src/routes/_authed/journal.new.tsx
  savepoint-tanstack/src/widgets/journal-entry-page/index.ts
  savepoint-tanstack/src/widgets/journal-entry-page/ui/index.ts
  savepoint-tanstack/src/widgets/journal-entry-page/ui/journal-entry-page/index.ts
  savepoint-tanstack/src/widgets/journal-entry-page/ui/journal-entry-page/journal-entry-page.test.tsx
  savepoint-tanstack/src/widgets/journal-entry-page/ui/journal-entry-page/journal-entry-page.tsx
  savepoint-tanstack/src/widgets/journal-entry-page/ui/journal-entry-page/journal-entry-page.type.ts
  savepoint-tanstack/src/widgets/journal-timeline-page/ui/journal-timeline-page/journal-timeline-page.test.tsx
  savepoint-tanstack/src/widgets/journal-timeline-page/ui/journal-timeline-page/journal-timeline-page.tsx
  savepoint-tanstack/test/integration/journal-entry-by-id.integration.test.ts
Due: prettier, eslint

feat(tanstack): add /profile/setup page route (spec 021 slice 23 #2)
  savepoint-tanstack/src/entities/profile/api/get-profile-setup-status.server.ts
  savepoint-tanstack/src/entities/profile/api/index.ts
  savepoint-tanstack/src/features/edit-profile/index.ts
  savepoint-tanstack/src/features/setup-profile/api/get-profile-setup-status.ts
  savepoint-tanstack/src/features/setup-profile/index.ts
  savepoint-tanstack/src/routes/-_authed-profile.test.tsx
  savepoint-tanstack/src/routes/_authed/-profile.setup.test.tsx
  savepoint-tanstack/src/routes/_authed/profile.setup.tsx
  savepoint-tanstack/src/routes/_authed/profile.tsx
  savepoint-tanstack/src/shared/lib/constants.ts
  savepoint-tanstack/src/widgets/profile-setup-page/index.ts
  savepoint-tanstack/src/widgets/profile-setup-page/ui/profile-setup-form/index.ts
  savepoint-tanstack/src/widgets/profile-setup-page/ui/profile-setup-form/profile-setup-form.test.tsx
  savepoint-tanstack/src/widgets/profile-setup-page/ui/profile-setup-form/profile-setup-form.tsx
  savepoint-tanstack/src/widgets/profile-setup-page/ui/profile-setup-form/profile-setup-form.type.ts
  savepoint-tanstack/test/integration/get-profile-setup-status.integration.test.ts
Due: prettier, eslint

chore(tanstack): regenerate route tree + record slice 23 divergences
  savepoint-tanstack/DIVERGENCES.md
  savepoint-tanstack/src/routeTree.gen.ts
Due: prettier, eslint

docs(spec): add slice 23 URL parity matrix + track blocker remediation
  context/spec/021-migrate-to-tanstack-start/audits/23-url-parity-matrix.md
  context/spec/021-migrate-to-tanstack-start/tasks.md
Due: prettier

refactor(tanstack): relocate 6 FSD layer violations (spec 021 slice 23)
  savepoint-tanstack/src/app/providers/theme-provider/index.ts
  savepoint-tanstack/src/app/providers/theme-provider/theme-provider.test.tsx
  savepoint-tanstack/src/app/providers/theme-provider/theme-provider.tsx
  savepoint-tanstack/src/app/providers/theme-provider/theme-provider.type.ts
  savepoint-tanstack/src/app/providers/theme-provider/theme-provider.utility.ts
  savepoint-tanstack/src/entities/game/api/index.ts
  savepoint-tanstack/src/entities/game/api/search-games.ts
  savepoint-tanstack/src/entities/game/index.ts
  savepoint-tanstack/src/entities/profile/ui/index.ts
  savepoint-tanstack/src/entities/profile/ui/overview-tab/index.ts
  savepoint-tanstack/src/entities/profile/ui/overview-tab/overview-tab.tsx
  savepoint-tanstack/src/entities/profile/ui/overview-tab/overview-tab.type.ts
  savepoint-tanstack/src/features/add-game/api/search-games-fn.ts
  savepoint-tanstack/src/features/browse-related-games/ui/related-games-infinite-list/related-games-infinite-list.test.tsx
  savepoint-tanstack/src/features/browse-related-games/ui/related-games-infinite-list/related-games-infinite-list.tsx
  savepoint-tanstack/src/features/browse-related-games/ui/related-games-infinite-list/related-games-infinite-list.type.ts
  savepoint-tanstack/src/features/browse-related-games/ui/related-games-tabs/related-games-tabs.test.tsx
  savepoint-tanstack/src/features/browse-related-games/ui/related-games-tabs/related-games-tabs.tsx
  savepoint-tanstack/src/features/browse-related-games/ui/related-games-tabs/related-games-tabs.type.ts
  savepoint-tanstack/src/features/command-palette/hooks/use-debounced-game-search.ts
  savepoint-tanstack/src/features/command-palette/ui/command-palette/command-palette.test.tsx
  savepoint-tanstack/src/features/search-games/api/search-games.ts
  savepoint-tanstack/src/features/steam-import/ui/igdb-manual-search/igdb-manual-search.test.tsx
  savepoint-tanstack/src/features/steam-import/ui/igdb-manual-search/igdb-manual-search.tsx
  savepoint-tanstack/src/features/toggle-theme/ui/theme-toggle/theme-toggle.tsx
  savepoint-tanstack/src/routes/dev/igdb-search.tsx
  savepoint-tanstack/src/routes/games.$slug.tsx
  savepoint-tanstack/src/shared/lib/theme/index.ts
Due: prettier, eslint

build(tanstack): make FSD boundaries lint @/-alias-aware + per-slice (spec 021 slice 23)
  pnpm-lock.yaml
  savepoint-tanstack/eslint.config.mjs
  savepoint-tanstack/package.json
  savepoint-tanstack/test/eslint/fsd-boundaries.test.ts
Due: prettier, eslint

docs(spec): record slice 23 FSD audit + remediation
  .claude/rules/tanstack/widgets.md
  context/spec/021-migrate-to-tanstack-start/audits/23-fsd-audit.md
  context/spec/021-migrate-to-tanstack-start/tasks.md
  savepoint-tanstack/DIVERGENCES.md
Due: prettier

build(tanstack): merged coverage measurement + 85% gate + CI enforcement (spec 021 slice 23)
  .github/workflows/pr-checks-tanstack.yml
  pnpm-lock.yaml
  savepoint-tanstack/package.json
  savepoint-tanstack/vitest.config.ts
Due: prettier, eslint

docs(spec): record slice 23 test-coverage audit + remediation
  context/spec/021-migrate-to-tanstack-start/audits/23-test-coverage-audit.md
  context/spec/021-migrate-to-tanstack-start/tasks.md
  savepoint-tanstack/DIVERGENCES.md
Due: prettier

docs(spec): record slice 23 cross-app session check (PASS)
  context/spec/021-migrate-to-tanstack-start/audits/23-cross-app-session-check.md
  context/spec/021-migrate-to-tanstack-start/tasks.md
Due: prettier

fix(tanstack): enforce activity privacy at the entity layer (spec 021 slice 23)
  savepoint-tanstack/src/entities/activity-feed/api/get-activity-feed.server.ts
  savepoint-tanstack/src/features/view-activity-feed/api/get-activity-for-user-fn.ts
  savepoint-tanstack/src/features/view-activity-feed/api/get-activity-for-user.worker.ts
  savepoint-tanstack/test/integration/get-activity-for-user.integration.test.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint: any of: *.{js,jsx,ts,tsx}
