Repository NeiruBugz/play-later-v2: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    prettier:
      glob: "*.{js,jsx,ts,tsx,json,css,md}"
      run: |
        FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\n' ' ')
        if [ -n "$FILES" ]; then
          cd savepoint-app && pnpm exec prettier --write --cache $FILES
        fi
      stage_fixed: true
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: |
        FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\n' ' ')
        if [ -n "$FILES" ]; then
          cd savepoint-app && pnpm exec eslint --fix $FILES
        fi
      stage_fixed: true
    typecheck:
      run: cd savepoint-app && pnpm typecheck

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

fix(social): update countFollowers/countFollowing integration tests for isPublicProfile filter
  savepoint-app/data-access-layer/repository/follow/follow-repository.integration.test.ts
Due: prettier, eslint

fix(ci): remove explicit pnpm version from deploy workflow
  .github/workflows/deploy.yml
Due: none

fix(ci): move database env vars to job level for prisma generate
  .github/workflows/deploy.yml
Due: none

💄 style(ui): modernize dark theme, border radius, and header
  savepoint-app/app/layout.tsx
  savepoint-app/shared/components/platform-badges.tsx
  savepoint-app/shared/components/ui/badge.tsx
  savepoint-app/shared/components/ui/card.tsx
  savepoint-app/shared/globals.css
  savepoint-app/widgets/header/ui/header.tsx
Due: prettier, eslint

🚸 feat(ui): improve card interactions, dashboard stats, and profile
  savepoint-app/app/(protected)/dashboard/page.tsx
  savepoint-app/features/browse-related-games/ui/related-games.tsx
  savepoint-app/features/dashboard/ui/dashboard-stats-cards.tsx
  savepoint-app/features/dashboard/ui/dashboard-stats.tsx
  savepoint-app/features/game-search/ui/game-grid-card.tsx
  savepoint-app/features/library/ui/library-card.tsx
  savepoint-app/features/profile/ui/profile-stats-bar.tsx
  savepoint-app/features/profile/ui/profile-view.tsx
  savepoint-app/features/profile/ui/profile-view.types.ts
  savepoint-app/shared/components/game-cover-image.tsx
Due: prettier, eslint

✨ feat(game-detail): add Backloggd-style screenshot banner
  savepoint-app/app/games/[slug]/page.tsx
  savepoint-app/app/games/layout.tsx
  savepoint-app/shared/config/image.config.ts
Due: prettier, eslint

🩹 fix(game-detail): improve banner gradient for bright screenshots
  savepoint-app/app/games/[slug]/page.tsx
Due: prettier, eslint

💄 style(ui): tighten library and dashboard game grids
  savepoint-app/features/dashboard/ui/dashboard-game-section.tsx
  savepoint-app/features/library/ui/library-grid.tsx
Due: prettier, eslint

💄 style(ui): search grid density + segmented profile status bar
  savepoint-app/features/game-search/ui/game-search-results.tsx
  savepoint-app/features/profile/ui/profile-view.tsx
Due: prettier, eslint

🏗️ refactor(dashboard): bento grid layout with widget tiles
  savepoint-app/app/(protected)/dashboard/page.tsx
  savepoint-app/features/dashboard/ui/dashboard-game-section.tsx
  savepoint-app/features/dashboard/ui/dashboard-stats-cards.tsx
Due: prettier, eslint

🔥 fix(dashboard): remove duplicate stat tiles from bento grid
  savepoint-app/app/(protected)/dashboard/page.tsx
  savepoint-app/features/dashboard/ui/dashboard-stats-cards.tsx
Due: prettier, eslint

💄 style(ui): tighten page headers and improve journal empty state
  savepoint-app/app/(protected)/journal/page.tsx
  savepoint-app/app/games/search/page.tsx
  savepoint-app/features/journal/ui/journal-timeline.tsx
  savepoint-app/features/library/ui/library-page-view.tsx
Due: prettier, eslint

fix(dashboard): remove unused ActivityFeedSkeleton import
  savepoint-app/app/(protected)/dashboard/page.tsx
Due: prettier, eslint

UI modernization(#254)
  savepoint-app/app/(protected)/dashboard/page.tsx
  savepoint-app/app/(protected)/journal/page.tsx
  savepoint-app/app/games/[slug]/page.tsx
  savepoint-app/app/games/layout.tsx
  savepoint-app/app/games/search/page.tsx
  savepoint-app/app/layout.tsx
  savepoint-app/features/browse-related-games/ui/related-games.tsx
  savepoint-app/features/dashboard/ui/dashboard-game-section.tsx
  savepoint-app/features/dashboard/ui/dashboard-stats-cards.tsx
  savepoint-app/features/dashboard/ui/dashboard-stats.tsx
  savepoint-app/features/game-search/ui/game-grid-card.tsx
  savepoint-app/features/game-search/ui/game-search-results.tsx
  savepoint-app/features/journal/ui/journal-timeline.tsx
  savepoint-app/features/library/ui/library-card.tsx
  savepoint-app/features/library/ui/library-grid.tsx
  savepoint-app/features/library/ui/library-page-view.tsx
  savepoint-app/features/profile/ui/profile-stats-bar.tsx
  savepoint-app/features/profile/ui/profile-view.tsx
  savepoint-app/features/profile/ui/profile-view.types.ts
  savepoint-app/shared/components/game-cover-image.tsx
  savepoint-app/shared/components/platform-badges.tsx
  savepoint-app/shared/components/ui/badge.tsx
  savepoint-app/shared/components/ui/card.tsx
  savepoint-app/shared/config/image.config.ts
  savepoint-app/shared/globals.css
  savepoint-app/widgets/header/ui/header.tsx
Due: prettier, eslint

fix(deps): resolve all 25 open Dependabot security alerts
  package.json
  pnpm-lock.yaml
  savepoint-app/package.json
Due: prettier

fix(deps): pin pnpm overrides to exact versions to prevent major-version drift
  package.json
  pnpm-lock.yaml
Due: prettier

fix(deps): resolve all 25 open Dependabot security alerts (#257)
  package.json
  pnpm-lock.yaml
  savepoint-app/package.json
Due: prettier

⚗️ experiment(ui): add Y2K retro console theme with 4-way theme switcher
  savepoint-app/app/(protected)/dashboard/page.tsx
  savepoint-app/features/dashboard/ui/dashboard-game-section.tsx
  savepoint-app/features/dashboard/ui/dashboard-stats-cards.tsx
  savepoint-app/features/library/ui/library-card.tsx
  savepoint-app/shared/components/theme-toggle.tsx
  savepoint-app/shared/components/ui/badge.tsx
  savepoint-app/shared/components/ui/button.tsx
  savepoint-app/shared/components/ui/card.tsx
  savepoint-app/shared/globals.css
  savepoint-app/shared/providers/providers.tsx
  savepoint-app/widgets/header/ui/header.tsx
  savepoint-app/widgets/header/ui/mobile-nav.tsx
Due: prettier, eslint

🩹 fix(library): prevent infinite re-render loop on library page
  savepoint-app/features/library/ui/library-filters.tsx
Due: prettier, eslint

⚗️ experiment(ui): shift Y2K theme to Xbox-inspired green palette
  savepoint-app/app/(protected)/dashboard/page.tsx
  savepoint-app/features/dashboard/ui/dashboard-game-section.tsx
  savepoint-app/features/dashboard/ui/dashboard-stats-cards.tsx
  savepoint-app/features/library/ui/library-card.tsx
  savepoint-app/features/library/ui/library-page-view.tsx
  savepoint-app/shared/components/ui/badge.tsx
  savepoint-app/shared/components/ui/button.tsx
  savepoint-app/shared/components/ui/card.tsx
  savepoint-app/shared/globals.css
  savepoint-app/widgets/header/ui/header.tsx
  savepoint-app/widgets/header/ui/mobile-nav.tsx
Due: prettier, eslint

feat(ui): add Jewel theme — 6th-gen console visual synthesis
  context/spec/jewel-theme/spec.md
  savepoint-app/app/(protected)/dashboard/page.tsx
  savepoint-app/app/games/[slug]/page.tsx
  savepoint-app/features/dashboard/ui/dashboard-stats-cards.tsx
  savepoint-app/features/library/ui/library-card.tsx
  savepoint-app/features/profile/ui/profile-view.tsx
  savepoint-app/features/social/ui/activity-feed.tsx
  savepoint-app/shared/components/theme-toggle.tsx
  savepoint-app/shared/components/ui/badge.tsx
  savepoint-app/shared/components/ui/card.tsx
  savepoint-app/shared/globals.css
  savepoint-app/shared/providers/providers.tsx
  savepoint-app/widgets/header/ui/header.tsx
Due: prettier, eslint

feat(ui): add Jewel theme — 6th-gen console visual synthesis (#259)
  context/spec/jewel-theme/spec.md
  savepoint-app/app/(protected)/dashboard/page.tsx
  savepoint-app/app/games/[slug]/page.tsx
  savepoint-app/features/dashboard/ui/dashboard-game-section.tsx
  savepoint-app/features/dashboard/ui/dashboard-stats-cards.tsx
  savepoint-app/features/library/ui/library-card.tsx
  savepoint-app/features/library/ui/library-filters.tsx
  savepoint-app/features/library/ui/library-page-view.tsx
  savepoint-app/features/profile/ui/profile-view.tsx
  savepoint-app/features/social/ui/activity-feed.tsx
  savepoint-app/shared/components/theme-toggle.tsx
  savepoint-app/shared/components/ui/badge.tsx
  savepoint-app/shared/components/ui/button.tsx
  savepoint-app/shared/components/ui/card.tsx
  savepoint-app/shared/globals.css
  savepoint-app/shared/providers/providers.tsx
  savepoint-app/widgets/header/ui/header.tsx
  savepoint-app/widgets/header/ui/mobile-nav.tsx
Due: prettier, eslint

refactor(igdb): harden third-party API integration
  pnpm-lock.yaml
  savepoint-app/app/api/games/search/route.test.ts
  savepoint-app/app/api/games/search/route.ts
  savepoint-app/data-access-layer/handlers/igdb/igdb-handler.ts
  savepoint-app/data-access-layer/handlers/igdb/igdb-handler.unit.test.ts
  savepoint-app/data-access-layer/handlers/igdb/index.ts
  savepoint-app/data-access-layer/handlers/igdb/types.ts
  savepoint-app/data-access-layer/handlers/index.ts
  savepoint-app/data-access-layer/services/igdb/igdb-discovery.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-edge-cases.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-matcher.ts
  savepoint-app/data-access-layer/services/igdb/igdb-matcher.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-search.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/package.json
  savepoint-app/shared/config/igdb.ts
  savepoint-app/shared/lib/igdb/errors.ts
  savepoint-app/shared/lib/igdb/igdb-fetch.ts
  savepoint-app/shared/lib/igdb/igdb-fetch.unit.test.ts
  savepoint-app/shared/lib/igdb/index.ts
  savepoint-app/shared/lib/igdb/limiter.ts
  savepoint-app/shared/lib/igdb/token.ts
  savepoint-app/shared/lib/igdb/token.unit.test.ts
  savepoint-app/test/setup/common-mocks.ts
Due: prettier, eslint

style: fix prettier formatting in dashboard and header
  savepoint-app/features/dashboard/ui/dashboard-stats-cards.tsx
  savepoint-app/widgets/header/ui/header.tsx
Due: prettier, eslint

ci: disable e2e workflow until branch stabilizes
  .github/workflows/e2e.yml
Due: none

fix(igdb): url-encode Twitch OAuth params and drop dead code
  savepoint-app/data-access-layer/services/igdb/igdb-search.unit.test.ts
  savepoint-app/shared/config/igdb.ts
  savepoint-app/shared/lib/igdb/token.ts
  savepoint-app/test/setup/common-mocks.ts
Due: prettier, eslint

refactor(igdb): harden third-party API integration (#262)
  .github/workflows/e2e.yml
  pnpm-lock.yaml
  savepoint-app/app/api/games/search/route.test.ts
  savepoint-app/app/api/games/search/route.ts
  savepoint-app/data-access-layer/handlers/igdb/igdb-handler.ts
  savepoint-app/data-access-layer/handlers/igdb/igdb-handler.unit.test.ts
  savepoint-app/data-access-layer/handlers/igdb/index.ts
  savepoint-app/data-access-layer/handlers/igdb/types.ts
  savepoint-app/data-access-layer/handlers/index.ts
  savepoint-app/data-access-layer/services/igdb/igdb-discovery.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-edge-cases.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-matcher.ts
  savepoint-app/data-access-layer/services/igdb/igdb-matcher.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-search.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/features/dashboard/ui/dashboard-stats-cards.tsx
  savepoint-app/package.json
  savepoint-app/shared/config/igdb.ts
  savepoint-app/shared/lib/igdb/errors.ts
  savepoint-app/shared/lib/igdb/igdb-fetch.ts
  savepoint-app/shared/lib/igdb/igdb-fetch.unit.test.ts
  savepoint-app/shared/lib/igdb/index.ts
  savepoint-app/shared/lib/igdb/limiter.ts
  savepoint-app/shared/lib/igdb/token.ts
  savepoint-app/shared/lib/igdb/token.unit.test.ts
  savepoint-app/test/setup/common-mocks.ts
  savepoint-app/widgets/header/ui/header.tsx
Due: prettier, eslint

docs(roadmap,social): mark spec 008 complete and reorganize phases
  context/product/roadmap.md
  context/spec/008-social-engagement/functional-spec.md
  context/spec/008-social-engagement/linear-sync.json
  context/spec/008-social-engagement/tasks.md
Due: prettier

docs(spec): add 009 unified profile view functional spec
  context/spec/009-unified-profile-view/functional-spec.md
  context/spec/009-unified-profile-view/linear-sync.json
Due: prettier

chore(claude): add specialized subagents, grill-me skill, awos skills dir
  .agents/skills/awos/SKILL.md
  .claude/agents/aws-terraform-advisor.md
  .claude/agents/nextjs-expert.md
  .claude/agents/python-architect.md
  .claude/agents/react-architect.md
  .claude/agents/typescript-test-expert.md
  .claude/skills/grill-me/SKILL.md
Due: prettier

chore(deps): bump security-critical and tooling packages
  lambdas-py/uv.lock
  package.json
  pnpm-lock.yaml
  savepoint-app/package.json
Due: prettier

refactor(eslint): migrate to eslint-config-next 16 flat config
  savepoint-app/eslint.config.mjs
Due: none

refactor(react): satisfy react-hooks v7 rules after eslint bump
  savepoint-app/app/games/[slug]/page.tsx
  savepoint-app/app/page.tsx
  savepoint-app/features/auth/ui/credentials-form.tsx
  savepoint-app/features/command-palette/ui/desktop-command-palette.tsx
  savepoint-app/features/command-palette/ui/mobile-command-palette.tsx
  savepoint-app/features/dashboard/ui/dashboard-stats-cards.tsx
  savepoint-app/features/game-detail/ui/library-status-display.tsx
  savepoint-app/features/game-search/hooks/use-view-preference.ts
  savepoint-app/features/journal/ui/game-selector.tsx
  savepoint-app/features/journal/ui/journal-entry-form.tsx
  savepoint-app/features/journal/ui/journal-quick-entry-sheet.tsx
  savepoint-app/features/library/ui/library-card.tsx
  savepoint-app/features/manage-library-entry/hooks/use-library-modal.ts
  savepoint-app/features/manage-library-entry/ui/date-field.tsx
  savepoint-app/features/profile/hooks/use-username-validation.ts
  savepoint-app/features/profile/ui/profile-settings-form.tsx
  savepoint-app/features/profile/ui/profile-view.tsx
  savepoint-app/features/steam-import/ui/import-game-modal.tsx
  savepoint-app/features/steam-import/ui/steam-privacy-error.tsx
  savepoint-app/features/steam-import/ui/steam-rate-limit-error.tsx
  savepoint-app/features/whats-new/hooks/use-whats-new.ts
  savepoint-app/shared/components/library-status-icon.tsx
  savepoint-app/shared/components/theme-toggle.tsx
  savepoint-app/shared/components/ui/progress-ring.tsx
  savepoint-app/shared/hooks/use-media-query.ts
  savepoint-app/test/utils/test-provider.tsx
  savepoint-app/widgets/header/ui/header.tsx
Due: prettier, eslint

chore(lambdas-py): apply ruff format and suppress unused-arg for API-compat param
  lambdas-py/src/lambdas/clients/igdb.py
  lambdas-py/src/lambdas/clients/s3.py
  lambdas-py/src/lambdas/clients/steam.py
  lambdas-py/src/lambdas/config.py
  lambdas-py/src/lambdas/handlers/hello.py
  lambdas-py/src/lambdas/handlers/igdb_enrichment.py
  lambdas-py/src/lambdas/handlers/steam_import.py
  lambdas-py/src/lambdas/models/igdb.py
  lambdas-py/src/lambdas/services/classifier.py
  lambdas-py/src/lambdas/services/database.py
  lambdas-py/tests/conftest.py
  lambdas-py/tests/integration/conftest.py
  lambdas-py/tests/integration/test_database_integration.py
  lambdas-py/tests/integration/test_full_pipeline_integration.py
  lambdas-py/tests/integration/test_igdb_client_integration.py
  lambdas-py/tests/integration/test_steam_client_integration.py
  lambdas-py/tests/unit/services/test_database.py
  lambdas-py/tests/unit/test_classifier.py
  lambdas-py/tests/unit/test_igdb_client.py
  lambdas-py/tests/unit/test_igdb_enrichment_handler.py
  lambdas-py/tests/unit/test_steam_client.py
  lambdas-py/tests/unit/test_steam_import_handler.py
Due: none

refactor(react): address CodeRabbit review feedback
  savepoint-app/features/command-palette/ui/desktop-command-palette.tsx
  savepoint-app/features/game-search/hooks/use-view-preference.ts
  savepoint-app/features/profile/hooks/use-username-validation.ts
  savepoint-app/features/whats-new/hooks/use-whats-new.ts
Due: prettier, eslint

fix: address pre-existing bugs surfaced by CodeRabbit review
  lambdas-py/src/lambdas/handlers/igdb_enrichment.py
  lambdas-py/src/lambdas/handlers/steam_import.py
  savepoint-app/features/manage-library-entry/ui/date-field.test.tsx
  savepoint-app/features/manage-library-entry/ui/date-field.tsx
Due: prettier, eslint

fix(lambdas-py): rename unused loop variable to satisfy ruff B007
  lambdas-py/tests/integration/test_igdb_client_integration.py
Due: none

ci(lambdas-py): scope mypy to src/ to match project convention
  .github/workflows/pr-checks.yml
  lambdas-py/tests/unit/services/test_database.py
Due: none

test(lambdas-py): unbreak pytest step in CI (no integration creds)
  lambdas-py/tests/integration/conftest.py
  lambdas-py/tests/unit/test_igdb_enrichment_handler.py
Due: none
