Repository NeiruBugz/play-later-v2: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: "FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\\n' ' ')\nif [ -n \"$FILES\" ]; then\n  cd savepoint-app && pnpm exec prettier --write --cache $FILES\nfi\n"
  stage_fixed: true

eslint:
  run: "FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\\n' ' ')\nif [ -n \"$FILES\" ]; then\n  cd savepoint-app && pnpm exec eslint --fix $FILES\nfi\n"
  stage_fixed: true

feat(igdb): implement getTopRatedGames method with unit tests
  context/spec/001-igdb-integration-consolidation/tasks.md
  savepoint-app/data-access-layer/services/igdb/igdb-service.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/data-access-layer/services/igdb/types.ts
  savepoint-app/data-access-layer/services/index.ts
Due: prettier, eslint

feat(igdb): implement searchPlatformByName and getGameScreenshots methods with unit tests
  context/spec/001-igdb-integration-consolidation/tasks.md
  savepoint-app/data-access-layer/services/igdb/igdb-service.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/data-access-layer/services/igdb/types.ts
  savepoint-app/test/fixtures/igdb/platform-search-playstation.json
  savepoint-app/test/fixtures/igdb/screenshots-response.json
Due: prettier, eslint

refactor(auth): enhance CredentialsForm logic and improve test descriptions
  .cursor/rules/any-inside-generic-functions.md
  .cursor/rules/default-exports.md
  .cursor/rules/discriminated-unions.md
  .cursor/rules/enums.md
  .cursor/rules/import-type.md
  .cursor/rules/installing-libraries.md
  .cursor/rules/interface-extends.md
  .cursor/rules/jsdoc-comments.md
  .cursor/rules/naming-conventions.md
  .cursor/rules/nextjs.mdc
  .cursor/rules/no-unchecked-indexed-access.md
  .cursor/rules/optional-properties.md
  .cursor/rules/readonly-properties.md
  .cursor/rules/return-types.md
  .cursor/rules/throwing.md
  savepoint-app/data-access-layer/services/igdb/igdb-service.test.ts
  savepoint-app/features/auth/ui/auth-page-view.tsx
  savepoint-app/features/auth/ui/credentials-form.test.tsx
  savepoint-app/features/auth/ui/credentials-form.tsx
Due: prettier, eslint

feat(igdb): implement getFranchiseGames and getGameArtworks methods with unit tests
  context/spec/001-igdb-integration-consolidation/tasks.md
  savepoint-app/data-access-layer/services/igdb/igdb-service.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/data-access-layer/services/igdb/types.ts
Due: prettier, eslint

feat(igdb): integrate IgdbService for game data retrieval and implement upcoming events, event logo
  savepoint-app/data-access-layer/repository/game/game-repository.ts
  savepoint-app/data-access-layer/services/game/game-service.ts
  savepoint-app/data-access-layer/services/game/game-service.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/data-access-layer/services/igdb/types.ts
  savepoint-app/shared/lib/igdb.server-action.test.ts
  savepoint-app/shared/lib/igdb.ts
Due: prettier, eslint

feat(igdb): finalize IGDB service integration and remove legacy implementation
  context/spec/001-igdb-integration-consolidation/tasks.md
  savepoint-app/data-access-layer/services/README.md
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
Due: prettier, eslint

feat(igdb): complete IGDB integration consolidation
  context/product/roadmap.md
  context/spec/001-igdb-integration-consolidation/functional-spec.md
  context/spec/001-igdb-integration-consolidation/tasks.md
  context/spec/001-igdb-integration-consolidation/technical-considerations.md
Due: prettier

feat(user-account): describe user account management
  context/spec/001-user-account-essentials/functional-spec.md
  context/spec/001-user-account-essentials/tasks.md
  context/spec/001-user-account-essentials/technical-considerations.md
Due: prettier

feat(user-account-management): add Playwright for E2E testing
  .gitignore
  context/spec/001-user-account-essentials/tasks.md
  savepoint-app/README.md
  savepoint-app/e2e/example.spec.ts
  savepoint-app/e2e/helpers/auth.ts
  savepoint-app/e2e/helpers/db.ts
  savepoint-app/package.json
  savepoint-app/playwright.config.ts
Due: prettier, eslint

feat(user-account-management): implement RO profile page
  context/spec/001-user-account-essentials/tasks.md
  savepoint-app/app/(protected)/dashboard/page.tsx
  savepoint-app/app/(protected)/layout.tsx
  savepoint-app/app/(protected)/profile/page.tsx
  savepoint-app/auth.ts
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/data-access-layer/repository/library/library-repository.ts
  savepoint-app/data-access-layer/repository/user/user-repository.ts
  savepoint-app/data-access-layer/services/index.ts
  savepoint-app/data-access-layer/services/profile/index.ts
  savepoint-app/data-access-layer/services/profile/profile-service.ts
  savepoint-app/data-access-layer/services/profile/profile-service.unit.test.ts
  savepoint-app/data-access-layer/services/profile/types.ts
  savepoint-app/data-access-layer/services/user/index.ts
  savepoint-app/data-access-layer/services/user/types.ts
  savepoint-app/data-access-layer/services/user/user-service.ts
  savepoint-app/e2e/helpers/auth.ts
  savepoint-app/e2e/profile.spec.ts
  savepoint-app/features/profile/lib/constants.ts
  savepoint-app/features/profile/lib/prepare-profile-data.ts
  savepoint-app/features/profile/ui/profile-view.test.tsx
  savepoint-app/features/profile/ui/profile-view.tsx
  savepoint-app/next.config.mjs
  savepoint-app/prisma/migrations/20251020135452_add_username_fields/migration.sql
  savepoint-app/prisma/schema.prisma
  savepoint-app/vitest.config.ts
Due: prettier, eslint

chore(ci): update working directory for CI checks
  .github/workflows/pr-checks.yml
Due: none

chore(ci): move to single root monorepo
  .github/workflows/pr-checks.yml
  pnpm-workspace.yaml
  savepoint-app/pnpm-workspace.yaml
Due: none

chore(ci): update CI to use savepoint filter and bump pnpm
  .github/workflows/pr-checks.yml
  package.json
Due: prettier

chore(ci): remove pnpm version pin from PR checks workflow
  .github/workflows/pr-checks.yml
Due: none

chore(ci): upgrade pnpm to v10 and drop cache-dependency-path
  .github/workflows/pr-checks.yml
  savepoint-app/next.config.mjs
Due: none

fix(user-account-management): address coderabbit reviews
  savepoint-app/README.md
  savepoint-app/data-access-layer/repository/library/library-repository.ts
  savepoint-app/data-access-layer/repository/library/types.ts
  savepoint-app/data-access-layer/repository/user/types.ts
  savepoint-app/data-access-layer/repository/user/user-repository.ts
  savepoint-app/data-access-layer/services/README.md
  savepoint-app/data-access-layer/services/profile/profile-service.unit.test.ts
  savepoint-app/prisma/migrations/20251021064101_remove_redundant_username_index/migration.sql
  savepoint-app/prisma/schema.prisma
Due: prettier, eslint

chore(ci): remove explicit pnpm version pin from setup
  .github/workflows/pr-checks.yml
Due: none

chore(ci): remove pnpm cache from GitHub Actions workflow
  .github/workflows/pr-checks.yml
Due: none

chore(ci): fix pnpm
  .gitignore
  pnpm-lock.yaml
Due: none

chore(ci): remove pnpm version pin and cache setting
  .github/workflows/pr-checks.yml
Due: none

feat(user-account-management): add username check, add missing logger
  context/spec/001-user-account-essentials/tasks.md
  pnpm-lock.yaml
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/data-access-layer/repository/library/library-repository.integration.test.ts
  savepoint-app/data-access-layer/repository/library/library-repository.ts
  savepoint-app/data-access-layer/services/auth/auth-service.ts
  savepoint-app/data-access-layer/services/collection/collection-service.ts
  savepoint-app/data-access-layer/services/game/game-service.ts
  savepoint-app/data-access-layer/services/journal/journal-service.ts
  savepoint-app/data-access-layer/services/profile/profile-service.ts
  savepoint-app/data-access-layer/services/profile/profile-service.unit.test.ts
  savepoint-app/data-access-layer/services/profile/types.ts
  savepoint-app/data-access-layer/services/review/review-service.ts
  savepoint-app/data-access-layer/services/user/user-service.ts
  savepoint-app/e2e/helpers/db.ts
  savepoint-app/e2e/profile.spec.ts
  savepoint-app/features/profile/lib/validation.ts
  savepoint-app/features/profile/lib/validation.unit.test.ts
  savepoint-app/features/profile/schemas.ts
  savepoint-app/features/profile/server-actions/check-username-availability.server-action.test.ts
  savepoint-app/features/profile/server-actions/check-username-availability.ts
  savepoint-app/package.json
  savepoint-app/test/setup/database.ts
  savepoint-app/test/setup/db-factories/index.ts
  savepoint-app/test/setup/db-factories/user.ts
  savepoint-app/test/setup/global.ts
  savepoint-app/vitest.config.ts
Due: prettier, eslint

chore(test-setup): fix test setup ts errors
  savepoint-app/test/setup/db-factories/game.ts
  savepoint-app/test/setup/db-factories/journal.ts
  savepoint-app/test/setup/db-factories/user.ts
Due: prettier, eslint

chore(log): remove excessive comments
  savepoint-app/app/(protected)/profile/page.tsx
  savepoint-app/data-access-layer/domain/enums.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.unit.test.ts
  savepoint-app/data-access-layer/repository/library/library-repository.integration.test.ts
  savepoint-app/data-access-layer/repository/library/library-repository.ts
  savepoint-app/data-access-layer/repository/user/user-repository.ts
  savepoint-app/data-access-layer/services/auth/auth-service.ts
  savepoint-app/data-access-layer/services/auth/auth-service.unit.test.ts
  savepoint-app/data-access-layer/services/auth/types.ts
  savepoint-app/data-access-layer/services/collection/collection-service.ts
  savepoint-app/data-access-layer/services/collection/collection-service.unit.test.ts
  savepoint-app/data-access-layer/services/collection/types.ts
  savepoint-app/data-access-layer/services/game/game-service.ts
  savepoint-app/data-access-layer/services/game/game-service.unit.test.ts
  savepoint-app/data-access-layer/services/game/index.ts
  savepoint-app/data-access-layer/services/game/types.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.test.ts
  savepoint-app/data-access-layer/services/igdb/types.ts
  savepoint-app/data-access-layer/services/index.ts
  savepoint-app/data-access-layer/services/journal/index.ts
  savepoint-app/data-access-layer/services/journal/journal-service.ts
  savepoint-app/data-access-layer/services/journal/journal-service.unit.test.ts
  savepoint-app/data-access-layer/services/journal/types.ts
  savepoint-app/data-access-layer/services/library/index.ts
  savepoint-app/data-access-layer/services/library/library-service.ts
  savepoint-app/data-access-layer/services/library/library-service.unit.test.ts
  savepoint-app/data-access-layer/services/library/types.ts
  savepoint-app/data-access-layer/services/profile/profile-service.unit.test.ts
  savepoint-app/data-access-layer/services/review/index.ts
  savepoint-app/data-access-layer/services/review/review-service.ts
  savepoint-app/data-access-layer/services/review/review-service.unit.test.ts
  savepoint-app/data-access-layer/services/review/types.ts
  savepoint-app/data-access-layer/services/types.ts
  savepoint-app/data-access-layer/services/user/user-service.unit.test.ts
Due: prettier, eslint

feat(user-account-management): add profile username edit
  context/spec/001-user-account-essentials/tasks.md
  pnpm-lock.yaml
  savepoint-app/app/(protected)/layout.tsx
  savepoint-app/app/(protected)/library/page.tsx
  savepoint-app/app/(protected)/profile/settings/page.tsx
  savepoint-app/app/error.tsx
  savepoint-app/app/not-found.tsx
  savepoint-app/app/page.tsx
  savepoint-app/data-access-layer/repository/user/user-repository.integration.test.ts
  savepoint-app/data-access-layer/repository/user/user-repository.ts
  savepoint-app/data-access-layer/services/index.ts
  savepoint-app/data-access-layer/services/profile/profile-service.ts
  savepoint-app/data-access-layer/services/profile/profile-service.unit.test.ts
  savepoint-app/data-access-layer/services/profile/types.ts
  savepoint-app/features/auth/ui/auth-page-view.tsx
  savepoint-app/features/auth/ui/credentials-form.tsx
  savepoint-app/features/auth/ui/google-sign-in-button.tsx
  savepoint-app/features/profile/schemas.ts
  savepoint-app/features/profile/server-actions/update-profile.ts
  savepoint-app/features/profile/ui/profile-settings-form.tsx
  savepoint-app/features/profile/ui/profile-view.tsx
  savepoint-app/package.json
  savepoint-app/shared/components/browser-back-button.tsx
  savepoint-app/shared/components/ui/button.tsx
  savepoint-app/shared/components/ui/sonner.tsx
Due: prettier, eslint

feat(user-account-management): refactor forms
  savepoint-app/app/(protected)/profile/page.tsx
  savepoint-app/data-access-layer/repository/user/user-repository.integration.test.ts
  savepoint-app/features/auth/ui/credentials-form.tsx
  savepoint-app/features/profile/server-actions/update-profile.ts
  savepoint-app/features/profile/ui/logout-button.tsx
  savepoint-app/features/profile/ui/profile-settings-form.tsx
  savepoint-app/features/profile/ui/profile-view.tsx
Due: prettier, eslint

feat(user-account-management): update form handling, add loading state for the app
  savepoint-app/app/layout.tsx
  savepoint-app/app/loading.tsx
  savepoint-app/features/auth/lib/validation.ts
  savepoint-app/features/auth/ui/credentials-form.tsx
  savepoint-app/features/profile/lib/constants.ts
  savepoint-app/features/profile/lib/types.ts
  savepoint-app/features/profile/ui/profile-settings-form.tsx
  savepoint-app/features/profile/ui/profile-view.tsx
  savepoint-app/next.config.mjs
  savepoint-app/package.json
  savepoint-app/shared/components/loading-screen.tsx
Due: prettier, eslint

feat(user-account-management): update test coverage and user settings
  .prettierignore
  pnpm-lock.yaml
  savepoint-app/app/(protected)/layout.tsx
  savepoint-app/app/(protected)/profile/page.tsx
  savepoint-app/app/error.tsx
  savepoint-app/components.json
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/data-access-layer/repository/user/user-repository.integration.test.ts
  savepoint-app/data-access-layer/services/profile/profile-service.unit.test.ts
  savepoint-app/data-access-layer/services/user/user-service.unit.test.ts
  savepoint-app/e2e/helpers/auth.ts
  savepoint-app/e2e/helpers/db.ts
  savepoint-app/e2e/profile.spec.ts
  savepoint-app/features/auth/server-actions/sign-in-google.server-action.test.ts
  savepoint-app/features/auth/server-actions/sign-in.server-action.test.ts
  savepoint-app/features/auth/server-actions/sign-up.server-action.test.ts
  savepoint-app/features/auth/ui/credentials-form.test.tsx
  savepoint-app/features/auth/ui/google-sign-in-button.test.tsx
  savepoint-app/features/profile/lib/validation.unit.test.ts
  savepoint-app/features/profile/server-actions/check-username-availability.server-action.test.ts
  savepoint-app/features/profile/server-actions/update-profile.server-action.test.ts
  savepoint-app/features/profile/ui/profile-settings-form.test.tsx
  savepoint-app/features/profile/ui/profile-settings-form.tsx
  savepoint-app/features/profile/ui/profile-view.test.tsx
  savepoint-app/features/profile/ui/profile-view.tsx
  savepoint-app/package.json
  savepoint-app/playwright.config.ts
  savepoint-app/shared/components/ui/badge.tsx
  savepoint-app/shared/components/ui/form.tsx
  savepoint-app/shared/components/ui/scroll-area.tsx
  savepoint-app/shared/components/ui/select.tsx
  savepoint-app/shared/lib/app/logger.ts
  savepoint-app/test/README.md
  savepoint-app/test/setup/client-setup.ts
  savepoint-app/test/setup/global.ts
  savepoint-app/test/utils/test-provider.tsx
  savepoint-app/tsconfig.json
  savepoint-app/vitest.config.ts
Due: prettier, eslint

chore(app): update tailwind classnames misusage
  savepoint-app/app/error.tsx
  savepoint-app/app/not-found.tsx
  savepoint-app/app/page.tsx
Due: prettier, eslint

feat(user-account-management): update DAL
  savepoint-app/data-access-layer/repository/user/user-repository.integration.test.ts
  savepoint-app/data-access-layer/repository/user/user-repository.ts
  savepoint-app/data-access-layer/services/auth/auth-service.ts
  savepoint-app/data-access-layer/services/auth/auth-service.unit.test.ts
  savepoint-app/data-access-layer/services/types.ts
Due: prettier, eslint

feat(user-account-management): update e2e coverage
  savepoint-app/e2e/example.spec.ts
  savepoint-app/e2e/helpers/db.ts
  savepoint-app/e2e/profile-settings-realtime.spec.ts
  savepoint-app/e2e/profile-settings.spec.ts
Due: prettier, eslint

feat(user-account-management): add username validation
  savepoint-app/features/profile/ui/profile-settings-form.test.tsx
  savepoint-app/features/profile/ui/profile-settings-form.tsx
  savepoint-app/features/profile/ui/username-input.test.tsx
  savepoint-app/features/profile/ui/username-input.tsx
Due: prettier, eslint

chore(ci): update test commands
  .github/workflows/pr-checks.yml
Due: none

fix(user-account-management): remove unused logger
  savepoint-app/app/(protected)/layout.tsx
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/data-access-layer/repository/library/library-repository.integration.test.ts
  savepoint-app/data-access-layer/services/collection/collection-service.ts
  savepoint-app/data-access-layer/services/game/game-service.ts
  savepoint-app/data-access-layer/services/journal/journal-service.ts
  savepoint-app/data-access-layer/services/profile/profile-service.unit.test.ts
  savepoint-app/data-access-layer/services/review/review-service.ts
  savepoint-app/data-access-layer/services/user/user-service.unit.test.ts
  savepoint-app/features/auth/ui/credentials-form.test.tsx
  savepoint-app/features/auth/ui/google-sign-in-button.test.tsx
  savepoint-app/features/profile/server-actions/check-username-availability.server-action.test.ts
  savepoint-app/features/profile/ui/profile-view.test.tsx
  savepoint-app/test/setup/global.ts
  savepoint-app/vitest.config.ts
Due: prettier, eslint

fix: improve profile error handling and review filtering
  savepoint-app/app/(protected)/profile/page.tsx
  savepoint-app/app/error.tsx
  savepoint-app/app/not-found.tsx
  savepoint-app/data-access-layer/repository/review/review-repository.ts
  savepoint-app/data-access-layer/repository/review/types.ts
  savepoint-app/data-access-layer/services/review/review-service.ts
  savepoint-app/data-access-layer/services/review/review-service.unit.test.ts
  savepoint-app/features/profile/server-actions/update-profile.ts
  savepoint-app/features/profile/ui/profile-view.test.tsx
  savepoint-app/shared/components/ui/sonner.tsx
  savepoint-app/test/setup/global.ts
Due: prettier, eslint

feat(user-account-manager): add e2e cleanup
  savepoint-app/e2e/global-setup.ts
  savepoint-app/e2e/global-teardown.ts
  savepoint-app/e2e/helpers/db.ts
  savepoint-app/features/profile/ui/profile-view.test.tsx
  savepoint-app/package.json
  savepoint-app/playwright.config.ts
  savepoint-app/shared/lib/app/logger.ts
Due: prettier, eslint

feat(user-account-management): introduce localstack for s3
  .gitignore
  context/spec/001-user-account-essentials/tasks.md
  docker-compose.yml
  savepoint-app/.env.example
  savepoint-app/README.md
  scripts/init-localstack.sh
  scripts/localstack-cors.json
Due: prettier

fix(user-account-management): rename checkUsernameAvailability test to integration
  savepoint-app/features/profile/server-actions/check-username-availability.integration.test.ts
Due: prettier, eslint

feat(user-account-management): implement avatar upload backend
  savepoint-app/data-access-layer/services/profile/profile-service.ts
  savepoint-app/data-access-layer/services/profile/types.ts
  savepoint-app/env.mjs
  savepoint-app/features/profile/schemas.ts
  savepoint-app/features/profile/server-actions/index.ts
  savepoint-app/features/profile/server-actions/upload-avatar.integration.test.ts
  savepoint-app/features/profile/server-actions/upload-avatar.ts
  savepoint-app/package.json
  savepoint-app/prisma/migrations/20251027170619_add_updated_at_field_for_user/migration.sql
  savepoint-app/prisma/schema.prisma
  savepoint-app/shared/lib/storage/avatar-storage.integration.test.ts
  savepoint-app/shared/lib/storage/avatar-storage.ts
  savepoint-app/shared/lib/storage/avatar-storage.unit.test.ts
  savepoint-app/shared/lib/storage/s3-client.ts
  savepoint-app/test/setup/global.ts
  savepoint-app/test/setup/integration.ts
  savepoint-app/vitest.config.ts
Due: prettier, eslint

fix(user-account-management): review fixes
  .github/workflows/pr-checks.yml
  context/spec/001-user-account-essentials/tasks.md
  pnpm-lock.yaml
  savepoint-app/e2e/global-setup.ts
  savepoint-app/e2e/global-teardown.ts
  savepoint-app/features/profile/server-actions/check-username-availability.integration.test.ts
  savepoint-app/features/profile/server-actions/update-profile.ts
  savepoint-app/features/profile/ui/profile-view.test.tsx
  savepoint-app/test/setup/database.ts
  savepoint-app/vitest.config.ts
  scripts/init-localstack.sh
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint: any of: *.{js,jsx,ts,tsx}
