Repository NeiruBugz/play-later-v2: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    prettier:
      glob: "*.{js,jsx,ts,tsx,json,css,md}"
      run: |
        FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\n' ' ')
        if [ -n "$FILES" ]; then
          cd savepoint-app && pnpm exec prettier --write --cache $FILES
        fi
      stage_fixed: true
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: |
        FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\n' ' ')
        if [ -n "$FILES" ]; then
          cd savepoint-app && pnpm exec eslint --fix $FILES
        fi
      stage_fixed: true
    typecheck:
      run: cd savepoint-app && pnpm typecheck

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

fix: resolve remaining repository bypass violations (REQ-06)
  savepoint-app/app/(protected)/journal/[id]/page.tsx
  savepoint-app/data-access-layer/services/game-detail/game-detail-service.ts
  savepoint-app/data-access-layer/services/index.ts
  savepoint-app/features/steam-import/use-cases/import-game-to-library.unit.test.ts
Due: prettier, eslint

chore(spec): generate tasks.md for spec 005 and update spec 006 progress
  context/spec/005-library-status-redesign/tasks.md
  context/spec/006-code-health-dx-round-2/tasks.md
Due: prettier

chore(deps): migrate to Vite 8, Vitest 4.1, plugin-react v6
  .claude/settings.json
  pnpm-lock.yaml
  savepoint-app/package.json
  savepoint-app/vitest.config.ts
  savepoint-app/vitest.coverage.config.ts
Due: prettier, eslint

chore(deps): upgrade eslint-plugin-boundaries 5.3.1 → 6.0.1
  pnpm-lock.yaml
Due: none

chore(deps): upgrade @vercel/speed-insights 1.3.1 → 2.0.0
  pnpm-lock.yaml
Due: none

chore(deps): upgrade Next.js 15.5.14 → 16.2.1
  pnpm-lock.yaml
  savepoint-app/next.config.mjs
  savepoint-app/package.json
  savepoint-app/proxy.ts
Due: prettier, eslint

chore(lint): migrate to boundaries v6 syntax
  savepoint-app/eslint.config.mjs
Due: none

chore(config): update tsconfig and next-env for Next.js 16
  savepoint-app/next-env.d.ts
  savepoint-app/tsconfig.json
Due: prettier, eslint

fix(format): fix prettier formatting in services barrel export
  savepoint-app/data-access-layer/services/index.ts
Due: prettier, eslint

fix(deps): sync pnpm-lock.yaml with @tailwindcss/postcss 4.2.2 bump
  pnpm-lock.yaml
Due: none

fix: revert hardcoded paths and timeout in .claude/settings.json
  .claude/settings.json
  pnpm-lock.yaml
Due: prettier

chore: package housekeeping & Next.js 16 alignment (#210)
  pnpm-lock.yaml
  savepoint-app/data-access-layer/services/index.ts
  savepoint-app/eslint.config.mjs
  savepoint-app/next-env.d.ts
  savepoint-app/next.config.mjs
  savepoint-app/package.json
  savepoint-app/proxy.ts
  savepoint-app/tsconfig.json
  savepoint-app/vitest.config.ts
  savepoint-app/vitest.coverage.config.ts
Due: prettier, eslint

style: fix prettier formatting in services index
  savepoint-app/data-access-layer/services/index.ts
Due: prettier, eslint

feat(awos): add Linear integration and update roadmap structure
  .awos/commands/linear.md
  .awos/commands/roadmap.md
  .awos/commands/spec.md
  .awos/commands/tasks.md
  .claude/commands/awos/linear.md
  README.md
  context/product/roadmap.md
  context/spec/003-steam-import-curation/linear-sync.json
  context/spec/006-code-health-dx-round-2/linear-sync.json
  context/spec/007-fsd-architecture-compliance/linear-sync.json
  context/spec/008-social-engagement/functional-spec.md
  context/spec/008-social-engagement/linear-sync.json
Due: prettier

fix(awos): address CodeRabbit review findings for Linear sync
  .awos/commands/linear.md
  README.md
  context/product/roadmap.md
  context/spec/006-code-health-dx-round-2/linear-sync.json
  context/spec/007-fsd-architecture-compliance/linear-sync.json
Due: prettier

chore: implement code health & DX round 2 (spec 006, slices 1-6)
  .gitignore
  CLAUDE.md
  Makefile
  context/spec/006-code-health-dx-round-2/tasks.md
  savepoint-app/README.md
  savepoint-app/app/(protected)/journal/page.tsx
  savepoint-app/app/CLAUDE.md
  savepoint-app/data-access-layer/CLAUDE.md
  savepoint-app/data-access-layer/handlers/CLAUDE.md
  savepoint-app/data-access-layer/services/CLAUDE.md
  savepoint-app/data-access-layer/services/game-detail/game-detail-service.ts
  savepoint-app/data-access-layer/services/index.ts
  savepoint-app/features/steam-import/use-cases/import-game-to-library.ts
  savepoint-app/features/steam-import/use-cases/import-game-to-library.unit.test.ts
  scripts/README.md
Due: prettier, eslint

chore: add lambdas-py CI job and mark slices 5-6 complete
  .github/workflows/pr-checks.yml
  context/spec/006-code-health-dx-round-2/tasks.md
Due: prettier

💄 style: apply consistent formatting to journal page and import test
  savepoint-app/app/(protected)/journal/page.tsx
  savepoint-app/features/steam-import/use-cases/import-game-to-library.unit.test.ts
Due: prettier, eslint

chore: code health & DX improvements (spec 006) (#184)
  .github/workflows/pr-checks.yml
  .gitignore
  CLAUDE.md
  Makefile
  context/spec/005-library-status-redesign/tasks.md
  context/spec/006-code-health-dx-round-2/tasks.md
  savepoint-app/README.md
  savepoint-app/app/(protected)/journal/[id]/page.tsx
  savepoint-app/app/(protected)/journal/page.tsx
  savepoint-app/app/CLAUDE.md
  savepoint-app/data-access-layer/CLAUDE.md
  savepoint-app/data-access-layer/handlers/CLAUDE.md
  savepoint-app/data-access-layer/services/CLAUDE.md
  savepoint-app/data-access-layer/services/game-detail/game-detail-service.ts
  savepoint-app/data-access-layer/services/index.ts
  savepoint-app/features/steam-import/use-cases/import-game-to-library.ts
  savepoint-app/features/steam-import/use-cases/import-game-to-library.unit.test.ts
  scripts/README.md
Due: prettier, eslint

feat(awos): add Linear integration and update roadmap (#209)
  .awos/commands/linear.md
  .awos/commands/roadmap.md
  .awos/commands/spec.md
  .awos/commands/tasks.md
  .claude/commands/awos/linear.md
  README.md
  context/product/roadmap.md
  context/spec/003-steam-import-curation/linear-sync.json
  context/spec/006-code-health-dx-round-2/linear-sync.json
  context/spec/007-fsd-architecture-compliance/linear-sync.json
  context/spec/008-social-engagement/functional-spec.md
  context/spec/008-social-engagement/linear-sync.json
Due: prettier

style(profile): fix Prettier formatting in profile feature files
  savepoint-app/features/profile/hooks/use-username-validation.test.ts
  savepoint-app/features/profile/ui/avatar-upload.tsx
  savepoint-app/features/profile/ui/username-input.tsx
Due: prettier, eslint

chore(dal): remove dead code across shared, features, DAL, and widgets
  savepoint-app/data-access-layer/handlers/game-search/game-search-handler.integration.test.ts
  savepoint-app/data-access-layer/handlers/game-search/game-search-handler.ts
  savepoint-app/data-access-layer/handlers/game-search/game-search-handler.unit.test.ts
  savepoint-app/data-access-layer/handlers/game-search/types.ts
  savepoint-app/data-access-layer/handlers/index.ts
  savepoint-app/data-access-layer/services/igdb/constants.ts
  savepoint-app/data-access-layer/services/igdb/igdb-discovery.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-events.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-game-detail.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-search.unit.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/data-access-layer/services/igdb/queries.ts
  savepoint-app/data-access-layer/services/igdb/schemas/input.ts
  savepoint-app/data-access-layer/services/igdb/schemas/output.ts
  savepoint-app/data-access-layer/services/igdb/types.ts
  savepoint-app/data-access-layer/services/index.ts
  savepoint-app/features/browse-related-games/CLAUDE.md
  savepoint-app/features/browse-related-games/index.server.ts
  savepoint-app/features/browse-related-games/use-cases/get-franchise-games.ts
  savepoint-app/features/browse-related-games/use-cases/get-franchise-games.unit.test.ts
  savepoint-app/next-env.d.ts
  savepoint-app/shared/constants/pagination.ts
  savepoint-app/shared/lib/index.ts
  savepoint-app/shared/lib/rich-text.ts
  savepoint-app/shared/lib/ui/index.ts
  savepoint-app/shared/lib/ui/url-params.ts
  savepoint-app/shared/lib/validation.ts
  savepoint-app/shared/types/collection.ts
  savepoint-app/shared/types/index.ts
  savepoint-app/shared/types/profile.ts
  savepoint-app/shared/types/ui.ts
  savepoint-app/widgets/game-card/index.ts
Due: prettier, eslint

fix(dal): handle duplicate error in background game population gracefully
  savepoint-app/data-access-layer/services/game-detail/game-detail-service.ts
Due: prettier, eslint

feat(social): add Follow model, repository, and schema migration (spec 008, slice 1)
  context/audits/2026-04-01/ai-development-tooling.md
  context/audits/2026-04-01/code-architecture.md
  context/audits/2026-04-01/documentation.md
  context/audits/2026-04-01/project-topology.md
  context/audits/2026-04-01/security.md
  context/audits/2026-04-01/software-best-practices.md
  context/audits/2026-04-01/spec-driven-development.md
  context/spec/002-steam-import-foundation/linear-sync.json
  context/spec/003-steam-import-curation/linear-sync.json
  context/spec/004-code-health-dx/linear-sync.json
  context/spec/005-library-status-redesign/linear-sync.json
  context/spec/006-code-health-dx-round-2/linear-sync.json
  context/spec/007-fsd-architecture-compliance/linear-sync.json
  context/spec/008-social-engagement/linear-sync.json
  context/spec/008-social-engagement/tasks.md
  context/spec/008-social-engagement/technical-considerations.md
  savepoint-app/data-access-layer/repository/follow/follow-repository.integration.test.ts
  savepoint-app/data-access-layer/repository/follow/follow-repository.ts
  savepoint-app/data-access-layer/repository/follow/types.ts
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/prisma/migrations/20260401095346_add_social_engagement/migration.sql
  savepoint-app/prisma/schema.prisma
Due: prettier, eslint

fix: add missing statusChangedAt to test fixtures and remove unused import
  savepoint-app/data-access-layer/handlers/library/get-library-handler.unit.test.ts
  savepoint-app/data-access-layer/repository/follow/follow-repository.ts
  savepoint-app/features/journal/ui/journal-entry-form.test.tsx
  savepoint-app/features/manage-library-entry/ui/entry-form.test.tsx
  savepoint-app/features/manage-library-entry/ui/entry-row.test.tsx
  savepoint-app/features/manage-library-entry/ui/library-entry-metadata.test.tsx
  savepoint-app/test/fixtures/game-detail.ts
  savepoint-app/test/fixtures/library.ts
Due: prettier, eslint

fix(social): add deterministic sort tiebreaker to follow pagination queries
  savepoint-app/data-access-layer/repository/follow/follow-repository.ts
Due: prettier, eslint

✨ feat(social): add SocialService, server actions, and feature scaffold (spec 008, slice 2)
  context/spec/008-social-engagement/tasks.md
  savepoint-app/data-access-layer/services/index.ts
  savepoint-app/data-access-layer/services/social/social-service.ts
  savepoint-app/data-access-layer/services/social/social-service.unit.test.ts
  savepoint-app/data-access-layer/services/social/types.ts
  savepoint-app/features/social/hooks/.gitkeep
  savepoint-app/features/social/index.server.ts
  savepoint-app/features/social/index.ts
  savepoint-app/features/social/server-actions/follow-user.ts
  savepoint-app/features/social/server-actions/unfollow-user.ts
  savepoint-app/features/social/types.ts
  savepoint-app/features/social/ui/.gitkeep
Due: prettier, eslint

✨ feat(social): add public profile visibility toggle in settings (spec 008, slice 3)
  context/spec/008-social-engagement/tasks.md
  pnpm-lock.yaml
  savepoint-app/app/(protected)/profile/settings/page.tsx
  savepoint-app/data-access-layer/repository/user/user-repository.ts
  savepoint-app/data-access-layer/services/profile/mappers.ts
  savepoint-app/data-access-layer/services/profile/profile-service.ts
  savepoint-app/data-access-layer/services/profile/profile-service.unit.test.ts
  savepoint-app/data-access-layer/services/profile/types.ts
  savepoint-app/features/profile/index.ts
  savepoint-app/features/profile/lib/schemas.ts
  savepoint-app/features/profile/server-actions/update-profile.ts
  savepoint-app/features/profile/types.ts
  savepoint-app/features/profile/ui/profile-visibility-toggle.test.tsx
  savepoint-app/features/profile/ui/profile-visibility-toggle.tsx
  savepoint-app/package.json
  savepoint-app/shared/components/ui/switch.tsx
  savepoint-app/test/fixtures/profile.ts
  savepoint-app/test/fixtures/service/profile.ts
Due: prettier, eslint

🩹 fix(profile): disable visibility toggle when username is missing
  savepoint-app/features/profile/ui/profile-visibility-toggle.test.tsx
  savepoint-app/features/profile/ui/profile-visibility-toggle.tsx
  savepoint-app/shared/components/ui/switch.tsx
Due: prettier, eslint

fix(social): resolve formatting issues in social feature UI files
  savepoint-app/app/u/[username]/followers/page.tsx
  savepoint-app/app/u/[username]/following/page.tsx
  savepoint-app/features/social/ui/activity-feed-skeleton.tsx
  savepoint-app/features/social/ui/followers-list.tsx
  savepoint-app/features/social/ui/following-list.tsx
Due: prettier, eslint

fix(social): set isPublicProfile in follow-repository integration tests
  savepoint-app/data-access-layer/repository/follow/follow-repository.integration.test.ts
  savepoint-app/test/setup/db-factories/user.ts
Due: prettier, eslint

chore(ci): simplify deploy workflow to migration-only
  .github/workflows/deploy.yml
Due: none

fix(social): address CodeRabbit review findings — runtime crash, data consistency, and rate limiting
  savepoint-app/data-access-layer/handlers/social/activity-feed-handler.ts
  savepoint-app/data-access-layer/repository/follow/follow-repository.ts
  savepoint-app/features/manage-library-entry/server-actions/update-library-entry-action.server-action.test.ts
  savepoint-app/features/manage-library-entry/server-actions/update-library-status-action.ts
  savepoint-app/features/social/hooks/use-activity-feed.ts
  savepoint-app/features/social/ui/activity-feed-item.tsx
Due: prettier, eslint

fix(social): update activity feed item tests to match corrected STATUS_LABELS
  savepoint-app/features/social/ui/activity-feed-item.test.tsx
Due: prettier, eslint

fix(social): normalize timestamps in initialData to match client-fetched pages
  savepoint-app/features/social/hooks/use-activity-feed.ts
Due: prettier, eslint
