Repository NeiruBugz/play-later-v2: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    prettier:
      glob: "*.{js,jsx,ts,tsx,json,css,md}"
      run: bun format:write {staged_files}
      stage_fixed: true
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bunx eslint --fix {staged_files}
      stage_fixed: true
    typecheck:
      run: bun typecheck

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

refactor(feature-recompose): recompose features
  documentation/architecture/boundary-violations-analysis.md
  documentation/architecture/migration-plan.md
  documentation/architecture/performance-baseline.md
  documentation/architecture/service-layer-design.md
  features/add-game/server-actions/add-game.ts
  features/manage-backlog-item/edit-backlog-item/components/complete-action-button.test.tsx
  features/manage-backlog-item/edit-backlog-item/components/index.ts
  features/manage-backlog-item/edit-backlog-item/components/move-to-backlog-action-button.test.tsx
  features/manage-backlog-item/edit-backlog-item/components/start-playing-action-button.test.tsx
  features/view-imported-games/server-actions/import-to-application.ts
  shared/components/collection-nav.test.tsx
  shared/components/grid-view.test.tsx
  shared/components/header.test.tsx
  shared/components/list-view.test.tsx
  shared/services/README.md
  shared/services/game-management/add-to-collection.ts
  shared/services/game-management/index.ts
  test/utils/test-provider.tsx
Due: prettier, eslint

chore(nextjs): run codemode for nextjs bump
  app/collection/(list-views)/layout.tsx
  app/game/external/[id]/page.tsx
  bun.lock
  next-env.d.ts
  next.config.mjs
  package.json
  shared/components/header.tsx
Due: prettier, eslint

chore(nextjs): bump eslint, remove most of the config
  app/backlog/[username]/page.tsx
  app/collection/(list-views)/page.tsx
  app/game/[id]/page.tsx
  app/layout.tsx
  app/user/settings/page.tsx
  app/wishlist/[username]/page.tsx
  bun.lock
  eslint.config.js
  eslint.config.mjs
  features/view-collection/components/collection-list.tsx
  features/view-collection/lib/validation.ts
  package.json
  shared/components/backlog-item-card.tsx
  shared/components/game-card.tsx
  shared/components/grid-view.tsx
Due: prettier, eslint

chore(log): remove console logs
  features/manage-integrations/components/service-integration.tsx
  shared/components/backlog-item-card.tsx
  shared/lib/repository/backlog/backlog-repository.ts
Due: prettier, eslint

chore(domain): remove domain layer
  domain/shared/errors.ts
Due: prettier, eslint

chore(code-quality): fix eslint and type issues
  .eslintignore
  .eslintrc.json
  app/collection/error.tsx
  eslint.config.flat.js.backup
  eslint.config.mjs
  features/view-collection/components/clear-filters.tsx
  features/view-collection/server-actions/get-game-with-backlog-items.server-action.test.ts
  features/view-game-details/components/game-stats.tsx
  features/view-game-details/server-actions/get-backlog-items-by-igdb-id.server-action.test.ts
  features/view-game-details/server-actions/get-game.server-action.test.ts
  features/view-game-details/server-actions/get-reviews.server-action.test.ts
  shared/components/header.test.tsx
  shared/components/list-view.test.tsx
  shared/lib/get-unique-platforms.unit.test.ts
  shared/lib/igdb.server-action.test.ts
  shared/lib/igdb.ts
  shared/types/igdb.ts
Due: prettier, eslint

chore(gh-actions): add route typegen to typecheck step
  .github/workflows/pr-checks.yml
Due: none

feat(ui): enhance color palette with improved contrast ratios
  shared/globals.css
Due: prettier

feat(ui): add comprehensive gaming-themed CSS utilities
  shared/globals.css
  tailwind.config.ts
Due: prettier, eslint

feat(ui): standardize spacing system with gaming-focused utilities
  shared/globals.css
  tailwind.config.ts
Due: prettier, eslint

feat(ui): add comprehensive gaming animation keyframes and micro-interactions
  shared/globals.css
  tailwind.config.ts
Due: prettier, eslint

feat(ui): enhance typography system with gaming-themed components
  shared/components/typography.tsx
  shared/globals.css
  tailwind.config.ts
Due: prettier, eslint

feat(ui): implement comprehensive platform-specific color system
  shared/globals.css
  shared/lib/platform-to-color.ts
  tailwind.config.ts
Due: prettier, eslint

feat(ui): redesign Button component with gaming aesthetics and fix asChild issues
  shared/components/header.tsx
  shared/components/ui/button.tsx
Due: prettier, eslint

fix(ui): resolve React.Children.only errors across components
  features/dashboard/components/imported-games-widget.tsx
  features/dashboard/components/steam-integration.tsx
  features/view-game-details/components/franchise/ui/franchise-game.tsx
  shared/components/collection-nav.tsx
  shared/components/game-card.tsx
  shared/components/list-view.tsx
Due: prettier, eslint

feat(ui): enhance Badge component with gaming and platform-specific variants
  shared/components/ui/badge.tsx
Due: prettier, eslint

feat(ui): redesign input components with improved UX
  documentation/architecture/hybrid-approach-plan.md
  shared/components/ui/card.tsx
  shared/components/ui/checkbox.tsx
  shared/components/ui/input.tsx
  shared/components/ui/label.tsx
  shared/components/ui/radio-group.tsx
  shared/components/ui/select.tsx
  shared/components/ui/textarea.tsx
Due: prettier, eslint

refactor(ui): redesign header component and typography system
  app/backlog/[username]/page.tsx
  app/backlog/page.tsx
  app/collection/(list-views)/layout.tsx
  app/collection/add-game/page.tsx
  app/game/[id]/loading.tsx
  app/game/[id]/page.tsx
  app/game/external/[id]/loading.tsx
  app/game/external/[id]/page.tsx
  app/page.tsx
  app/user/settings/page.tsx
  app/wishlist/[username]/page.tsx
  shared/components/collection-nav.tsx
  shared/components/header.tsx
  shared/components/typography.tsx
  shared/components/ui/sidebar.tsx
  shared/globals.css
Due: prettier, eslint

refactor(ui): some redesign
  features/view-collection/clean-code-review.md
  features/view-collection/components/status-filter.tsx
  features/view-imported-games/clean-code-review.md
  shared/components/collection-nav.tsx
  shared/components/game-card.tsx
  shared/lib/igdb.ts
  shared/services/collection/collection-service.ts
Due: prettier, eslint

refactor: redesign UI with simplified color scheme and component structure
  app/backlog/page.tsx
  app/collection/(list-views)/layout.tsx
  app/page.tsx
  features/dashboard/components/backlog-count.tsx
  features/dashboard/components/collection-stats.tsx
  features/dashboard/components/currently-playing-list.tsx
  features/dashboard/components/platform-breakdown.tsx
  features/dashboard/components/recent-activity.tsx
  features/dashboard/components/releases-list.tsx
  features/dashboard/components/steam-integration.tsx
  features/sign-in/components/sign-in.tsx
  features/view-collection/components/status-filter.tsx
  features/view-collection/components/view-mode.tsx
  features/view-imported-games/components/imported-game-card.tsx
  shared/components/collection-nav.test.tsx
  shared/components/collection-nav.tsx
  shared/components/game-card.tsx
  shared/components/grid-view.tsx
  shared/components/header.tsx
  shared/components/typography.tsx
  shared/components/ui/button.tsx
  shared/components/ui/sidebar.tsx
  shared/globals.css
  tailwind.config.ts
Due: prettier, eslint

feat(ui): enhance game detail components with improved typography and layout
  app/game/[id]/page.tsx
  app/game/external/[id]/page.tsx
  features/add-review/components/add-review-dialog.tsx
  features/manage-backlog-item/edit-backlog-item/components/edit-game-entry-modal.tsx
  features/manage-backlog-item/edit-backlog-item/components/game-status-selector.tsx
  features/view-collection/components/search-input.tsx
  features/view-game-details/components/about.tsx
  features/view-game-details/components/achievements.tsx
  features/view-game-details/components/franchises.tsx
  features/view-game-details/components/game-stats.tsx
  features/view-game-details/components/game-tabs.tsx
  features/view-game-details/components/metadata.tsx
  features/view-game-details/components/reviews.tsx
  features/view-game-details/components/screenshot-carousel.tsx
  features/view-game-details/components/similar-games.tsx
  features/view-game-details/components/times-to-beat.tsx
  features/view-game-details/index.ts
  features/view-wishlist/components/wishlisted-list.tsx
  providers.tsx
  shared/components/game-card.tsx
  shared/globals.css
Due: prettier, eslint

fix(steam): prevent duplicate games when re-syncing Steam library
  features/steam-integration/server-actions/save-steam-games.ts
  shared/lib/repository/imported-game/imported-game-repository.ts
  shared/lib/repository/index.ts
Due: prettier, eslint

feat(ui): complete Phase 2.5 editorial redesign and fixes
  app/game/external/[id]/page.tsx
  features/dashboard/components/dashboard.tsx
  features/dashboard/components/index.ts
  features/dashboard/components/platform-breakdown.tsx
  features/dashboard/components/recent-activity.tsx
  features/dashboard/components/stat-cards/average-rating-card.tsx
  features/dashboard/components/stat-cards/completion-rate-card.tsx
  features/dashboard/components/stat-cards/total-games-card.tsx
  features/dashboard/components/steam-integration.tsx
  features/view-collection/components/status-filter.tsx
  features/view-game-details/components/achievements.tsx
  features/view-imported-games/components/imported-game-card.tsx
  features/view-imported-games/components/imported-games-filters.tsx
  features/view-imported-games/components/imported-games.tsx
  features/view-imported-games/server-actions/get-imported-games.ts
  features/view-imported-games/validation/search-params-schema.ts
  shared/components/header.test.tsx
  shared/services/collection/collection-service.unit.test.ts
Due: prettier, eslint

fix(ui): update lucide-react imports and improve type handling
  app/game/[id]/page.tsx
  app/game/external/[id]/page.tsx
  app/page.tsx
  features/dashboard/components/currently-playing-list.tsx
  features/dashboard/lib/group-backlog-items-by-game.ts
  features/dashboard/types/index.ts
  shared/components/collection-nav.test.tsx
  shared/lib/repository/backlog/backlog-repository.ts
Due: prettier, eslint

fix(ui): update button structure and platform color mappings
  features/dashboard/components/imported-games-widget.tsx
  features/dashboard/components/releases-list.tsx
  shared/components/game-card.tsx
  shared/lib/platform-to-color.ts
Due: prettier, eslint

feat(prisma): add unique constraint for ImportedGame model
  prisma/migrations/20250821054510_add_unique_index_for_imported_game/migration.sql
  prisma/schema.prisma
Due: none

feat(repository): enhance upsertManyImportedGames with validation and conditional updates
  shared/lib/repository/imported-game/imported-game-repository.ts
Due: prettier, eslint

fix(ui): handle empty pathname in navigation components
  shared/components/collection-nav.tsx
  shared/components/header.tsx
Due: prettier, eslint

fix(ui): remove unused imports
  app/game/external/[id]/page.tsx
  features/dashboard/components/currently-playing-list.tsx
  features/view-game-details/components/game-stats.tsx
Due: prettier, eslint

fix(test): remove dumb tests
  shared/components/collection-nav.test.tsx
  shared/components/grid-view.test.tsx
  shared/components/header.test.tsx
Due: prettier, eslint

fix(ui): update rating component
  app/game/external/[id]/page.tsx
  features/view-game-details/components/about.tsx
Due: prettier, eslint

chore(docs): remove old docs
  documentation/ai-tools-reports/01-20250709-project-issues-analysis.md
  documentation/ai-tools-reports/02-20250709-updated-status-assessment.md
  documentation/ai-tools-reports/03-20250110-repository-layer-analysis.md
  documentation/ai-tools-reports/04-20250722-architectural-boundary-review.md
  documentation/architecture/boundary-violations-analysis.md
  documentation/architecture/migration-plan.md
  documentation/architecture/performance-baseline.md
  documentation/architecture/service-layer-design.md
  documentation/planning/comprehensive-testing-strategy.md
  documentation/planning/new-feature-workflow.md
  documentation/planning/type-migration-workflow.md
Due: prettier

chore(awos): introduce awos
  .awos/scripts/create-spec-directory.sh
  .awos/templates/architecture-template.md
  .awos/templates/functional-spec-template.md
  .awos/templates/product-definition-template.md
  .awos/templates/roadmap-template.md
  .awos/templates/technical-considerations-template.md
  .claude/agents/python-expert.md
  .claude/agents/react-expert.md
  .claude/commands/awos/architecture.md
  .claude/commands/awos/implement.md
  .claude/commands/awos/product.md
  .claude/commands/awos/roadmap.md
  .claude/commands/awos/spec.md
  .claude/commands/awos/tasks.md
  .claude/commands/awos/tech.md
Due: prettier

docs(awos): prepare project context for awos usage
  context/product/architecture.md
  context/product/product-definition-lite.md
  context/product/product-definition.md
  context/product/roadmap.md
Due: prettier

refactor(api): implement architecture research for hybrid migration approach
  context/spec/001-api-architecture-decision-implementation/architecture-research.md
  context/spec/001-api-architecture-decision-implementation/functional-spec.md
  context/spec/001-api-architecture-decision-implementation/tasks.md
  context/spec/001-api-architecture-decision-implementation/technical-considerations.md
Due: prettier

Introduce AWOS (#115)
  .awos/scripts/create-spec-directory.sh
  .awos/templates/architecture-template.md
  .awos/templates/functional-spec-template.md
  .awos/templates/product-definition-template.md
  .awos/templates/roadmap-template.md
  .awos/templates/technical-considerations-template.md
  .claude/agents/python-expert.md
  .claude/agents/react-expert.md
  .claude/commands/awos/architecture.md
  .claude/commands/awos/implement.md
  .claude/commands/awos/product.md
  .claude/commands/awos/roadmap.md
  .claude/commands/awos/spec.md
  .claude/commands/awos/tasks.md
  .claude/commands/awos/tech.md
  context/product/architecture.md
  context/product/product-definition-lite.md
  context/product/product-definition.md
  context/product/roadmap.md
  documentation/ai-tools-reports/01-20250709-project-issues-analysis.md
  documentation/ai-tools-reports/02-20250709-updated-status-assessment.md
  documentation/ai-tools-reports/03-20250110-repository-layer-analysis.md
  documentation/ai-tools-reports/04-20250722-architectural-boundary-review.md
  documentation/architecture/boundary-violations-analysis.md
  documentation/architecture/migration-plan.md
  documentation/architecture/performance-baseline.md
  documentation/architecture/service-layer-design.md
  documentation/planning/comprehensive-testing-strategy.md
  documentation/planning/new-feature-workflow.md
  documentation/planning/type-migration-workflow.md
Due: prettier

docs(awos): remove prev test context
  .claude/agents/nextjs-expert.md
  context/product/architecture.md
  context/product/product-definition-lite.md
  context/product/product-definition.md
  context/product/roadmap.md
Due: prettier

docs(awos): create new spec
  context/product/architecture.md
  context/product/product-definition-lite.md
  context/product/product-definition.md
  context/product/roadmap.md
  context/spec/001-service-pattern-implementation/functional-spec.md
  context/spec/001-service-pattern-implementation/tasks.md
  context/spec/001-service-pattern-implementation/technical-considerations.md
Due: prettier

refactor(collection): streamline user authentication handling in service layer
  app/api/collection/route.ts
  features/view-collection/server-actions/get-game-with-backlog-items.ts
  shared/services/collection/collection-service.ts
  shared/services/collection/collection-service.unit.test.ts
  shared/services/collection/types.ts
  shared/services/types.ts
  shared/types/collection.ts
Due: prettier, eslint
