Repository NeiruBugz/play-later-v2: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: "FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\\n' ' ')\nif [ -n \"$FILES\" ]; then\n  cd savepoint-app && pnpm exec prettier --write --cache $FILES\nfi\n"
  stage_fixed: true

eslint:
  run: "FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\\n' ' ')\nif [ -n \"$FILES\" ]; then\n  cd savepoint-app && pnpm exec eslint --fix $FILES\nfi\n"
  stage_fixed: true

refactor(server-actions): migrate actions to createServerAction factory
  savepoint-app/features/game-detail/server-actions/add-to-library-action.ts
  savepoint-app/features/game-detail/server-actions/update-library-entry-action.ts
  savepoint-app/features/library/server-actions/update-library-status.ts
  savepoint-app/features/profile/server-actions/upload-avatar.integration.test.ts
  savepoint-app/features/profile/server-actions/upload-avatar.ts
Due: prettier, eslint

feat(components): create reusable GameCoverImage component
  savepoint-app/shared/components/game-cover-image.test.tsx
  savepoint-app/shared/components/game-cover-image.tsx
Due: prettier, eslint

refactor(components): migrate card components to GameCoverImage
  savepoint-app/features/game-search/ui/game-card.tsx
  savepoint-app/features/library/ui/library-card.tsx
Due: prettier, eslint

refactor(library): centralize status configuration and mappers
  savepoint-app/features/game-detail/ui/library-modal/constants.ts
  savepoint-app/features/game-detail/ui/library-modal/edit-entry-form.tsx
  savepoint-app/features/game-detail/ui/library-modal/library-item-card.test.tsx
  savepoint-app/features/game-detail/ui/library-modal/library-item-card.tsx
  savepoint-app/features/game-detail/ui/library-modal/status-select.test.tsx
  savepoint-app/features/game-detail/ui/library-modal/status-select.tsx
  savepoint-app/features/library/ui/library-card.test.tsx
  savepoint-app/features/library/ui/library-card.tsx
  savepoint-app/features/library/ui/library-filters.test.tsx
  savepoint-app/features/library/ui/library-filters.tsx
  savepoint-app/shared/lib/index.ts
  savepoint-app/shared/lib/library-status.ts
  savepoint-app/test/setup/global.ts
Due: prettier, eslint

docs(architecture): update to four-layer architecture and add decision records
  context/product/architecture.md
Due: prettier

feat(library): implement unique platforms API and integrate with library filters
  savepoint-app/app/api/games/search/route.ts
  savepoint-app/app/api/library/unique-platforms/route.ts
  savepoint-app/data-access-layer/handlers/platform/get-unique-platforms.ts
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/data-access-layer/repository/platform/platform-repository.ts
  savepoint-app/data-access-layer/services/platform/platform-service.ts
  savepoint-app/features/game-detail/use-cases/get-franchise-games.ts
  savepoint-app/features/game-detail/use-cases/get-franchise-games.unit.test.ts
  savepoint-app/features/game-detail/use-cases/get-game-details.ts
  savepoint-app/features/game-detail/use-cases/get-game-details.unit.test.ts
  savepoint-app/features/library/hooks/use-unique-platforms.ts
  savepoint-app/features/library/ui/library-filters.test.tsx
  savepoint-app/features/library/ui/library-filters.tsx
  savepoint-app/features/library/ui/platform-filter-combobox.tsx
  savepoint-app/features/library/use-cases/add-game-to-library.ts
  savepoint-app/features/library/use-cases/add-game-to-library.unit.test.ts
  savepoint-app/shared/types/platform.ts
  savepoint-app/test/setup/global.ts
  savepoint-app/test/setup/integration.ts
  savepoint-app/vitest.config.ts
Due: prettier, eslint

chore(ci): update job names
  .github/workflows/e2e.yml
  .github/workflows/integration.yml
  .github/workflows/pr-checks.yml
Due: none

chore(docs): remove spec
  context/spec/001-personal-gaming-library/functional-spec.md
  context/spec/001-personal-gaming-library/tasks.md
  context/spec/001-personal-gaming-library/technical-considerations.md
Due: prettier

refactor(tests): reorganise fixtures
  savepoint-app/features/game-detail/use-cases/get-franchise-games.unit.test.ts
  savepoint-app/features/game-detail/use-cases/get-game-details.unit.test.ts
  savepoint-app/features/library/use-cases/add-game-to-library.unit.test.ts
  savepoint-app/test/fixtures/game-detail.ts
  savepoint-app/test/fixtures/index.ts
Due: prettier, eslint

fix(tests): update import statement for userEvent in error tests
  savepoint-app/app/error.test.tsx
  savepoint-app/data-access-layer/services/game-detail/game-detail-service.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
Due: prettier, eslint

chore(review): fixes
  savepoint-app/app/games/search/page.tsx
  savepoint-app/features/game-detail/use-cases/get-franchise-games.unit.test.ts
  savepoint-app/features/game-detail/use-cases/get-game-details.unit.test.ts
  savepoint-app/features/library/use-cases/add-game-to-library.unit.test.ts
  savepoint-app/next-env.d.ts
  savepoint-app/test/fixtures/game-detail.ts
Due: prettier, eslint

refactor: migrate type imports from Prisma client to domain layer
  savepoint-app/features/game-detail/ui/library-modal/platform-combobox.test.tsx
  savepoint-app/features/game-detail/ui/library-modal/status-select.test.tsx
  savepoint-app/features/library/hooks/use-library-filters.test.tsx
Due: prettier, eslint

feat(profile): align UI with design system standards
  savepoint-app/app/(protected)/profile/page.tsx
  savepoint-app/app/(protected)/profile/settings/page.tsx
  savepoint-app/app/(protected)/profile/setup/page.tsx
  savepoint-app/features/profile/ui/profile-setup-form.tsx
  savepoint-app/features/profile/ui/profile-view.tsx
Due: prettier, eslint

fix(profile): improve mobile responsiveness at 375px width
  savepoint-app/features/profile/ui/profile-settings-form.tsx
  savepoint-app/features/profile/ui/profile-view.tsx
  savepoint-app/shared/components/ui/input.tsx
Due: prettier, eslint

refactor: remove outdated specifications and tasks for caching and optimistic UI
  context/spec/001-nextjs-caching-optimistic-ui/tasks.md
  context/spec/001-nextjs-caching-optimistic-ui/technical-considerations.md
  context/spec/002-library-page-view-testing/functional-spec.md
  context/spec/002-library-page-view-testing/tasks.md
  context/spec/002-library-page-view-testing/technical-considerations.md
  infra/envs/dev/main.tf
  infra/envs/dev/variables.tf
  savepoint-app/data-access-layer/handlers/platform/get-platforms-handler.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/features/manage-library-entry/use-cases/get-platforms-for-library-modal.ts
  savepoint-app/features/manage-library-entry/use-cases/get-platforms-for-library-modal.unit.test.ts
  savepoint-app/features/manage-library-entry/use-cases/index.ts
Due: prettier, eslint

refactor: clean up imports and improve code formatting
  savepoint-app/data-access-layer/handlers/platform/get-platforms-handler.ts
  savepoint-app/features/manage-library-entry/use-cases/get-platforms-for-library-modal.ts
  savepoint-app/features/manage-library-entry/use-cases/get-platforms-for-library-modal.unit.test.ts
  savepoint-app/features/profile/server-actions/update-profile.ts
  savepoint-app/shared/lib/profile/constants.ts
Due: prettier, eslint

chore: bump prisma version
  .gitignore
  pnpm-lock.yaml
  savepoint-app/.prettierignore
  savepoint-app/data-access-layer/handlers/platform/get-platforms-handler.unit.test.ts
  savepoint-app/e2e/helpers/db.ts
  savepoint-app/features/profile/server-actions/update-profile.server-action.test.ts
  savepoint-app/package.json
  savepoint-app/prisma.config.ts
  savepoint-app/prisma/schema.prisma
  savepoint-app/shared/lib/app/db.ts
  savepoint-app/test/setup/database.ts
  savepoint-app/tsconfig.json
Due: prettier, eslint

chore: update dependencies and improve database connection handling
  package.json
  pnpm-lock.yaml
  savepoint-app/e2e/helpers/db.ts
  savepoint-app/package.json
  savepoint-app/prisma.config.ts
  savepoint-app/prisma/migrations/20251203090445_upgrade_to_v7/migration.sql
  savepoint-app/shared/lib/app/db.ts
  savepoint-app/test/setup/database.ts
Due: prettier, eslint

refactor: update components for improved performance and user experience
  savepoint-app/app/layout.tsx
  savepoint-app/features/auth/ui/credentials-form.tsx
  savepoint-app/features/game-detail/ui/add-to-library-button.tsx
  savepoint-app/features/game-detail/ui/library-status-display.tsx
  savepoint-app/features/game-search/ui/game-search-input.tsx
  savepoint-app/features/game-search/ui/game-search-results.tsx
  savepoint-app/features/library/ui/library-card.tsx
  savepoint-app/features/profile/ui/profile-settings-form.tsx
  savepoint-app/features/setup-profile/ui/profile-setup-form.tsx
  savepoint-app/shared/components/game-cover-image.tsx
  savepoint-app/shared/components/speed-insights.tsx
  savepoint-app/shared/hooks/use-form-submission.ts
  savepoint-app/shared/providers/providers.tsx
Due: prettier, eslint

session provider review and sec dep bump
  .github/workflows/deploy.yml
  package.json
  pnpm-lock.yaml
  savepoint-app/features/profile/ui/profile-settings-form.tsx
  savepoint-app/package.json
  savepoint-app/shared/components/speed-insights.tsx
  savepoint-app/shared/providers/providers.tsx
Due: prettier, eslint

add prisma envs to pr checks
  .github/workflows/pr-checks.yml
Due: none

chore: update TypeScript types and improve database connection handling
  savepoint-app/e2e/helpers/db.ts
  savepoint-app/package.json
  savepoint-app/shared/lib/app/db.ts
Due: prettier, eslint

update e2e and integration tests workflows
  .github/workflows/e2e.yml
  .github/workflows/integration.yml
Due: none

chore: migrate to Prisma v7 with adapter-pg and optimize component rendering (#146)
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/integration.yml
  .github/workflows/pr-checks.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  savepoint-app/.prettierignore
  savepoint-app/app/layout.tsx
  savepoint-app/data-access-layer/handlers/platform/get-platforms-handler.unit.test.ts
  savepoint-app/e2e/helpers/db.ts
  savepoint-app/features/auth/ui/credentials-form.tsx
  savepoint-app/features/game-detail/ui/add-to-library-button.tsx
  savepoint-app/features/game-detail/ui/library-status-display.tsx
  savepoint-app/features/game-search/ui/game-search-input.tsx
  savepoint-app/features/game-search/ui/game-search-results.tsx
  savepoint-app/features/library/ui/library-card.tsx
  savepoint-app/features/profile/server-actions/update-profile.server-action.test.ts
  savepoint-app/features/setup-profile/ui/profile-setup-form.tsx
  savepoint-app/package.json
  savepoint-app/prisma.config.ts
  savepoint-app/prisma/migrations/20251203090445_upgrade_to_v7/migration.sql
  savepoint-app/prisma/schema.prisma
  savepoint-app/shared/components/game-cover-image.tsx
  savepoint-app/shared/components/speed-insights.tsx
  savepoint-app/shared/hooks/use-form-submission.ts
  savepoint-app/shared/lib/app/db.ts
  savepoint-app/shared/providers/providers.tsx
  savepoint-app/test/setup/database.ts
  savepoint-app/tsconfig.json
Due: prettier, eslint

fixed nextjs version
  package.json
  pnpm-lock.yaml
  savepoint-app/package.json
Due: prettier

feat(gaming-journal): create journal entry (BE)
  .awos/commands/implement.md
  .awos/commands/tasks.md
  context/product/roadmap.md
  context/spec/004-gaming-journal/functional-spec.md
  context/spec/004-gaming-journal/tasks.md
  context/spec/004-gaming-journal/technical-considerations.md
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.integration.test.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.ts
  savepoint-app/data-access-layer/services/journal/journal-service.ts
  savepoint-app/data-access-layer/services/journal/journal-service.unit.test.ts
  savepoint-app/features/journal/schemas.ts
  savepoint-app/features/journal/server-actions/create-journal-entry.server-action.test.ts
  savepoint-app/features/journal/server-actions/create-journal-entry.ts
Due: prettier, eslint

feat(gaming-journal): implement find journal entry
  context/product/roadmap.md
  context/spec/004-gaming-journal/tasks.md
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.integration.test.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.ts
  savepoint-app/data-access-layer/services/journal/journal-service.ts
  savepoint-app/data-access-layer/services/journal/journal-service.unit.test.ts
  savepoint-app/features/journal/server-actions/create-journal-entry.server-action.test.ts
Due: prettier, eslint

feat(gaming-journal): implement Update Journal Entry
  context/spec/004-gaming-journal/tasks.md
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.integration.test.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.ts
  savepoint-app/data-access-layer/services/journal/journal-service.ts
  savepoint-app/data-access-layer/services/journal/journal-service.unit.test.ts
  savepoint-app/features/journal/schemas.ts
  savepoint-app/features/journal/server-actions/update-journal-entry.server-action.test.ts
  savepoint-app/features/journal/server-actions/update-journal-entry.ts
Due: prettier, eslint

feat(gaming-journal): implement delete journal entry functionality
  context/spec/004-gaming-journal/tasks.md
  savepoint-app/data-access-layer/repository/index.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.integration.test.ts
  savepoint-app/data-access-layer/repository/journal/journal-repository.ts
  savepoint-app/data-access-layer/services/journal/journal-service.ts
  savepoint-app/data-access-layer/services/journal/journal-service.unit.test.ts
  savepoint-app/features/journal/schemas.ts
  savepoint-app/features/journal/server-actions/delete-journal-entry.server-action.test.ts
  savepoint-app/features/journal/server-actions/delete-journal-entry.ts
Due: prettier, eslint

scaffold lambda
  lambdas-py/.env.example
  lambdas-py/.gitignore
  lambdas-py/.python-version
  lambdas-py/README.md
  lambdas-py/pyproject.toml
  lambdas-py/src/lambdas/__init__.py
  lambdas-py/src/lambdas/clients/__init__.py
  lambdas-py/src/lambdas/config.py
  lambdas-py/src/lambdas/errors.py
  lambdas-py/src/lambdas/handlers/__init__.py
  lambdas-py/src/lambdas/handlers/hello.py
  lambdas-py/src/lambdas/logging.py
  lambdas-py/src/lambdas/models/__init__.py
  lambdas-py/src/lambdas/services/__init__.py
  lambdas-py/tests/__init__.py
  lambdas-py/tests/conftest.py
  lambdas-py/tests/integration/__init__.py
  lambdas-py/tests/unit/__init__.py
  lambdas-py/tests/unit/test_hello_handler.py
  lambdas-py/uv.lock
Due: prettier

feat(steam-import-pipeline): implement Steam library import pipeline
  context/spec/005-steam-import-pipeline/functional-spec.md
  context/spec/005-steam-import-pipeline/tasks.md
  context/spec/005-steam-import-pipeline/technical-considerations.md
  lambdas-py/pyproject.toml
  lambdas-py/src/lambdas/clients/igdb.py
  lambdas-py/src/lambdas/clients/s3.py
  lambdas-py/src/lambdas/clients/steam.py
  lambdas-py/src/lambdas/handlers/__init__.py
  lambdas-py/src/lambdas/handlers/igdb_enrichment.py
  lambdas-py/src/lambdas/handlers/steam_import.py
  lambdas-py/src/lambdas/logging.py
  lambdas-py/src/lambdas/models/igdb.py
  lambdas-py/src/lambdas/models/steam.py
  lambdas-py/src/lambdas/services/__init__.py
  lambdas-py/src/lambdas/services/classifier.py
  lambdas-py/tests/conftest.py
  lambdas-py/tests/unit/test_classifier.py
  lambdas-py/tests/unit/test_igdb_client.py
  lambdas-py/tests/unit/test_igdb_enrichment_handler.py
  lambdas-py/tests/unit/test_s3_client.py
  lambdas-py/tests/unit/test_steam_client.py
  lambdas-py/tests/unit/test_steam_import_handler.py
  lambdas-py/uv.lock
Due: prettier

feat(igdb-service): enhance IGDB service with new query structure and validation
  savepoint-app/data-access-layer/services/game-detail/game-detail-service.integration.test.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/data-access-layer/services/igdb/queries.ts
  savepoint-app/data-access-layer/services/igdb/schemas/index.ts
  savepoint-app/data-access-layer/services/igdb/schemas/input.ts
  savepoint-app/data-access-layer/services/igdb/schemas/output.ts
  savepoint-app/data-access-layer/services/igdb/types.ts
  savepoint-app/features/browse-related-games/index.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint: any of: *.{js,jsx,ts,tsx}
