Repository NeiruBugz/play-later-v2: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    prettier:
      glob: "*.{js,jsx,ts,tsx,json,css,md}"
      run: |
        FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\n' ' ')
        if [ -n "$FILES" ]; then
          cd savepoint-app && pnpm exec prettier --write --cache $FILES
        fi
      stage_fixed: true
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: |
        FILES=$(echo {staged_files} | xargs -n1 | grep '^savepoint-app/' | sed 's@^savepoint-app/@@' | tr '\n' ' ')
        if [ -n "$FILES" ]; then
          cd savepoint-app && pnpm exec eslint --fix $FILES
        fi
      stage_fixed: true
    typecheck:
      run: cd savepoint-app && pnpm typecheck

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

fix(deps): update cryptography in lambdas-py
  lambdas-py/uv.lock
Due: none

fix(deps): add pnpm overrides for rollup and fast-xml-parser vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier

docs: add library status redesign spec and implementation plan
  docs/superpowers/plans/2026-03-19-library-status-redesign.md
  docs/superpowers/specs/2026-03-19-library-status-redesign-design.md
Due: prettier

docs: add agent mapping to implementation plan
  docs/superpowers/plans/2026-03-19-library-status-redesign.md
Due: prettier

docs: add Next.js alternatives analysis for SavePoint
  context/product/nextjs-alternatives-analysis.md
Due: prettier

docs: add NextAuth → Better Auth migration plan
  context/product/nextjs-alternatives-analysis.md
Due: prettier

docs: add NextAuth to Better Auth migration plan
  plan.md
Due: prettier

docs: update migration plan with SOLID refactoring
  plan.md
Due: prettier

refactor(auth): reduce repetition in auth patterns across layers
  savepoint-app/app/(protected)/journal/new/page.tsx
  savepoint-app/app/(protected)/layout.tsx
  savepoint-app/app/api/library/route.ts
  savepoint-app/app/api/steam/auth/callback/route.ts
  savepoint-app/app/api/steam/auth/route.ts
  savepoint-app/app/api/steam/connect/route.ts
  savepoint-app/app/api/steam/games/route.ts
  savepoint-app/app/api/steam/sync/route.ts
  savepoint-app/features/dashboard/server-actions/get-random-want-to-play.ts
  savepoint-app/features/journal/server-actions/create-journal-entry.ts
  savepoint-app/features/journal/server-actions/delete-journal-entry.ts
  savepoint-app/features/journal/server-actions/get-journal-entries.ts
  savepoint-app/features/journal/server-actions/get-library-items-by-game-id.ts
  savepoint-app/features/journal/server-actions/get-playing-game.ts
  savepoint-app/features/journal/server-actions/update-journal-entry.ts
  savepoint-app/features/library/server-actions/update-library-status.ts
  savepoint-app/features/manage-library-entry/server-actions/add-to-library-action.ts
  savepoint-app/features/manage-library-entry/server-actions/delete-library-item.ts
  savepoint-app/features/manage-library-entry/server-actions/get-library-status-for-games.ts
  savepoint-app/features/manage-library-entry/server-actions/quick-add-to-library-action.ts
  savepoint-app/features/manage-library-entry/server-actions/update-library-entry-action.ts
  savepoint-app/features/manage-library-entry/server-actions/update-library-status-action.ts
  savepoint-app/features/onboarding/server-actions/dismiss-onboarding.ts
  savepoint-app/features/profile/server-actions/update-profile.ts
  savepoint-app/features/setup-profile/server-actions/complete-profile-setup.ts
  savepoint-app/features/setup-profile/server-actions/skip-profile-setup.ts
  savepoint-app/features/steam-import/server-actions/disconnect-steam.ts
  savepoint-app/features/steam-import/server-actions/dismiss-imported-game-action.ts
  savepoint-app/features/steam-import/server-actions/import-to-library-action.ts
  savepoint-app/features/steam-import/server-actions/trigger-background-sync.ts
  savepoint-app/shared/components/auth-context.tsx
  savepoint-app/shared/lib/auth/index.ts
  savepoint-app/shared/lib/auth/require-api-auth.ts
  savepoint-app/shared/lib/server-action/create-server-action.ts
  savepoint-app/shared/server-actions/profile/upload-avatar.ts
Due: prettier, eslint

📋 docs: update project audit scores and findings
  context/audits/2026-03-25/ai-development-tooling.md
  context/audits/2026-03-25/code-architecture.md
  context/audits/2026-03-25/documentation.md
  context/audits/2026-03-25/end-to-end-delivery.md
  context/audits/2026-03-25/project-topology.md
  context/audits/2026-03-25/recommendations.md
  context/audits/2026-03-25/report.html
  context/audits/2026-03-25/report.md
  context/audits/2026-03-25/security.md
  context/audits/2026-03-25/software-best-practices.md
  context/audits/2026-03-25/spec-driven-development.md
Due: prettier

fix(steam-import): update test to use new 5-status enum values
  savepoint-app/features/steam-import/use-cases/import-game-to-library.unit.test.ts
Due: prettier, eslint

fix(steam-import): restore error handling for findGameByIgdbId
  savepoint-app/features/steam-import/use-cases/import-game-to-library.ts
Due: prettier, eslint

🔧 chore: add AWOS hire command and agent template
  .awos/commands/hire.md
  .awos/templates/agent-template.md
Due: prettier

🔧 chore: add Claude agents, skills, and AWOS command definitions
  .claude/agents/prisma-database.md
  .claude/commands/awos/hire.md
  .claude/skills/react-best-practices/SKILL.md
  .claude/skills/react-feature-sliced-design/SKILL.md
  .claude/skills/react-feature-sliced-design/references/claude-md-template.md
  .claude/skills/react-feature-sliced-design/references/layers.md
  .claude/skills/react-feature-sliced-design/references/segments.md
Due: prettier

📝 docs: add code health round 2 and FSD architecture compliance specs
  context/spec/006-code-health-dx-round-2/functional-spec.md
  context/spec/006-code-health-dx-round-2/technical-considerations.md
  context/spec/007-fsd-architecture-compliance/functional-spec.md
  context/spec/007-fsd-architecture-compliance/technical-considerations.md
Due: prettier

📝 docs: add code health round 2 audit findings to roadmap
  context/product/roadmap.md
Due: prettier

✅ test: fix library page view selectors for duplicate elements
  savepoint-app/features/library/ui/library-page-view.test.tsx
Due: prettier, eslint

🙈 chore: add .claude/worktrees to .gitignore
  .gitignore
Due: none

fix(lint): resolve ESLint errors and warnings across codebase
  savepoint-app/data-access-layer/handlers/platform/get-platforms-for-library-modal.ts
  savepoint-app/data-access-layer/services/game-detail/game-detail-service.ts
  savepoint-app/data-access-layer/services/index.ts
  savepoint-app/data-access-layer/services/platform/platform-service.ts
  savepoint-app/data-access-layer/services/platform/platform-service.unit.test.ts
  savepoint-app/data-access-layer/services/profile/profile-service.unit.test.ts
  savepoint-app/features/journal/server-actions/get-games-by-ids.ts
  savepoint-app/features/journal/ui/delete-entry-dialog.tsx
  savepoint-app/features/manage-library-entry/ui/delete-confirmation-dialog.tsx
  savepoint-app/features/steam-import/use-cases/import-game-to-library.unit.test.ts
  savepoint-app/shared/lib/library-status.ts
Due: prettier, eslint

fix(test): align unit test mocks and assertions with service behavior
  savepoint-app/data-access-layer/services/auth/auth-service.unit.test.ts
  savepoint-app/data-access-layer/services/journal/journal-service.unit.test.ts
  savepoint-app/data-access-layer/services/library/library-service.unit.test.ts
  savepoint-app/data-access-layer/services/onboarding/onboarding-service.ts
  savepoint-app/data-access-layer/services/onboarding/onboarding-service.unit.test.ts
  savepoint-app/features/manage-library-entry/use-cases/get-platforms-for-library-modal.unit.test.ts
  savepoint-app/test/fixtures/service/profile.ts
Due: prettier, eslint

fix(test): fix rate-limit integration tests to match default limit of 120
  savepoint-app/data-access-layer/handlers/game-search/game-search-handler.integration.test.ts
  savepoint-app/data-access-layer/handlers/steam-import/fetch-steam-games.handler.integration.test.ts
  savepoint-app/data-access-layer/handlers/steam-import/steam-connect.handler.integration.test.ts
Due: prettier, eslint

🔧 chore: add PostToolUse hook for auto format and lint on file writes
  .claude/hooks/format-and-lint.sh
  .claude/settings.json
Due: prettier

🐛 fix: parse tool_input as compact JSON in sensitive-files hook
  .claude/hooks/check-sensitive-files.sh
Due: none

🔥 fix: hide non-functional "Track on another platform" button
  savepoint-app/features/manage-library-entry/ui/entry-form.tsx
Due: prettier, eslint

Add specialist agents for react-frontend, nextjs-fullstack, and testing
  .claude/agents/nextjs-fullstack.md
  .claude/agents/react-frontend.md
  .claude/agents/testing.md
Due: prettier

Fix service layer ServiceResult consistency and update agent docs
  .claude/agents/nextjs-fullstack.md
  .claude/agents/react-frontend.md
  .claude/agents/testing.md
  savepoint-app/app/api/steam/auth/route.ts
  savepoint-app/data-access-layer/services/igdb/igdb-service.ts
  savepoint-app/data-access-layer/services/steam/steam-openid-service.ts
  savepoint-app/data-access-layer/services/steam/steam-openid-service.unit.test.ts
Due: prettier, eslint

chore: add project-level specialist agents, MCP servers, and skills
  .claude/agents/aws-infra.md
  .claude/agents/nextjs-fullstack.md
  .claude/agents/react-frontend.md
  .claude/agents/testing.md
  .claude/skills/terraform-conventions/SKILL.md
  .claude/skills/terraform-conventions/references/ci-cd-workflows.md
  .claude/skills/terraform-conventions/references/code-patterns.md
  .claude/skills/terraform-conventions/references/module-patterns.md
  .claude/skills/terraform-conventions/references/quick-reference.md
  .claude/skills/terraform-conventions/references/security-compliance.md
  .claude/skills/terraform-conventions/references/testing-frameworks.md
  .github/workflows/deploy.yml
  .mcp.json
Due: prettier

chore: add project-level specialist agents, MCP servers, and skills (#178)
  .claude/agents/aws-infra.md
  .claude/agents/nextjs-fullstack.md
  .claude/agents/react-frontend.md
  .claude/agents/testing.md
  .claude/skills/terraform-conventions/SKILL.md
  .claude/skills/terraform-conventions/references/ci-cd-workflows.md
  .claude/skills/terraform-conventions/references/code-patterns.md
  .claude/skills/terraform-conventions/references/module-patterns.md
  .claude/skills/terraform-conventions/references/quick-reference.md
  .claude/skills/terraform-conventions/references/security-compliance.md
  .claude/skills/terraform-conventions/references/testing-frameworks.md
  .github/workflows/deploy.yml
  .mcp.json
Due: prettier

fix(deps): downgrade @vitejs/plugin-react to v5 for Vite 7 compatibility
  package.json
  pnpm-lock.yaml
  savepoint-app/package.json
Due: prettier

refactor: remove unused Plus icon and onAddPlatform prop from entry form
  savepoint-app/features/manage-library-entry/ui/entry-form.tsx
Due: prettier, eslint

fix(deps): downgrade @vitejs/plugin-react to v5 for Vite 7 compat (#182)
  package.json
  pnpm-lock.yaml
  savepoint-app/features/manage-library-entry/ui/entry-form.tsx
  savepoint-app/package.json
Due: prettier, eslint

chore(specs): add task breakdowns for specs 006 and 007
  context/spec/006-code-health-dx-round-2/tasks.md
  context/spec/007-fsd-architecture-compliance/tasks.md
Due: prettier

chore(specs): add task breakdowns for specs 006 and 007 (#183)
  context/spec/006-code-health-dx-round-2/tasks.md
  context/spec/007-fsd-architecture-compliance/tasks.md
Due: prettier

chore: implement code health & DX round 2 (spec 006, slices 1-6)
  .gitignore
  CLAUDE.md
  Makefile
  context/spec/006-code-health-dx-round-2/tasks.md
  savepoint-app/README.md
  savepoint-app/app/(protected)/journal/page.tsx
  savepoint-app/app/CLAUDE.md
  savepoint-app/data-access-layer/CLAUDE.md
  savepoint-app/data-access-layer/handlers/CLAUDE.md
  savepoint-app/data-access-layer/services/CLAUDE.md
  savepoint-app/data-access-layer/services/game-detail/game-detail-service.ts
  savepoint-app/data-access-layer/services/index.ts
  savepoint-app/features/steam-import/use-cases/import-game-to-library.ts
  savepoint-app/features/steam-import/use-cases/import-game-to-library.unit.test.ts
  scripts/README.md
Due: prettier, eslint

chore: add lambdas-py CI job and mark slices 5-6 complete
  .github/workflows/pr-checks.yml
  context/spec/006-code-health-dx-round-2/tasks.md
Due: prettier
